---
import { LOCALES, useTranslations, type Lang } from '@/i18n'
import Layout from '@/layouts/Layout.astro'
const t = useTranslations(Astro.currentLocale as Lang)
const lang = Astro.params.lang || 'en'
import { Image } from 'astro:assets'
import BonusImage from '@/images/50_box.png'
import Button from '@/components/ui/Button.astro'
import HandClickImg from '@/images/click_img.webp'
import PromoDepositImg from '@/images/promotions_deposit.webp'
import PromoRewardImg from '@/images/promotions_get_rewarded.webp'

export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang }
	}))
---

<Layout
	title={t({
		en: 'Welcome Bonus',
		ar: 'مكافأة الترحيب',
		es: 'Bono de bienvenida',
		fr: 'Bonus de bienvenue',
		hi: 'स्वागत बोनस',
		id: 'Bonus Selamat Datang',
		ms: 'Bonus Selamat Datang',
		th: 'โบนัสต้อนรับ',
		vi: 'Tiền thưởng chào mừng',
		bn: 'স্বাগত বোনাস',
		'zh-hans': '欢迎奖金',
		'pt-br': 'Bônus de boas-vindas'
	})}
>
	<section>
		<div class="container py-20">
			<div class="grid gap-3 md:grid-cols-2">
				<div class="col-span-full md:col-span-1">
					<div class="flex items-center gap-4">
						<span
							class="rounded-full border border-neutral-200 px-4 py-2 font-semibold shadow-lg dark:border-neutral-700"
						>
							{
								t({
									en: 'Rate 4.5 of 5',
									ar: 'تقييم 4.5 من 5',
									es: 'Calificación de 4.5 sobre 5',
									fr: 'Évaluation de 4,5 sur 5',
									hi: '4.5 में से 5 की रेटिंग',
									id: 'Rating 4,5 dari 5',
									ms: 'Penilaian 4.5 daripada 5',
									th: 'คะแนน 4.5 จาก 5',
									vi: 'Đánh giá 4.5 trên 5',
									bn: '৫ এর মধ্যে ৪.৫ রেটিং',
									'zh-hans': '评分4.5/5',
									'pt-br': 'Avaliação de 4,5 de 5'
								})
							}
						</span>
						<span class="gap- flex items-center">
							<iconify-icon icon="line-md:star-filled" width="32" height="32"></iconify-icon>
							<iconify-icon icon="line-md:star-filled" width="32" height="32"></iconify-icon>
							<iconify-icon icon="line-md:star-filled" width="32" height="32"></iconify-icon>
							<iconify-icon icon="line-md:star-filled" width="32" height="32"></iconify-icon>
							<iconify-icon icon="line-md:star-filled-half" width="32" height="32"></iconify-icon>
						</span>
					</div>
					<div class="my-6">
						<span
							class="rounded-full border border-neutral-200 px-4 py-2 font-semibold shadow-lg dark:border-neutral-700"
							set:html={t({
								en: 'Start now and <span class="text-dbgreen-500">#Ensure</span> a...',
								ar: 'ابدأ الآن و <span class="text-dbgreen-500">#تأكد</span> من...',
								es: 'Comienza ahora y <span class="text-dbgreen-500">#Asegura</span> un...',
								fr: 'Commencez maintenant et <span class="text-dbgreen-500">#Assurez</span> un...',
								hi: 'अब शुरू करें और <span class="text-dbgreen-500">#सुनिश्चित</span> करें कि...',
								id: 'Mulai sekarang dan <span class="text-dbgreen-500">#Pastikan</span> a...',
								ms: 'Mulakan sekarang dan <span class="text-dbgreen-500">#Pastikan</span> a...',
								th: 'เริ่มตอนนี้และ <span class="text-dbgreen-500">#รับประกัน</span> a...',
								vi: 'Bắt đầu ngay và <span class="text-dbgreen-500">#Đảm bảo</span> một...',
								bn: 'এখনই শুরু করুন এবং <span class="text-dbgreen-500">#নিশ্চিত</span> করুন যে...',
								'zh-hans': '现在开始并 <span class="text-dbgreen-500">#确保</span> 一个...',
								'pt-br': 'Comece agora e <span class="text-dbgreen-500">#Assegure</span> um...'
							})}
						/>
					</div>
					<div class="flex items-center pt-3">
						<div class="">
							<h1
								class="block border-r-2 border-neutral-200 px-4 text-3xl font-bold text-dbgreen-500 dark:border-neutral-700 sm:text-4xl lg:text-6xl lg:leading-tight"
							>
								50%
							</h1>
						</div>
						<h1 class="block px-4 text-3xl font-bold text-black dark:text-white">
							{
								t({
									en: 'First Deposit Bonus',
									ar: 'مكافأة الإيداع الأولى',
									es: 'Bono de Primer Depósito',
									fr: 'Bonus de Premier Dépôt',
									hi: 'पहली जमा बोनस',
									id: 'Bonus Setoran Pertama',
									ms: 'Bonus Deposit Pertama',
									th: 'โบนัสฝากเงินครั้งแรก',
									vi: 'Thưởng Gửi Tiền Đầu Tiên',
									bn: 'প্রথম ডিপোজিট বোনাস',
									'zh-hans': '首存奖金',
									'pt-br': 'Bônus de Primeiro Depósito'
								})
							}
						</h1>
					</div>
					<p class="text-color my-5">
						{
							t({
								en: 'Take the first step, increase your funds and margin for sustained growth and enhanced prosperity.',
								ar: 'اتخذ الخطوة الأولى، وزد من أموالك وهامشك لتحقيق نمو مستدام وازدهار متزايد.',
								es: 'Da el primer paso, aumenta tus fondos y margen para un crecimiento sostenido y una prosperidad mejorada.',
								fr: 'Faites le premier pas, augmentez vos fonds et votre marge pour une croissance soutenue et une prospérité accrue.',
								hi: 'पहला कदम उठाएं, अपने फंड और मार्जिन को बढ़ाएं ताकि स्थायी विकास और बेहतर समृद्धि प्राप्त हो सके।',
								id: 'Ambil langkah pertama, tingkatkan dana dan margin Anda untuk pertumbuhan yang berkelanjutan dan kemakmuran yang lebih baik.',
								ms: 'Ambil langkah pertama, tingkatkan dana dan margin anda untuk pertumbuhan berterusan dan kemakmuran yang lebih baik.',
								th: 'ก้าวแรก เพิ่มเงินทุนและมาร์จิ้นของคุณเพื่อการเติบโตที่ยั่งยืนและความเจริญรุ่งเรืองที่เพิ่มขึ้น',
								vi: 'Hãy thực hiện bước đầu tiên, tăng quỹ và tỷ lệ ký quỹ của bạn để đạt được sự tăng trưởng bền vững và thịnh vượng nâng cao.',
								bn: 'প্রথম পদক্ষেপ নিন, আপনার তহবিল এবং মার্জিন বাড়ান স্থায়ী বৃদ্ধি এবং উন্নত সমৃদ্ধির জন্য।',
								'zh-hans': '迈出第一步，增加您的资金和保证金，实现可持续增长和增强繁荣。',
								'pt-br':
									'Dê o primeiro passo, aumente seus fundos e margem para um crescimento sustentável e uma prosperidade aprimorada.'
							})
						}
					</p>
					<Button
						primary={true}
						rippleEffect={true}
						text={t({
							en: 'Get Rewards Now!',
							ar: 'احصل على المكافآت الآن!',
							es: '¡Obtén recompensas ahora!',
							fr: 'Obtenez des récompenses maintenant !',
							hi: 'अभी पुरस्कार प्राप्त करें!',
							id: 'Dapatkan Hadiah Sekarang!',
							ms: 'Dapatkan Ganjaran Sekarang!',
							th: 'รับรางวัลตอนนี้!',
							vi: 'Nhận phần thưởng ngay bây giờ!',
							bn: 'এখনই পুরস্কার পান!',
							'zh-hans': '立即获得奖励！',
							'pt-br': 'Obtenha Recompensas Agora!'
						})}
						class="rounded-full"
						href="https://my.dbinvesting.com/register/"
						traget="_blank"
						buttonIcon={' <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 2048 2048"> <path fill="currentColor" d="M192 480q-23-54-64-95t-96-65q54-23 95-64t65-96q23 54 64 95t96 65q-54 23-95 64t-65 96m1664 64q23 54 64 95t96 65q-54 23-95 64t-65 96q-23-54-64-95t-96-65q54-23 95-64t65-96m-384 96q-47-109-129-191t-191-129q109-47 191-129T1472 0q47 109 129 191t191 129q-109 47-191 129t-129 191m0-446q-56 71-126 126q70 56 126 126q55-70 126-126q-71-55-126-126M747 785q-47 0-88-19t-73-53t-48-76t-18-89q0-59 24-110t66-90t94-61t112-23q84 0 149 35t111 94t68 132t24 151q0 105-34 196t-93 167t-141 132t-174 97q-9 4-23 4q-23 0-39-16t-16-40q0-36 34-52q76-36 140-77t113-95t79-122t40-158q1-10 1-19t1-20q0-52-15-105t-45-96t-75-69t-105-27q-34 0-67 13t-59 37t-42 54t-16 68q0 23 9 45t24 40t37 29t46 11t38-7t23-20t14-25t12-25t17-19t29-8q23 0 40 17t17 40q0 5-2 13q-8 32-26 59t-44 46t-55 30t-64 11m880 111l274 275l-90 90l-147-146v933H256v-933l-147 146l-90-90l274-275h555q-35 41-77 72t-91 56H384v896h1152v-896h-331q17-31 31-63t25-65z" /> </svg>'}
					/>
				</div>
				<div class="col-span-full md:col-span-1">
					<Image
						src={BonusImage}
						alt="bonus-img"
						class="animate relative m-auto w-full max-w-[480px] animate-bouncemove"
					/>
				</div>
			</div>
		</div>
		<div class="container py-10">
			<div class="flex flex-row flex-wrap gap-4 lg:flex-nowrap">
				<div
					class="relative w-full overflow-hidden rounded-2xl border-2 p-4 shadow-lg transition hover:border-dbgreen-900 hover:shadow-2xl dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5"
				>
					<div class="relative flex h-full flex-row items-center justify-start gap-8">
						<div
							class="relative flex aspect-square size-12 items-center justify-center rounded-full border before:absolute before:-inset-2 before:rounded-full before:border dark:border-white/10 dark:bg-white/5 dark:before:border-white/5 dark:before:bg-white/5"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="40"
								height="40"
								class="text-dbgreen-500"
								viewBox="0 0 26 26"
							>
								<path
									fill="currentColor"
									d="M23.633 5.028a1.07 1.07 0 0 0-.777-.366c-2.295-.06-5.199-2.514-7.119-3.477C14.551.592 13.768.201 13.18.098a1.2 1.2 0 0 0-.36.001c-.588.103-1.371.494-2.556 1.087c-1.92.962-4.824 3.417-7.119 3.476a1.08 1.08 0 0 0-.778.366a1.17 1.17 0 0 0-.291.834c.493 10.023 4.088 16.226 10.396 19.831c.164.093.346.141.527.141s.363-.048.528-.141c6.308-3.605 9.902-9.808 10.396-19.831a1.16 1.16 0 0 0-.29-.834M13 18.057a6.057 6.057 0 1 1 0-12.114a6.057 6.057 0 0 1 0 12.114m2.48-9.548L9.509 14.48A4.26 4.26 0 0 1 8.707 12A4.3 4.3 0 0 1 13 7.707c.926 0 1.777.301 2.48.802m1.01 1.011c.501.702.803 1.555.803 2.48A4.3 4.3 0 0 1 13 16.293a4.26 4.26 0 0 1-2.48-.802z"
								></path>
							</svg>
						</div>
						<div class="">
							<h2 class="text-xl font-bold text-neutral-800 dark:text-white">
								{
									t({
										en: 'Zero Restriction',
										ar: 'لا قيود',
										es: 'Cero Restricciones',
										fr: 'Aucune Restriction',
										hi: 'कोई प्रतिबंध नहीं',
										id: 'Tidak Ada Pembatasan',
										ms: 'Tiada Sekatan',
										th: 'ไม่มีข้อจำกัด',
										vi: 'Không có giới hạn',
										bn: 'শূন্য বিধিনিষেধ',
										'zh-hans': '零限制',
										'pt-br': 'Zero Restrições'
									})
								}
							</h2>
							<p class="">
								{
									t({
										en: 'Withdraw profits, no restrictions',
										ar: 'سحب الأرباح، لا قيود',
										es: 'Retirar ganancias, sin restricciones',
										fr: 'Retirez les bénéfices, sans restrictions',
										hi: 'लाभ निकालें, कोई प्रतिबंध नहीं',
										id: 'Tarik keuntungan, tanpa batasan',
										ms: 'Keluarkan keuntungan, tiada sekatan',
										th: 'ถอนกำไร ไม่มีข้อจำกัด',
										vi: 'Rút lợi nhuận, không có hạn chế',
										bn: 'লাভ তুলুন, কোনো বিধিনিষেধ নেই',
										'zh-hans': '提取利润，无限制',
										'pt-br': 'Retire lucros, sem restrições'
									})
								}
							</p>
						</div>
					</div>
				</div>
				<div
					class="relative w-full overflow-hidden rounded-2xl border-2 p-4 shadow-lg transition hover:border-dbgreen-900 hover:shadow-2xl dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5"
				>
					<div class="relative flex h-full flex-row items-center justify-start gap-8">
						<div
							class="relative flex aspect-square size-12 items-center justify-center rounded-full border before:absolute before:-inset-2 before:rounded-full before:border dark:border-white/10 dark:bg-white/5 dark:before:border-white/5 dark:before:bg-white/5"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="40"
								height="40"
								class="text-dbgreen-500"
								viewBox="0 0 24 24"
							>
								<path
									fill="currentColor"
									d="M13.52 13.67c-.27 1.09-2.1.5-2.7.35l.48-1.93c.6.15 2.5.44 2.22 1.58m-1.56-4.22l-.44 1.75c.5.12 2.03.63 2.28-.36c.25-1.03-1.34-1.27-1.84-1.39m7.8 4.48c-1.07 4.28-5.41 6.89-9.7 5.83c-4.28-1.07-6.9-5.41-5.83-9.69c1.07-4.29 5.41-6.89 9.7-5.83c4.28 1.07 6.9 5.41 5.83 9.69m-10.39-.59c-.04.11-.15.27-.4.21c-.04 0-.64-.16-.64-.16l-.44 1l1.14.28c.22.06.42.11.63.17l-.36 1.45l.87.22l.36-1.44c.24.07.47.12.7.18l-.36 1.43l.88.22l.36-1.45c1.5.28 2.63.17 3.1-1.19c.38-1.09-.02-1.72-.81-2.13c.57-.13 1-.51 1.12-1.29c.16-1.06-.65-1.64-1.76-2.01l.36-1.45l-.88-.22l-.35 1.4c-.23-.06-.47-.11-.71-.17l.35-1.41l-.87-.22l-.36 1.44c-.19-.04-.38-.09-.56-.13l-1.21-.31l-.23.94s.64.15.64.16c.35.09.41.32.41.51l-.99 3.95Z"
								></path>
							</svg>
						</div>
						<div class="">
							<h2 class="text-xl font-bold text-neutral-800 dark:text-white">
								{
									t({
										en: 'Stronger Start',
										ar: 'بداية أقوى',
										es: 'Inicio más fuerte',
										fr: 'Début plus fort',
										hi: 'मजबूत शुरुआत',
										id: 'Awal yang lebih kuat',
										ms: 'Permulaan yang lebih kuat',
										th: 'เริ่มต้นที่แข็งแกร่งขึ้น',
										vi: 'Khởi đầu mạnh mẽ hơn',
										bn: 'শক্তিশালী শুরু',
										'zh-hans': '更强的开始',
										'pt-br': 'Começo mais forte'
									})
								}
							</h2>
							<p class="">
								{
									t({
										en: 'Stronger Start Boost your trading with more margin',
										ar: 'بداية أقوى عزز تداولك مع مزيد من الهامش',
										es: 'Inicio más fuerte Impulsa tu trading con más margen',
										fr: 'Début plus fort Renforcez votre trading avec plus de marge',
										hi: 'मजबूत शुरुआत अपने ट्रेडिंग को अधिक मार्जिन के साथ बढ़ाएं',
										id: 'Awal yang lebih kuat Tingkatkan perdagangan Anda dengan lebih banyak margin',
										ms: 'Permulaan yang lebih kuat Tingkatkan perdagangan anda dengan lebih banyak margin',
										th: 'เริ่มต้นที่แข็งแกร่งขึ้น เพิ่มการซื้อขายของคุณด้วยมาร์จิ้นที่มากขึ้น',
										vi: 'Khởi đầu mạnh mẽ Hãy tăng cường giao dịch của bạn với nhiều margin hơn',
										bn: 'শক্তিশালী শুরু আপনার ট্রেডিংকে আরও মার্জিনের সাথে বাড়িয়ে দিন',
										'zh-hans': '更强的开始 用更多的保证金提升你的交易',
										'pt-br': 'Começo mais forte Aumente suas operações com mais margem'
									})
								}
							</p>
						</div>
					</div>
				</div>
				<div
					class="relative w-full rounded-2xl border-2 p-4 shadow-lg transition hover:border-dbgreen-900 hover:shadow-2xl dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5"
				>
					<div class="relative flex h-full flex-row items-center justify-start gap-8">
						<div
							class="relative flex aspect-square size-12 items-center justify-center rounded-full border before:absolute before:-inset-2 before:rounded-full before:border dark:border-white/10 dark:bg-white/5 dark:before:border-white/5 dark:before:bg-white/5"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="40"
								height="40"
								class="text-dbgreen-500"
								viewBox="0 0 26 26"
							>
								<g fill="currentColor">
									<path
										fill-rule="evenodd"
										d="M13.5 26C20.404 26 26 20.404 26 13.5S20.404 1 13.5 1S1 6.596 1 13.5S6.596 26 13.5 26m0-2C19.299 24 24 19.299 24 13.5S19.299 3 13.5 3S3 7.701 3 13.5S7.701 24 13.5 24"
										clip-rule="evenodd"
										opacity="0.2"></path>
									<g opacity="0.2">
										<path
											fill-rule="evenodd"
											d="M7.165 7.115a1 1 0 0 0-1.322.501L3.76 12.24a1 1 0 0 0 .5 1.322l1.4.63a1 1 0 0 0 1.323-.5l2.082-4.623a1 1 0 0 0-.501-1.322zm-1.75 5.754a.663.663 0 1 0 .545-1.208a.663.663 0 0 0-.545 1.208m16.65.818a1 1 0 0 0 .58-1.29l-1.796-4.74a1 1 0 0 0-1.289-.581l-1.435.544a1 1 0 0 0-.581 1.29l1.796 4.74a1 1 0 0 0 1.29.581zm-2.831-5.306a.663.663 0 1 0 .47 1.24a.663.663 0 0 0-.47-1.24"
											clip-rule="evenodd"></path>
										<path
											fill-rule="evenodd"
											d="M18.082 8.69h-.008l-.023.002l-.09.008l-.334.033c-.282.03-.673.073-1.103.13c-.874.116-1.867.282-2.472.483c-.199.067-.462.216-.776.445a11 11 0 0 0-.968.813a26 26 0 0 0-1.7 1.76c-.145.163-.12.335-.038.423c.259.278.6.554.984.667c.352.103.788.087 1.321-.313l.014-.01l.995-.642c.209-.136.596-.294.99-.076c.437.242 1.093.828 1.597 1.303a35 35 0 0 1 .872.852c.062.01.171.005.347-.055a3.4 3.4 0 0 0 .758-.398a8 8 0 0 0 .923-.727l.012-.012l.003-.003m-2.678 1.976l.059.06l.076.039c.396.198.831.126 1.167.013a4.4 4.4 0 0 0 .992-.513a8.6 8.6 0 0 0 1.048-.826l.017-.017l.005-.004l.002-.002l-.343-.363l.344.362a.5.5 0 1 0-.689-.725m-2.678 1.976l-.005-.004l-.013-.014l-.054-.055l-.198-.2a34 34 0 0 0-.653-.632c-.498-.47-1.027-.932-1.342-1.125l-.017.01l-.966.623c-.772.573-1.529.655-2.188.461c-.632-.186-1.12-.608-1.434-.945c-.497-.534-.399-1.293.02-1.766a27 27 0 0 1 1.769-1.83a12 12 0 0 1 1.06-.889c.344-.251.706-.47 1.049-.585c.706-.236 1.787-.41 2.657-.526a41 41 0 0 1 1.475-.167l.094-.009l.025-.002l.008-.001a.5.5 0 0 1 .087.996"
											clip-rule="evenodd"></path>
										<path
											fill-rule="evenodd"
											d="m8.508 9.624l-.197-.46l-.197-.46l.04-.016l.11-.047a91 91 0 0 1 1.625-.67c.458-.184.936-.37 1.334-.51c.198-.07.381-.13.535-.174c.133-.038.303-.082.444-.082c.128 0 .263.03.373.059c.12.031.25.075.383.123c.267.097.568.224.846.347a28 28 0 0 1 .966.453l.064.032l.017.008l.006.003a.5.5 0 0 1-.446.895l-.005-.003l-.016-.007l-.06-.03a28 28 0 0 0-.932-.437c-.27-.12-.546-.236-.781-.321a4 4 0 0 0-.3-.097a1 1 0 0 0-.111-.025l-.009.002c-.02.004-.07.014-.164.041q-.191.056-.478.156c-.377.134-.841.313-1.295.495a85 85 0 0 0-1.606.663l-.108.046zm-.656-.263a.5.5 0 0 1 .262-.657l.197.46l.197.46a.5.5 0 0 1-.656-.263m-1.85 3.837a.5.5 0 0 1 .707-.02l-.343.363l-.344.364a.5.5 0 0 1-.02-.707m4.462 3.292l2.653.995a1.5 1.5 0 0 0 1.588-.344l2.007-2.008a.5.5 0 1 1 .708.708l-2.008 2.007a2.5 2.5 0 0 1-2.646.573l-2.71-1.016l-.023-.012a3 3 0 0 1-.425-.285a15 15 0 0 1-.542-.442c-.4-.34-.872-.76-1.322-1.167a124 124 0 0 1-1.579-1.46l-.105-.099l-.038-.035l.344-.364l.343-.363l.037.034l.104.099a121 121 0 0 0 1.566 1.447c.447.405.91.817 1.296 1.145c.194.164.366.305.506.412c.127.098.207.152.246.175m-3.696 1.76a1 1 0 0 1 1.409-.126l.92.769a1 1 0 0 0 .502.223l1.188.166a1 1 0 1 1-.278 1.981l-1.188-.167a3 3 0 0 1-1.506-.668l-.92-.769a1 1 0 0 1-.127-1.408"
											clip-rule="evenodd"></path>
										<path
											d="m7.948 9.124l2.432-.973h2.432l4.74.527l.973 2.431l.973 2.432l-1.945 1.46l-3.405 2.918l-3.768-.848l-2.069-1.584l-1.945-1.946z"
										></path>
									</g>
									<path
										fill-rule="evenodd"
										d="M6.646 5.49a1 1 0 0 0-1.322.502l-2.163 4.803a1 1 0 0 0 .5 1.322l1.49.671a1 1 0 0 0 1.323-.5l2.163-4.804a1 1 0 0 0-.5-1.322zm-1.773 5.927a.681.681 0 1 0 .56-1.242a.681.681 0 0 0-.56 1.242m17.142.831a1 1 0 0 0 .58-1.29L20.73 6.034a1 1 0 0 0-1.29-.581l-1.527.579a1 1 0 0 0-.58 1.29l1.866 4.925a1 1 0 0 0 1.289.581zm-2.937-5.445a.681.681 0 1 0 .483 1.274a.681.681 0 0 0-.483-1.274"
										clip-rule="evenodd"></path>
									<path
										fill-rule="evenodd"
										d="M17.885 7.107h.008a.5.5 0 1 0-.087-.997h-.008l-.026.003l-.096.01l-.354.034c-.297.03-.708.077-1.162.137c-.895.118-2.004.298-2.73.54c-.352.117-.724.344-1.08.604c-.361.264-.735.585-1.093.918a28 28 0 0 0-1.819 1.885c-.419.474-.516 1.23-.024 1.766c.32.346.82.784 1.468.98c.677.203 1.457.124 2.254-.468l.999-.645l.018-.011c.143.087.342.237.58.436c.26.218.542.475.805.722a34 34 0 0 1 .88.86l.055.057l.014.014l.005.005l.059.06l.075.039c.403.2.846.128 1.19.012c.358-.12.714-.324 1.017-.525a9 9 0 0 0 1.075-.849l.018-.016l.005-.005l.001-.001s-.088-.31-.432-.672l-.271.34L19 13l-2.508.957L17 13.5l-.268-.717a34 34 0 0 0-.508-.49c-.27-.254-.568-.525-.85-.76c-.273-.23-.557-.448-.794-.578c-.394-.216-.78-.056-.988.079l-1.028.664l-.014.01c-.555.416-1.011.432-1.38.321c-.4-.12-.755-.412-1.02-.7c-.083-.09-.107-.263.037-.426a27 27 0 0 1 1.752-1.815c.34-.317.682-.61 1.001-.843c.326-.238.6-.393.807-.462c.624-.208 1.645-.379 2.544-.498a41 41 0 0 1 1.478-.167l.093-.009z"
										clip-rule="evenodd"></path>
									<path
										d="M17.127 13.177a35 35 0 0 0-.395-.394L17 13.5l-.508.457L19 13l.229-.66l.271-.34l-.255-.054l-.003.002l-.014.013l-.054.05a8 8 0 0 1-.895.699c-.27.18-.543.33-.783.41c-.186.063-.302.068-.369.057"
									></path>
									<path
										fill-rule="evenodd"
										d="m8.047 8.068l-.197-.46l-.197-.46l.04-.016l.113-.048a93 93 0 0 1 1.67-.69a38 38 0 0 1 1.372-.523c.203-.072.392-.134.55-.179c.136-.039.31-.084.452-.084c.13 0 .267.03.38.06c.122.033.256.077.392.127c.274.1.583.23.869.356a29 29 0 0 1 .992.466l.066.032l.018.009l.006.003a.5.5 0 0 1-.447.895l-.005-.003l-.016-.008l-.062-.03a29 29 0 0 0-.959-.45a13 13 0 0 0-.803-.33a4 4 0 0 0-.309-.1a1 1 0 0 0-.119-.026l-.009.002c-.02.003-.073.014-.172.042a9 9 0 0 0-.492.161c-.388.137-.865.322-1.332.509a87 87 0 0 0-1.651.681l-.111.047zm-.657-.263a.5.5 0 0 1 .263-.656l.197.46l.197.459a.5.5 0 0 1-.657-.263m-1.903 3.96a.5.5 0 0 1 .707-.02l-.344.363l-.343.364a.5.5 0 0 1-.02-.707m4.57 3.387l2.763 1.036a1.5 1.5 0 0 0 1.587-.344l2.09-2.09a.5.5 0 0 1 .707.708l-2.09 2.09a2.5 2.5 0 0 1-2.645.572l-2.82-1.057l-.023-.011a3 3 0 0 1-.434-.293c-.162-.124-.352-.28-.557-.454a57 57 0 0 1-1.358-1.199a128 128 0 0 1-1.623-1.5l-.109-.102l-.038-.036l.343-.364l.344-.363l.037.035l.107.101a132 132 0 0 0 1.61 1.488c.46.417.935.84 1.333 1.178c.2.169.377.313.52.424c.132.101.215.157.256.18M6.67 17.288a.5.5 0 0 1 .703-.063l.959.8a1.5 1.5 0 0 0 .753.334l1.236.174a.5.5 0 1 1-.138.99l-1.237-.173a2.5 2.5 0 0 1-1.255-.557l-.959-.8a.5.5 0 0 1-.063-.705"
										clip-rule="evenodd"></path>
									<path
										fill-rule="evenodd"
										d="M13 24.5c6.351 0 11.5-5.149 11.5-11.5S19.351 1.5 13 1.5S1.5 6.649 1.5 13S6.649 24.5 13 24.5m0 1c6.904 0 12.5-5.596 12.5-12.5S19.904.5 13 .5S.5 6.096.5 13S6.096 25.5 13 25.5"
										clip-rule="evenodd"></path>
								</g>
							</svg>
						</div>
						<div class="">
							<h2 class="text-xl font-bold text-neutral-800 dark:text-white">
								{
									t({
										en: 'Simple Terms',
										ar: 'شروط بسيطة',
										es: 'Términos simples',
										fr: 'Conditions simples',
										hi: 'सरल शर्तें',
										id: 'Syarat Sederhana',
										ms: 'Terma Mudah',
										th: 'ข้อกำหนดง่ายๆ',
										vi: 'Điều khoản đơn giản',
										bn: 'সোজা শর্তাবলী',
										'zh-hans': '简单条款',
										'pt-br': 'Termos simples'
									})
								}
							</h2>
							<p class="">
								{
									t({
										en: 'Gain bonus without complex rules',
										ar: 'احصل على مكافأة دون قواعد معقدة',
										es: 'Obtén un bono sin reglas complejas',
										fr: 'Obtenez un bonus sans règles complexes',
										hi: 'जटिल नियमों के बिना बोनस प्राप्त करें',
										id: 'Dapatkan bonus tanpa aturan yang rumit',
										ms: 'Dapatkan bonus tanpa peraturan yang kompleks',
										th: 'รับโบนัสโดยไม่มีข้อกำหนดที่ซับซ้อน',
										vi: 'Nhận thưởng mà không có quy tắc phức tạp',
										bn: 'জটিল নিয়ম ছাড়াই বোনাস পান',
										'zh-hans': '在没有复杂规则的情况下获得奖金',
										'pt-br': 'Ganhe bônus sem regras complexas'
									})
								}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container py-10">
			<div class="mb-6 text-center">
				<h1 class="mb-3 block px-4 text-3xl font-bold text-black dark:text-white md:text-5xl">
					{
						t({
							en: 'How It Works',
							ar: 'كيف يعمل',
							es: 'Cómo funciona',
							fr: 'Comment ça marche',
							hi: 'यह कैसे काम करता है',
							id: 'Cara Kerjanya',
							ms: 'Bagaimana Ia Berfungsi',
							th: 'มันทำงานอย่างไร',
							vi: 'Cách nó hoạt động',
							bn: 'এটি কিভাবে কাজ করে',
							'zh-hans': '它是如何工作的',
							'pt-br': 'Como Funciona'
						})
					}
				</h1>
				<p class="text-md text-color font-semibold">
					{
						t({
							en: 'Match up to 50% of your deposit with trading credits.',
							ar: 'مطابقة تصل إلى 50٪ من إيداعك مع ائتمانات التداول.',
							es: 'Coincide hasta el 50% de tu depósito con créditos de trading.',
							fr: "Correspondre jusqu'à 50% de votre dépôt avec des crédits de trading.",
							hi: 'अपने जमा राशि का 50% ट्रेडिंग क्रेडिट के साथ मिलाएं।',
							id: 'Cocokkan hingga 50% dari setoran Anda dengan kredit perdagangan.',
							ms: 'Padankan hingga 50% daripada deposit anda dengan kredit dagangan.',
							th: 'ตรงกันสูงสุด 50% ของเงินฝากของคุณด้วยเครดิตการเทรด',
							vi: 'Khớp tới 50% số tiền gửi của bạn với tín dụng giao dịch.',
							bn: 'আপনার জমার 50% পর্যন্ত ট্রেডিং ক্রেডিটের সাথে মেলান।',
							'zh-hans': '与交易信用匹配您存款的50%。',
							'pt-br': 'Combine até 50% do seu depósito com créditos de negociação.'
						})
					}
				</p>
			</div>
			<div class="flex flex-col gap-8">
				<div
					class="relative w-full overflow-hidden rounded-2xl border-2 p-4 shadow-lg transition hover:border-dbgreen-900 hover:shadow-2xl dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5"
				>
					<div
						class="relative flex h-full flex-col justify-center gap-8 md:flex-row md:items-center"
					>
						<Image
							class="w-full max-w-[100px] invert filter dark:invert-0 md:max-w-[180px]"
							alt="hand-click"
							src={HandClickImg}
						/>

						<div class="w-full max-w-[480px]">
							<h2 class="font-bold text-dbgreen-500 md:text-3xl lg:text-4xl">
								{
									t({
										en: 'Activate',
										ar: 'تفعيل',
										es: 'Activar',
										fr: 'Activer',
										hi: 'सक्रिय करें',
										id: 'Aktifkan',
										ms: 'Aktifkan',
										th: 'เปิดใช้งาน',
										vi: 'Kích hoạt',
										bn: 'সক্রিয় করুন',
										'zh-hans': '激活',
										'pt-br': 'Ativar'
									})
								}
							</h2>
							<p class="">
								{
									t({
										en: 'Head to your Client Portal to activate the promotion under the “Promotions” tab.',
										ar: "انتقل إلى بوابة العملاء الخاصة بك لتفعيل العرض في علامة التبويب 'العروض'.",
										es: "Dirígete a tu Portal del Cliente para activar la promoción en la pestaña 'Promociones'.",
										fr: "Rendez-vous sur votre portail client pour activer la promotion sous l'onglet « Promotions ». ",
										hi: "अपने क्लाइंट पोर्टल पर जाएं और 'प्रमोशन्स' टैब के तहत प्रमोशन को सक्रिय करें।",
										id: "Pergi ke Portal Klien Anda untuk mengaktifkan promosi di bawah tab 'Promosi'.",
										ms: "Pergi ke Portal Klien anda untuk mengaktifkan promosi di bawah tab 'Promosi'.",
										th: "ไปที่พอร์ทัลลูกค้าของคุณเพื่อเปิดใช้งานโปรโมชั่นในแท็บ 'โปรโมชั่น'",
										vi: "Truy cập Cổng thông tin Khách hàng của bạn để kích hoạt khuyến mại trong tab 'Khuyến mại'.",
										bn: "আপনার ক্লায়েন্ট পোর্টালে যান এবং 'প্রমোশন' ট্যাবের অধীনে প্রমোশন সক্রিয় করুন।",
										'zh-hans': '前往您的客户门户，在“促销”选项卡下激活促销活动。',
										'pt-br':
											"Acesse seu Portal do Cliente para ativar a promoção na guia 'Promoções'."
									})
								}
							</p>
						</div>
					</div>
				</div>
				<div
					class="relative w-full overflow-hidden rounded-2xl border-2 p-4 shadow-lg transition hover:border-dbgreen-900 hover:shadow-2xl dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5"
				>
					<div
						class="relative flex h-full flex-col justify-center gap-8 md:flex-row md:items-center"
					>
						<Image
							class="w-full max-w-[140px] invert filter dark:invert-0 md:max-w-[240px]"
							alt="hand-click"
							src={PromoDepositImg}
						/>

						<div class="w-full max-w-[480px]">
							<h2 class="font-bold text-dbgreen-500 md:text-3xl lg:text-4xl">
								{
									t({
										en: 'Deposit',
										ar: 'إيداع',
										es: 'Depósito',
										fr: 'Dépôt',
										hi: 'जमा',
										id: 'Setoran',
										ms: 'Deposit',
										th: 'ฝากเงิน',
										vi: 'Tiền gửi',
										bn: 'ডিপোজিট',
										'zh-hans': '存款',
										'pt-br': 'Depósito'
									})
								}
							</h2>
							<p class="">
								{
									t({
										en: 'Make your deposit only after the promotion has been activated.',
										ar: 'قم بإيداعك فقط بعد تنشيط العرض الترويجي.',
										es: 'Haz tu depósito solo después de que se haya activado la promoción.',
										fr: 'Effectuez votre dépôt uniquement après que la promotion ait été activée.',
										hi: 'प्रोमोशन सक्रिय होने के बाद ही अपनी जमा राशि डालें।',
										id: 'Lakukan setoran Anda hanya setelah promosi diaktifkan.',
										ms: 'Lakukan deposit anda hanya selepas promosi telah diaktifkan.',
										th: 'ทำการฝากเงินของคุณเฉพาะหลังจากที่โปรโมชั่นถูกเปิดใช้งานแล้ว',
										vi: 'Hãy thực hiện khoản tiền gửi của bạn chỉ sau khi chương trình khuyến mãi được kích hoạt.',
										bn: 'প্রমোশন সক্রিয় হওয়ার পরে আপনার ডিপোজিট করুন।',
										'zh-hans': '在促销活动被激活后再进行存款。',
										'pt-br': 'Faça seu depósito somente após a promoção ter sido ativada.'
									})
								}
							</p>
						</div>
					</div>
				</div>
				<div
					class="relative w-full overflow-hidden rounded-2xl border-2 p-4 shadow-lg transition hover:border-dbgreen-900 hover:shadow-2xl dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5"
				>
					<div
						class="relative flex h-full flex-col justify-center gap-8 md:flex-row md:items-center"
					>
						<Image
							class="w-full max-w-[120px] invert filter dark:invert-0 md:max-w-[240px]"
							alt="hand-click"
							src={PromoRewardImg}
						/>

						<div class="w-full max-w-[480px]">
							<h2 class="font-bold text-dbgreen-500 md:text-3xl lg:text-4xl">
								{
									t({
										en: 'Get Rewarded',
										ar: 'احصل على المكافأة',
										es: 'Obtén Recompensas',
										fr: 'Soyez Récompensé',
										hi: 'इनाम पाएं',
										id: 'Dapatkan Hadiah',
										ms: 'Dapatkan Ganjaran',
										th: 'รับรางวัล',
										vi: 'Nhận Thưởng',
										bn: 'পুরস্কার পান',
										'zh-hans': '获得奖励',
										'pt-br': 'Seja Recompensado'
									})
								}
							</h2>
							<p class="">
								{
									t({
										en: '50% of the first $1000 of your deposit will be awarded as credits. Subsequent deposits are subject to a 20% bonus, up to a maximum total of $10,000.',
										ar: 'سيتم منح 50٪ من أول 1000 دولار من إيداعك كأرصدة. الإيداعات اللاحقة تخضع لمكافأة بنسبة 20٪، بحد أقصى إجمالي قدره 10,000 دولار.',
										es: 'El 50% de los primeros $1000 de su depósito se otorgará como créditos. Los depósitos posteriores están sujetos a un bono del 20%, hasta un total máximo de $10,000.',
										fr: "50 % des premiers 1 000 $ de votre dépôt seront attribués sous forme de crédits. Les dépôts ultérieurs sont soumis à un bonus de 20 %, jusqu'à un maximum total de 10 000 $.",
										hi: 'आपके जमा के पहले $1000 का 50% क्रेडिट के रूप में दिया जाएगा। इसके बाद के जमों पर 20% बोनस लागू होगा, कुल मिलाकर अधिकतम $10,000 तक।',
										id: '50% dari $1000 pertama dari setoran Anda akan diberikan sebagai kredit. Setoran selanjutnya dikenakan bonus 20%, hingga maksimum total $10,000.',
										ms: '50% daripada $1000 pertama daripada deposit anda akan dianugerahkan sebagai kredit. Deposit seterusnya tertakluk kepada bonus 20%, sehingga jumlah maksimum $10,000.',
										th: '50% ของเงินฝากแรก $1000 ของคุณจะได้รับเป็นเครดิต เงินฝากถัดไปจะอยู่ภายใต้โบนัส 20% สูงสุด $10,000 รวม',
										vi: '50% số tiền gửi đầu tiên 1000 đô la của bạn sẽ được trao dưới dạng tín dụng. Các khoản tiền gửi tiếp theo sẽ được áp dụng bonus 20%, tối đa là 10.000 đô la.',
										bn: 'আপনার আমানতের প্রথম $1000 এর 50% ক্রেডিট হিসাবে প্রদান করা হবে। পরবর্তী আমানত 20% বোনাসের আওতায় থাকবে, সর্বাধিক মোট $10,000 পর্যন্ত।',
										'zh-hans':
											'您存款的前1000美元的50%将作为积分奖励。后续存款将享受20%的奖金，最高总额为10,000美元。',
										'pt-br':
											'50% do primeiro depósito de $1000 será concedido como créditos. Depósitos subsequentes estão sujeitos a um bônus de 20%, até um total máximo de $10.000.'
									})
								}
							</p>
						</div>
					</div>
				</div>
				<div class="my-4">
					<p class="text-center text-sm font-semibold">
						{
							t({
								en: 'Terms and Conditions apply.',
								ar: 'تطبق الشروط والأحكام.',
								es: 'Se aplican términos y condiciones.',
								fr: "Des termes et conditions s'appliquent.",
								hi: 'नियम और शर्तें लागू होती हैं।',
								id: 'Syarat dan ketentuan berlaku.',
								ms: 'Terma dan syarat dikenakan.',
								th: 'ข้อตกลงและเงื่อนไขมีผลบังคับใช้',
								vi: 'Áp dụng điều khoản và điều kiện.',
								bn: 'শর্তাবলী প্রযোজ্য।',
								'zh-hans': '条款和条件适用。',
								'pt-br': 'Termos e Condições se aplicam.'
							})
						}
						<span class="text-dbgreen-500"
							>{
								t({
									en: 'Read More.',
									ar: 'اقرأ المزيد.',
									es: 'Leer más.',
									fr: 'Lire la suite.',
									hi: 'और पढ़ें।',
									id: 'Baca lebih lanjut.',
									ms: 'Baca selanjutnya.',
									th: 'อ่านเพิ่มเติม.',
									vi: 'Đọc thêm.',
									bn: 'আরো পড়ুন।',
									'zh-hans': '阅读更多。',
									'pt-br': 'Leia mais.'
								})
							}</span
						>
					</p>
				</div>
			</div>
		</div>
		<div class="container pb-20 pt-5">
			<div class="flex flex-wrap gap-3">
				<div class="w-full text-center lg:max-w-[24%] lg:text-left">
					<h3 class="mb-8 text-3xl font-semibold">
						{
							t({
								en: 'Fast And Easy Account Opening',
								ar: 'فتح حساب سريع وسهل',
								es: 'Apertura de Cuenta Rápida y Fácil',
								fr: 'Ouverture de Compte Rapide et Facile',
								hi: 'तेज़ और आसान खाता खोलना',
								id: 'Pembukaan Akun Cepat dan Mudah',
								ms: 'Pembukaan Akaun Pantas dan Mudah',
								th: 'การเปิดบัญชีอย่างรวดเร็วและง่ายดาย',
								vi: 'Mở Tài Khoản Nhanh Chóng và Dễ Dàng',
								bn: 'দ্রুত এবং সহজ একাউন্ট খোলার',
								'zh-hans': '快速简便的账户开设',
								'pt-br': 'Abertura de Conta Rápida e Fácil'
							})
						}
					</h3>
					<Button
						primary={true}
						rippleEffect={true}
						text={t({
							en: 'Create Live Account!',
							ar: 'إنشاء حساب مباشر!',
							es: '¡Crea una Cuenta Real!',
							fr: 'Créer un Compte Live !',
							hi: 'लाइव खाता बनाएं!',
							id: 'Buat Akun Live!',
							ms: 'Buat Akaun Live!',
							th: 'สร้างบัญชีสด!',
							vi: 'Tạo Tài Khoản Thật!',
							bn: 'লাইভ অ্যাকাউন্ট তৈরি করুন!',
							'zh-hans': '创建真实账户！',
							'pt-br': 'Crie uma Conta ao Vivo!'
						})}
						class="rounded-full"
						href="#"
						buttonIcon={' <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 2048 2048"> <path fill="currentColor" d="M192 480q-23-54-64-95t-96-65q54-23 95-64t65-96q23 54 64 95t96 65q-54 23-95 64t-65 96m1664 64q23 54 64 95t96 65q-54 23-95 64t-65 96q-23-54-64-95t-96-65q54-23 95-64t65-96m-384 96q-47-109-129-191t-191-129q109-47 191-129T1472 0q47 109 129 191t191 129q-109 47-191 129t-129 191m0-446q-56 71-126 126q70 56 126 126q55-70 126-126q-71-55-126-126M747 785q-47 0-88-19t-73-53t-48-76t-18-89q0-59 24-110t66-90t94-61t112-23q84 0 149 35t111 94t68 132t24 151q0 105-34 196t-93 167t-141 132t-174 97q-9 4-23 4q-23 0-39-16t-16-40q0-36 34-52q76-36 140-77t113-95t79-122t40-158q1-10 1-19t1-20q0-52-15-105t-45-96t-75-69t-105-27q-34 0-67 13t-59 37t-42 54t-16 68q0 23 9 45t24 40t37 29t46 11t38-7t23-20t14-25t12-25t17-19t29-8q23 0 40 17t17 40q0 5-2 13q-8 32-26 59t-44 46t-55 30t-64 11m880 111l274 275l-90 90l-147-146v933H256v-933l-147 146l-90-90l274-275h555q-35 41-77 72t-91 56H384v896h1152v-896h-331q17-31 31-63t25-65z" /> </svg>'}
					/>
				</div>
				<div class="w-full text-center md:max-w-[32%] md:text-left lg:max-w-[24%]">
					<div><span class="text-7xl font-bold md:text-8xl">1</span></div>
					<div>
						<h3 class="mb-1 text-2xl font-semibold text-dbgreen-500 md:text-4xl">
							{
								t({
									en: 'Register',
									ar: 'تسجيل',
									es: 'Registrarse',
									fr: "S'inscrire",
									hi: 'रजिस्टर करें',
									id: 'Daftar',
									ms: 'Daftar',
									th: 'ลงทะเบียน',
									vi: 'Đăng ký',
									bn: 'নিবন্ধন করুন',
									'zh-hans': '注册',
									'pt-br': 'Registrar'
								})
							}
						</h3>
						<p>
							{
								t({
									en: 'Sign up for an Account with our hassle-free process.',
									ar: 'سجل للحصول على حساب مع عمليتنا السهلة.',
									es: 'Regístrate para una cuenta con nuestro proceso sin complicaciones.',
									fr: 'Inscrivez-vous pour un compte avec notre processus sans tracas.',
									hi: 'हमारी परेशानी मुक्त प्रक्रिया के साथ खाते के लिए साइन अप करें।',
									id: 'Daftar untuk Akun dengan proses mudah kami.',
									ms: 'Daftar untuk Akaun dengan proses tanpa masalah kami.',
									th: 'ลงทะเบียนเพื่อเปิดบัญชีด้วยกระบวนการที่ไม่มีปัญหาของเรา.',
									vi: 'Đăng ký một tài khoản với quy trình không rắc rối của chúng tôi.',
									bn: 'আমাদের ঝামেলামুক্ত প্রক্রিয়ার মাধ্যমে একটি অ্যাকাউন্টের জন্য সাইন আপ করুন।',
									'zh-hans': '通过我们的无忧流程注册账户。',
									'pt-br': 'Cadastre-se para uma Conta com nosso processo sem complicações.'
								})
							}
						</p>
					</div>
				</div>
				<div class="w-full text-center md:max-w-[32%] md:text-left lg:max-w-[24%]">
					<div><span class="text-7xl font-bold md:text-8xl">2</span></div>
					<div>
						<h3 class="mb-1 text-2xl font-semibold text-dbgreen-500 md:text-4xl">
							{
								t({
									en: 'Fund',
									ar: 'صندوق',
									es: 'Fondo',
									fr: 'Fonds',
									hi: 'कोष',
									id: 'Dana',
									ms: 'Dana',
									th: 'กองทุน',
									vi: 'Quỹ',
									bn: 'ফান্ড',
									'zh-hans': '资金',
									'pt-br': 'Fundo'
								})
							}
						</h3>
						<p>
							{
								t({
									en: 'Effortlessly fund your account with a wide range of channels and accepted currencies.',
									ar: 'قم بتمويل حسابك بسهولة من خلال مجموعة واسعة من القنوات والعملات المقبولة.',
									es: 'Financia tu cuenta sin esfuerzo con una amplia gama de canales y monedas aceptadas.',
									fr: 'Alimentez facilement votre compte avec une large gamme de canaux et de devises acceptées.',
									hi: 'आप कई चैनलों और स्वीकार्य मुद्राओं के साथ आसानी से अपने खाते को फंड कर सकते हैं।',
									id: 'Dana akun Anda dengan mudah melalui berbagai saluran dan mata uang yang diterima.',
									ms: 'Caj dana ke dalam akaun anda dengan mudah melalui pelbagai saluran dan mata wang yang diterima.',
									th: 'เติมเงินเข้าบัญชีของคุณได้อย่างง่ายดายด้วยช่องทางและสกุลเงินที่หลากหลายที่ยอมรับ',
									vi: 'Nạp tiền vào tài khoản của bạn một cách dễ dàng thông qua nhiều kênh và loại tiền tệ được chấp nhận.',
									bn: 'বিভিন্ন চ্যানেল এবং গ্রহণযোগ্য মুদ্রার মাধ্যমে আপনার অ্যাকাউন্ট সহজেই তহবিল করুন।',
									'zh-hans': '通过多种渠道和接受的货币轻松为您的账户注资。',
									'pt-br':
										'Financie sua conta facilmente com uma ampla gama de canais e moedas aceitas.'
								})
							}
						</p>
					</div>
				</div>
				<div class="w-full text-center md:max-w-[32%] md:text-left lg:max-w-[24%]">
					<div><span class="text-7xl font-bold md:text-8xl">3</span></div>
					<div>
						<h3 class="mb-1 text-2xl font-semibold text-dbgreen-500 md:text-4xl">
							{
								t({
									en: 'Start Trading',
									ar: 'ابدأ التداول',
									es: 'Comenzar a negociar',
									fr: 'Commencer le trading',
									hi: 'व्यापार शुरू करें',
									id: 'Mulai Berdagang',
									ms: 'Mulakan Dagangan',
									th: 'เริ่มการเทรด',
									vi: 'Bắt đầu giao dịch',
									bn: 'বাণিজ্য শুরু করুন',
									'zh-hans': '开始交易',
									'pt-br': 'Comece a negociar'
								})
							}
						</h3>
						<p>
							{
								t({
									en: 'Access hundreds of instruments under market-leading trading conditions.',
									ar: 'الوصول إلى مئات من الأدوات تحت ظروف تداول رائدة في السوق.',
									es: 'Accede a cientos de instrumentos bajo condiciones de trading líderes en el mercado.',
									fr: "Accédez à des centaines d'instruments dans des conditions de trading de premier plan.",
									hi: 'बाजार में सबसे अच्छी व्यापारिक शर्तों के तहत सैकड़ों उपकरणों तक पहुँचें।',
									id: 'Akses ratusan instrumen dengan kondisi trading terkemuka di pasar.',
									ms: 'Akses ratusan instrumen di bawah syarat perdagangan terkemuka di pasaran.',
									th: 'เข้าถึงเครื่องมือหลายร้อยรายการภายใต้เงื่อนไขการซื้อขายชั้นนำในตลาด',
									vi: 'Truy cập hàng trăm công cụ dưới các điều kiện giao dịch hàng đầu thị trường.',
									bn: 'বাজারের নেতৃস্থানীয় ট্রেডিং শর্তগুলির অধীনে শত শত যন্ত্রের অ্যাক্সেস পান।',
									'zh-hans': '在市场领先的交易条件下访问数百种工具。',
									'pt-br':
										'Acesse centenas de instrumentos sob condições de negociação líderes de mercado.'
								})
							}
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>
