---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import { useTranslations, type Lang } from '@/i18n'
import Button from '@/components/ui/Button.astro'
const t = useTranslations(Astro.currentLocale as Lang)
const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/*.{jpeg,jpg,png,gif}')

const marketList = [
	{
		title: t({
			en: 'Forex',
			ar: 'فوركس',
			es: 'Forex',
			fr: 'Forex',
			hi: 'फॉरेक्स',
			id: 'Forex',
			ms: 'Forex',
			th: 'ฟอเร็กซ์',
			vi: 'Forex',
			bn: 'ফরেক্স',
			'zh-cn': '外汇',
			'pt-br': 'Forex'
		}),
		description: t({
			en: 'Forex is often called a stock exchange, but it is not. This is an international over-the-counter market. It does not have a link to any place of bidding. In fact, it is a virtual market in which you can make currency transactions from anywhere in the world.',
			ar: 'يُطلق على الفوركس غالبًا اسم سوق الأوراق المالية، لكنه ليس كذلك. إنها سوق دولية غير منظمة. لا يوجد لها صلة بأي مكان للمزايدة. في الواقع، هي سوق افتراضية يمكنك من خلالها إجراء معاملات العملات من أي مكان في العالم.',
			es: 'El Forex a menudo se llama bolsa de valores, pero no lo es. Este es un mercado internacional extrabursátil. No tiene conexión con ningún lugar de subasta. De hecho, es un mercado virtual en el que puedes realizar transacciones de divisas desde cualquier lugar del mundo.',
			fr: "Le Forex est souvent appelé bourse, mais ce n'est pas le cas. C'est un marché international de gré à gré. Il n'a pas de lien avec un endroit d'enchères. En fait, c'est un marché virtuel où vous pouvez effectuer des transactions en devises depuis n'importe où dans le monde.",
			hi: 'फॉरेक्स को अक्सर शेयर बाजार कहा जाता है, लेकिन यह नहीं है। यह एक अंतरराष्ट्रीय ओवर-द-काउंटर बाजार है। इसका किसी भी बोली लगाने के स्थान से कोई संबंध नहीं है। वास्तव में, यह एक आभासी बाजार है जहां आप दुनिया में कहीं से भी मुद्रा लेनदेन कर सकते हैं।',
			id: 'Forex sering disebut bursa saham, tetapi sebenarnya bukan. Ini adalah pasar internasional over-the-counter. Ini tidak memiliki hubungan dengan tempat penawaran mana pun. Sebenarnya, ini adalah pasar virtual di mana Anda dapat melakukan transaksi mata uang dari mana saja di dunia.',
			ms: 'Forex sering dipanggil bursa saham, tetapi bukan. Ini adalah pasaran antarabangsa over-the-counter. Ia tidak mempunyai hubungan dengan mana-mana tempat tawaran. Sebenarnya, ia adalah pasaran maya di mana anda boleh membuat transaksi mata wang dari mana-mana sahaja di dunia.',
			th: 'ฟอเร็กซ์มักถูกเรียกว่าเป็นตลาดหุ้น แต่ไม่ใช่ นี่คือ ตลาดนอกตลาดระหว่างประเทศ มันไม่มีความเชื่อมโยงกับสถานที่ประมูลใด ๆ ในความเป็นจริงมันเป็นตลาดเสมือนที่คุณสามารถทำธุรกรรมสกุลเงินจากที่ใดก็ได้ในโลก',
			vi: 'Forex thường được gọi là sàn giao dịch chứng khoán, nhưng thực tế không phải vậy. Đây là một thị trường phi tập trung quốc tế. Nó không liên kết với bất kỳ địa điểm nào để đấu thầu. Trên thực tế, đây là một thị trường ảo, nơi bạn có thể thực hiện giao dịch tiền tệ từ bất kỳ đâu trên thế giới.',
			bn: 'ফরেক্সকে প্রায়শই শেয়ার বাজার বলা হয়, কিন্তু এটি নয়। এটি একটি আন্তর্জাতিক ওভার-দ্য-কাউন্টার বাজার। এর কোনও বিডিং স্থানের সাথে সংযোগ নেই। আসলে, এটি একটি ভার্চুয়াল বাজার যেখানে আপনি বিশ্বের যে কোন স্থান থেকে মুদ্রা লেনদেন করতে পারেন।',
			'zh-cn':
				'外汇通常被称为证券交易所，但它不是。这是一个国际场外市场。它与任何竞标地点没有联系。实际上，这是一个虚拟市场，您可以在世界任何地方进行货币交易。',
			'pt-br':
				'Forex é frequentemente chamado de bolsa de valores, mas não é. Este é um mercado internacional de balcão. Não tem ligação com nenhum lugar de licitação. Na verdade, é um mercado virtual no qual você pode fazer transações de moeda de qualquer lugar do mundo.'
		}),
		link: '/forex/',
		image: '/src/images/forex_tab.png',
		id: 'forex_tab',
		active: 'active'
	},
	{
		title: t({
			en: 'Metals',
			ar: 'المعادن',
			es: 'Metales',
			fr: 'Métaux',
			hi: 'धातु',
			id: 'Logam',
			ms: 'Logam',
			th: 'โลหะ',
			vi: 'Kim loại',
			bn: 'মেটালস',
			'zh-cn': '金属',
			'pt-br': 'Metais'
		}),
		description: t({
			en: 'Trading precious metals is not only about buying bars of gold or silver. Try CFDs on precious metals as your trading alternative. Customizable account, live charts, and analytical tools are covered!',
			ar: 'تداول المعادن الثمينة ليس مجرد شراء قضبان من الذهب أو الفضة. جرب عقود الفروقات على المعادن الثمينة كبديل للتداول. الحسابات القابلة للتخصيص، الرسوم البيانية المباشرة، وأدوات التحليل مشمولة!',
			es: 'El comercio de metales preciosos no se trata solo de comprar lingotes de oro o plata. Prueba los CFDs sobre metales preciosos como tu alternativa comercial. ¡Cuentas personalizables, gráficos en vivo y herramientas analíticas están cubiertas!',
			fr: "Le trading de métaux précieux ne consiste pas seulement à acheter des barres d'or ou d'argent. Essayez les CFD sur métaux précieux comme alternative de trading. Compte personnalisable, graphiques en direct et outils d'analyse sont couverts !",
			hi: 'कीमती धातुओं का व्यापार केवल सोने या चांदी की सलाखें खरीदने के बारे में नहीं है। कीमती धातुओं पर सीएफडी को अपने व्यापारिक विकल्प के रूप में आजमाएं। अनुकूलित खाता, लाइव चार्ट और विश्लेषणात्मक उपकरण उपलब्ध हैं!',
			id: 'Perdagangan logam mulia tidak hanya tentang membeli batangan emas atau perak. Cobalah CFD pada logam mulia sebagai alternatif perdagangan Anda. Akun yang dapat disesuaikan, grafik langsung, dan alat analisis sudah tersedia!',
			ms: 'Perdagangan logam berharga bukan hanya tentang membeli jongkong emas atau perak. Cuba CFD pada logam berharga sebagai alternatif perdagangan anda. Akaun boleh disesuaikan, carta langsung, dan alat analisis disediakan!',
			th: 'การซื้อขายโลหะมีค่าไม่ใช่แค่การซื้อทองหรือเงินแท่ง ลอง CFDs บนโลหะมีค่าเป็นทางเลือกในการซื้อขายของคุณ บัญชีปรับแต่งได้ แผนภูมิสด และเครื่องมือวิเคราะห์รวมอยู่ด้วย!',
			vi: 'Giao dịch kim loại quý không chỉ là mua các thanh vàng hoặc bạc. Hãy thử CFDs trên kim loại quý như một lựa chọn giao dịch của bạn. Tài khoản có thể tùy chỉnh, biểu đồ trực tiếp và các công cụ phân tích được bao gồm!',
			bn: 'মূল্যবান ধাতুর ব্যবসা শুধুমাত্র সোনার বা রুপোর বার কেনার ব্যাপারে নয়। আপনার ব্যবসার বিকল্প হিসেবে মূল্যবান ধাতুর উপর CFD চেষ্টা করুন। কাস্টমাইজেবল অ্যাকাউন্ট, লাইভ চার্ট এবং বিশ্লেষণাত্মক সরঞ্জাম অন্তর্ভুক্ত!',
			'zh-cn':
				'交易贵金属不仅仅是购买金条或银条。尝试贵金属的差价合约作为您的交易替代方案。可定制的账户、实时图表和分析工具都涵盖在内！',
			'pt-br':
				'Negociar metais preciosos não é apenas comprar barras de ouro ou prata. Experimente CFDs sobre metais preciosos como sua alternativa de negociação. Contas personalizáveis, gráficos ao vivo e ferramentas analíticas estão disponíveis!'
		}),
		link: '/metals/',
		image: '/src/images/metals_tab.png',
		id: 'metals_tab'
	},
	{
		title: t({
			en: 'Indices',
			ar: 'المؤشرات',
			es: 'Índices',
			fr: 'Indices',
			hi: 'सूचकांक',
			id: 'Indeks',
			ms: 'Indeks',
			th: 'ดัชนี',
			vi: 'Chỉ số',
			bn: 'সূচক',
			'zh-cn': '指数',
			'pt-br': 'Índices'
		}),
		description: t({
			en: 'The indicator calculated on the basis of a specific basket of shares is called a stock index. It is necessary to understand exactly which securities form each indicator. By using the same tools that are utilized in calculating the indicator, the trader can form a more accurate prediction. The stock index is a powerful indicator that shows the overall trends and rates of change in the market share prices of a specific sector of the economy. For example, an increase in oil prices is likely to lead to an increase in the value of assets of oil producing companies.',
			ar: 'المؤشر المحسوب على أساس سلة معينة من الأسهم يسمى مؤشر الأسهم. من الضروري فهم الأوراق المالية التي تشكل كل مؤشر بدقة. باستخدام نفس الأدوات المستخدمة في حساب المؤشر، يمكن للمتداول تشكيل توقع أكثر دقة. مؤشر الأسهم هو مؤشر قوي يظهر الاتجاهات العامة ومعدلات التغير في أسعار أسهم السوق في قطاع معين من الاقتصاد. على سبيل المثال، من المرجح أن يؤدي ارتفاع أسعار النفط إلى زيادة قيمة أصول شركات إنتاج النفط.',
			es: 'El indicador calculado sobre la base de una canasta específica de acciones se llama índice bursátil. Es necesario entender exactamente qué valores forman cada indicador. Usando las mismas herramientas que se utilizan para calcular el indicador, el comerciante puede formar una predicción más precisa. El índice bursátil es un poderoso indicador que muestra las tendencias generales y las tasas de cambio en los precios de las acciones de mercado de un sector específico de la economía. Por ejemplo, un aumento en los precios del petróleo probablemente conducirá a un aumento en el valor de los activos de las compañías productoras de petróleo.',
			fr: "L'indicateur calculé sur la base d'un panier spécifique d'actions est appelé indice boursier. Il est nécessaire de comprendre exactement quels titres forment chaque indicateur. En utilisant les mêmes outils que ceux utilisés pour calculer l'indice, le trader peut formuler une prédiction plus précise. L'indice boursier est un indicateur puissant qui montre les tendances générales et les taux de variation des prix des actions du marché d'un secteur spécifique de l'économie. Par exemple, une augmentation des prix du pétrole est susceptible de conduire à une augmentation de la valeur des actifs des entreprises productrices de pétrole.",
			hi: 'विशिष्ट शेयरों की टोकरी के आधार पर गणना की गई सूचकांक को स्टॉक सूचकांक कहा जाता है। यह समझना आवश्यक है कि प्रत्येक सूचकांक को कौन सी प्रतिभूतियाँ बनाती हैं। उसी उपकरण का उपयोग करके जो सूचकांक की गणना में उपयोग किए जाते हैं, व्यापारी एक सटीक भविष्यवाणी बना सकता है। स्टॉक सूचकांक एक शक्तिशाली संकेतक है जो अर्थव्यवस्था के किसी विशेष क्षेत्र में बाजार शेयर की कीमतों में समग्र प्रवृत्तियों और परिवर्तन दरों को दिखाता है। उदाहरण के लिए, तेल की कीमतों में वृद्धि से तेल उत्पादक कंपनियों की संपत्तियों के मूल्य में वृद्धि होने की संभावना है।',
			id: 'Indikator yang dihitung berdasarkan sekeranjang saham tertentu disebut indeks saham. Penting untuk memahami dengan tepat sekuritas mana yang membentuk setiap indikator. Dengan menggunakan alat yang sama yang digunakan dalam menghitung indikator, pedagang dapat membentuk prediksi yang lebih akurat. Indeks saham adalah indikator kuat yang menunjukkan tren keseluruhan dan tingkat perubahan harga saham pasar di sektor tertentu dari ekonomi. Sebagai contoh, kenaikan harga minyak kemungkinan akan menyebabkan peningkatan nilai aset perusahaan penghasil minyak.',
			ms: 'Penunjuk yang dikira berdasarkan bakul saham tertentu dipanggil indeks saham. Adalah perlu untuk memahami dengan tepat sekuriti mana yang membentuk setiap penunjuk. Dengan menggunakan alat yang sama yang digunakan dalam mengira penunjuk, pedagang boleh membentuk ramalan yang lebih tepat. Indeks saham ialah penunjuk yang kuat yang menunjukkan arah aliran keseluruhan dan kadar perubahan dalam harga saham pasaran bagi sektor ekonomi tertentu. Sebagai contoh, kenaikan harga minyak mungkin membawa kepada peningkatan nilai aset syarikat pengeluar minyak.',
			th: 'ตัวบ่งชี้ที่คำนวณบนพื้นฐานของกลุ่มหุ้นเฉพาะเรียกว่า ดัชนีหุ้น จำเป็นต้องเข้าใจว่าหลักทรัพย์ใดที่ก่อให้เกิดตัวบ่งชี้แต่ละตัว ด้วยการใช้เครื่องมือเดียวกันที่ใช้ในการคำนวณตัวบ่งชี้ ผู้ค้าสามารถสร้างการคาดการณ์ที่แม่นยำยิ่งขึ้น ดัชนีหุ้นเป็นตัวบ่งชี้ที่ทรงพลังที่แสดงถึงแนวโน้มโดยรวมและอัตราการเปลี่ยนแปลงของราคาหุ้นในตลาดของภาคเศรษฐกิจเฉพาะ ตัวอย่างเช่น การเพิ่มขึ้นของราคาน้ำมันมีแนวโน้มที่จะทำให้มูลค่าของสินทรัพย์ของบริษัทผู้ผลิตน้ำมันเพิ่มขึ้น',
			vi: 'Chỉ số được tính toán dựa trên một giỏ cổ phiếu cụ thể được gọi là chỉ số chứng khoán. Cần phải hiểu chính xác những chứng khoán nào tạo thành từng chỉ số. Bằng cách sử dụng các công cụ giống như được sử dụng trong tính toán chỉ số, nhà giao dịch có thể đưa ra dự đoán chính xác hơn. Chỉ số chứng khoán là một chỉ báo mạnh mẽ cho thấy các xu hướng tổng thể và tỷ lệ thay đổi trong giá cổ phiếu của thị trường ở một lĩnh vực cụ thể của nền kinh tế. Ví dụ, giá dầu tăng có thể dẫn đến giá trị tài sản của các công ty sản xuất dầu tăng lên.',
			bn: 'একটি নির্দিষ্ট শেয়ারের ঝুড়ির উপর ভিত্তি করে গণনা করা সূচককে স্টক সূচক বলা হয়। ঠিক কোন সিকিউরিটিজ প্রতিটি সূচক তৈরি করে তা বোঝা প্রয়োজন। সূচক গণনার জন্য ব্যবহৃত একই সরঞ্জামগুলি ব্যবহার করে, ব্যবসায়ী আরও সঠিক পূর্বাভাস তৈরি করতে পারে। স্টক সূচক হল একটি শক্তিশালী সূচক যা অর্থনীতির একটি নির্দিষ্ট খাতের বাজার শেয়ারের দামের সামগ্রিক প্রবণতা এবং পরিবর্তনের হার দেখায়। উদাহরণস্বরূপ, তেলের দাম বাড়লে তেল উৎপাদনকারী কোম্পানির সম্পদের মূল্যের বৃদ্ধি হতে পারে।',
			'zh-cn':
				'基于特定股票篮子计算的指标称为股票指数。需要准确了解哪些证券构成每个指标。通过使用计算指标时使用的相同工具，交易员可以形成更准确的预测。股票指数是一个强大的指标，显示了特定经济部门市场股票价格的总体趋势和变化率。例如，油价上涨可能会导致石油生产公司的资产价值增加。',
			'pt-br':
				'O indicador calculado com base em uma cesta específica de ações é chamado de índice de ações. É necessário entender exatamente quais valores mobiliários formam cada indicador. Usando as mesmas ferramentas utilizadas para calcular o indicador, o trader pode formar uma previsão mais precisa. O índice de ações é um indicador poderoso que mostra as tendências gerais e as taxas de variação nos preços das ações de mercado de um setor específico da economia. Por exemplo, um aumento nos preços do petróleo provavelmente levará a um aumento no valor dos ativos das empresas produtoras de petróleo.'
		}),
		link: '/indices/',
		image: '/src/images/indices_tab.png',
		id: 'indices_tab'
	},
	{
		title: t({
			en: 'Commodities',
			ar: 'السلع',
			es: 'Commodities',
			fr: 'Produits de base',
			hi: 'कमोडिटीज़',
			id: 'Komoditas',
			ms: 'Komoditi',
			th: 'สินค้าโภคภัณฑ์',
			vi: 'Hàng hóa',
			bn: 'পণ্য',
			'zh-cn': '商品',
			'pt-br': 'Commodities'
		}),
		description: t({
			en: 'Trading on the commodity exchange engages traders around the world and is very similar to trading in the stock market or Forex, but there are some differences.',
			ar: 'التداول في بورصة السلع يشرك المتداولين حول العالم ويشبه إلى حد كبير التداول في سوق الأسهم أو الفوركس، ولكن هناك بعض الاختلافات.',
			es: 'El comercio en el mercado de materias primas involucra a traders de todo el mundo y es muy similar al comercio en el mercado de valores o Forex, pero hay algunas diferencias.',
			fr: 'Le trading sur le marché des matières premières engage des traders du monde entier et ressemble beaucoup au trading sur le marché boursier ou Forex, mais il existe quelques différences.',
			hi: 'कमोडिटी एक्सचेंज में ट्रेडिंग दुनिया भर के व्यापारियों को शामिल करता है और यह शेयर बाजार या फॉरेक्स में ट्रेडिंग के समान है, लेकिन कुछ अंतर हैं।',
			id: 'Perdagangan di bursa komoditas melibatkan pedagang di seluruh dunia dan sangat mirip dengan perdagangan di pasar saham atau Forex, tetapi ada beberapa perbedaan.',
			ms: 'Perdagangan di bursa komoditi melibatkan pedagang di seluruh dunia dan sangat serupa dengan perdagangan di pasaran saham atau Forex, tetapi terdapat beberapa perbezaan.',
			th: 'การซื้อขายในตลาดสินค้าโภคภัณฑ์มีผู้ค้าเข้าร่วมจากทั่วโลกและคล้ายกับการซื้อขายในตลาดหุ้นหรือฟอเร็กซ์ แต่มีความแตกต่างบางประการ',
			vi: 'Giao dịch trên sàn hàng hóa thu hút các nhà giao dịch trên toàn thế giới và rất giống với giao dịch trên thị trường chứng khoán hoặc Forex, nhưng có một số khác biệt.',
			bn: 'পণ্য বিনিময়ে ট্রেডিং সারা বিশ্বের ব্যবসায়ীদের সাথে যুক্ত করে এবং এটি শেয়ার বাজার বা ফরেক্সে ট্রেডিংয়ের সাথে খুব মিল, তবে কিছু পার্থক্য রয়েছে।',
			'zh-cn':
				'在商品交易所交易吸引了全球交易员，与股票市场或外汇交易非常相似，但也有一些区别。',
			'pt-br':
				'Negociar na bolsa de mercadorias envolve traders de todo o mundo e é muito semelhante ao mercado de ações ou Forex, mas há algumas diferenças.'
		}),
		link: '/commodities/',
		image: '/src/images/commodities_tab.png',
		id: 'commodities_tab'
	},
	{
		title: t({
			en: 'Stocks',
			ar: 'الأسهم',
			es: 'Acciones',
			fr: 'Actions',
			hi: 'स्टॉक्स',
			id: 'Saham',
			ms: 'Saham',
			th: 'หุ้น',
			vi: 'Cổ phiếu',
			bn: 'স্টক',
			'zh-cn': '股票',
			'pt-br': 'Ações'
		}),
		description: t({
			en: "Start Trading long or short CFDs on stocks with the world's most traded global companies, including Amazon, Meta Platforms, inc., Apple, Microsoft and Alphabet. Investing in CFDs allows you to trade the value of the company’s stocks without owning the underlying shares, giving you several advantages over traditional stock trading.",
			ar: 'ابدأ التداول بعقود الفروقات طويلة أو قصيرة على الأسهم مع الشركات العالمية الأكثر تداولًا في العالم، بما في ذلك أمازون، Meta Platforms, inc، أبل، مايكروسوفت وألفابت. الاستثمار في عقود الفروقات يسمح لك بالتداول على قيمة أسهم الشركات دون امتلاك الأسهم الأساسية، مما يمنحك العديد من المزايا على التداول التقليدي للأسهم.',
			es: 'Comience a operar CFDs largos o cortos en acciones con las empresas globales más negociadas del mundo, incluidas Amazon, Meta Platforms, Inc., Apple, Microsoft y Alphabet. Invertir en CFDs le permite negociar el valor de las acciones de la empresa sin poseer las acciones subyacentes, lo que le brinda varias ventajas sobre el comercio de acciones tradicional.',
			fr: "Commencez à trader des CFD longs ou courts sur les actions des entreprises mondiales les plus négociées, notamment Amazon, Meta Platforms, Inc., Apple, Microsoft et Alphabet. Investir dans les CFD vous permet de trader la valeur des actions de l'entreprise sans posséder les actions sous-jacentes, vous offrant ainsi plusieurs avantages par rapport au trading traditionnel d'actions.",
			hi: 'दुनिया की सबसे अधिक कारोबार वाली वैश्विक कंपनियों, जिसमें Amazon, Meta Platforms, Inc., Apple, Microsoft और Alphabet शामिल हैं, के शेयरों पर लंबे या छोटे सीएफडी का व्यापार शुरू करें। सीएफडी में निवेश आपको कंपनी के शेयरों का स्वामित्व लिए बिना उनकी कीमत पर व्यापार करने की अनुमति देता है, जो आपको पारंपरिक शेयर व्यापार के मुकाबले कई फायदे देता है।',
			id: 'Mulailah Trading CFD panjang atau pendek pada saham dengan perusahaan global yang paling diperdagangkan di dunia, termasuk Amazon, Meta Platforms, Inc., Apple, Microsoft, dan Alphabet. Berinvestasi dalam CFD memungkinkan Anda memperdagangkan nilai saham perusahaan tanpa memiliki saham yang mendasarinya, memberi Anda beberapa keuntungan dibandingkan perdagangan saham tradisional.',
			ms: 'Mulakan dagangan panjang atau pendek CFD pada saham dengan syarikat global yang paling banyak didagangkan di dunia, termasuk Amazon, Meta Platforms, Inc., Apple, Microsoft dan Alphabet. Melabur dalam CFD membolehkan anda berdagang nilai saham syarikat tanpa memiliki saham asas, memberikan anda beberapa kelebihan berbanding dagangan saham tradisional.',
			th: 'เริ่มต้นการซื้อขาย CFD ระยะยาวหรือระยะสั้นในหุ้นกับบริษัทระดับโลกที่มีการซื้อขายมากที่สุดในโลก ซึ่งรวมถึง Amazon, Meta Platforms, Inc., Apple, Microsoft และ Alphabet การลงทุนใน CFD ช่วยให้คุณสามารถซื้อขายมูลค่าหุ้นของบริษัทโดยไม่ต้องเป็นเจ้าของหุ้นที่เกี่ยวข้อง ซึ่งให้ประโยชน์หลายประการเหนือการซื้อขายหุ้นแบบดั้งเดิม',
			vi: 'Bắt đầu giao dịch CFD dài hạn hoặc ngắn hạn trên cổ phiếu với các công ty toàn cầu được giao dịch nhiều nhất thế giới, bao gồm Amazon, Meta Platforms, Inc., Apple, Microsoft và Alphabet. Đầu tư vào CFD cho phép bạn giao dịch giá trị của cổ phiếu mà không cần sở hữu cổ phiếu cơ bản, mang lại cho bạn nhiều lợi thế so với giao dịch cổ phiếu truyền thống.',
			bn: 'বিশ্বের সর্বাধিক লেনদেন করা গ্লোবাল কোম্পানি যেমন অ্যামাজন, মেটা প্ল্যাটফর্মস, ইনক, অ্যাপল, মাইক্রোসফ্ট এবং অ্যালফাবেট সহ স্টকগুলিতে দীর্ঘ বা সংক্ষিপ্ত CFD ট্রেডিং শুরু করুন। CFDs-এ বিনিয়োগ আপনাকে কোম্পানির স্টকের মালিকানা না নিয়েই তার মূল্য ব্যবসা করার অনুমতি দেয়, যা আপনাকে ঐতিহ্যবাহী স্টক ট্রেডিংয়ের তুলনায় বেশ কয়েকটি সুবিধা প্রদান করে।',
			'zh-cn':
				'开始交易全球最受欢迎的公司股票的多头或空头差价合约，其中包括亚马逊、Meta Platforms, Inc.、苹果、微软和Alphabet。投资差价合约使您无需拥有基础股票即可交易公司的股票价值，提供比传统股票交易更多的优势。',
			'pt-br':
				'Comece a negociar CFDs longos ou curtos em ações com as empresas globais mais negociadas do mundo, incluindo Amazon, Meta Platforms, Inc., Apple, Microsoft e Alphabet. Investir em CFDs permite que você negocie o valor das ações da empresa sem possuir as ações subjacentes, oferecendo várias vantagens sobre a negociação tradicional de ações.'
		}),
		link: '/stocks/',
		image: '/src/images/forex_tab.png',
		id: 'Stocks_tab'
	},
	{
		title: t({
			en: 'Crypto',
			ar: 'العملات المشفرة',
			es: 'Cripto',
			fr: 'Crypto',
			hi: 'क्रिप्टो',
			id: 'Kripto',
			ms: 'Kripto',
			th: 'คริปโต',
			vi: 'Tiền điện tử',
			bn: 'ক্রিপ্টো',
			'zh-cn': '加密货币',
			'pt-br': 'Cripto'
		}),
		description: t({
			en: 'DB Investing offers you to explore the tech-powered cryptocurrency market through trading CFDs on Bitcoin, Ethereum, and other popular digital currencies. Choose a platform and account that fit your trading style and experience, set your goals at DB Investing, and go!',
			ar: 'تقدم لك DB Investing استكشاف سوق العملات المشفرة المعتمد على التكنولوجيا من خلال تداول العقود مقابل الفروقات على البيتكوين والإيثريوم والعملات الرقمية الشهيرة الأخرى. اختر منصة وحساب يتناسبان مع أسلوبك وخبرتك في التداول، وحدد أهدافك مع DB Investing وانطلق!',
			es: 'DB Investing te ofrece explorar el mercado de criptomonedas impulsado por la tecnología a través de la negociación de CFDs sobre Bitcoin, Ethereum y otras monedas digitales populares. ¡Elige una plataforma y cuenta que se ajuste a tu estilo de trading y experiencia, establece tus objetivos en DB Investing y adelante!',
			fr: "DB Investing vous propose d'explorer le marché des cryptomonnaies alimenté par la technologie en négociant des CFD sur Bitcoin, Ethereum et d'autres devises numériques populaires. Choisissez une plateforme et un compte adaptés à votre style de trading et à votre expérience, définissez vos objectifs avec DB Investing et c'est parti !",
			hi: 'DB Investing आपको बिटकॉइन, एथेरियम, और अन्य लोकप्रिय डिजिटल मुद्राओं पर CFDs के माध्यम से तकनीक-संचालित क्रिप्टोक्यूरेंसी बाजार का अन्वेषण करने का अवसर प्रदान करता है। एक प्लेटफ़ॉर्म और खाता चुनें जो आपकी ट्रेडिंग शैली और अनुभव के अनुसार हो, अपने लक्ष्यों को DB Investing के साथ सेट करें और आगे बढ़ें!',
			id: 'DB Investing menawarkan Anda untuk menjelajahi pasar cryptocurrency yang didukung teknologi melalui perdagangan CFD di Bitcoin, Ethereum, dan mata uang digital populer lainnya. Pilih platform dan akun yang sesuai dengan gaya dan pengalaman perdagangan Anda, tetapkan tujuan Anda di DB Investing, dan mulai!',
			ms: 'DB Investing menawarkan anda untuk meneroka pasaran cryptocurrency yang berkuasa teknologi melalui perdagangan CFD di Bitcoin, Ethereum, dan mata wang digital popular lain. Pilih platform dan akaun yang sesuai dengan gaya dan pengalaman dagangan anda, tetapkan matlamat anda di DB Investing dan mulakan!',
			th: 'DB Investing ขอเสนอให้คุณสำรวจตลาดสกุลเงินดิจิทัลที่ขับเคลื่อนด้วยเทคโนโลยีผ่านการซื้อขาย CFD บน Bitcoin, Ethereum และสกุลเงินดิจิทัลยอดนิยมอื่นๆ เลือกแพลตฟอร์มและบัญชีที่เหมาะกับสไตล์การเทรดและประสบการณ์ของคุณ ตั้งเป้าหมายของคุณกับ DB Investing และไปเลย!',
			vi: 'DB Investing mang đến cho bạn cơ hội khám phá thị trường tiền điện tử dựa trên công nghệ thông qua giao dịch CFD trên Bitcoin, Ethereum và các loại tiền kỹ thuật số phổ biến khác. Chọn một nền tảng và tài khoản phù hợp với phong cách giao dịch và kinh nghiệm của bạn, đặt mục tiêu của bạn tại DB Investing và bắt đầu!',
			bn: 'ডিবি ইনভেস্টিং আপনাকে প্রযুক্তি-চালিত ক্রিপ্টোকারেন্সি বাজার অন্বেষণ করার সুযোগ দিচ্ছে, বিটকয়েন, ইথেরিয়াম এবং অন্যান্য জনপ্রিয় ডিজিটাল মুদ্রায় সিএফডি লেনদেনের মাধ্যমে। এমন একটি প্ল্যাটফর্ম এবং অ্যাকাউন্ট বেছে নিন যা আপনার ট্রেডিং স্টাইল এবং অভিজ্ঞতার সাথে মানানসই, ডিবি ইনভেস্টিং এ আপনার লক্ষ্য সেট করুন এবং এগিয়ে যান!',
			'zh-cn':
				'DB Investing 提供通过交易比特币、以太坊和其他热门数字货币的差价合约来探索技术驱动的加密货币市场。选择适合您交易风格和经验的平台和账户，在 DB Investing 设定目标，出发吧！',
			'pt-br':
				'A DB Investing oferece a você a oportunidade de explorar o mercado de criptomoedas impulsionado por tecnologia através da negociação de CFDs em Bitcoin, Ethereum e outras moedas digitais populares. Escolha uma plataforma e uma conta que se ajustem ao seu estilo e experiência de negociação, defina suas metas na DB Investing e vá em frente!'
		}),
		link: '/crypto/',
		image: '/src/images/crypto_tab.png',
		id: 'crypto_tab'
	}
]
---

<section class="md:py-14">
	<div class="container relative mx-auto">
		<div
			class="relative rounded-2xl bg-gray-100 p-4 shadow-xl dark:bg-neutral-700 lg:p-12 xl:p-16"
			data-aos="fade-up-sm"
		>
			<div class="mb-7">
				<h1 class="text-5xl font-bold text-dbgreen-900 sm:text-6xl">
					<span class="capitalize text-neutral-800 dark:text-white">
						{
							t({
								en: 'Our',
								ar: 'لدينا',
								es: 'Nuestros',
								fr: 'Nos',
								hi: 'हमारे',
								id: 'Produk',
								ms: 'Produk',
								th: 'ของเรา',
								vi: 'Sản phẩm',
								bn: 'আমাদের',
								'zh-cn': '我们的',
								'pt-br': 'Nossos'
							})
						}</span
					>
					{
						t({
							en: 'Products',
							ar: 'المنتجات',
							es: 'Productos',
							fr: ' Produits',
							hi: 'उत्पाद',
							id: 'Kami',
							ms: 'Kami',
							th: 'สินค้า',
							vi: ' của Chúng tôi',
							bn: ' পণ্য',
							'zh-cn': '产品',
							'pt-br': 'Produtos'
						})
					}
				</h1>
				<p class="mt-3 text-neutral-800 dark:text-neutral-200">
					{
						t({
							en: 'Confidently trade with DB Investing in cutting-edge trading platforms offering groundbreaking levels of stability and reliability. Subscribe and execute the tightest pricing and liquidity coming from top-tier Banks and Prime Brokers.',
							ar: 'تداول بثقة مع DB Investing على منصات التداول المتطورة التي تقدم مستويات رائدة من الاستقرار والموثوقية. اشترك ونفذ أضيق الأسعار والسيولة القادمة من البنوك الكبرى والوسطاء الرئيسيين.',
							es: 'Opera con confianza con DB Investing en plataformas de trading de vanguardia que ofrecen niveles innovadores de estabilidad y fiabilidad. Suscríbete y ejecuta los precios y la liquidez más ajustados que provienen de bancos de primer nivel y corredores principales.',
							fr: 'Tradez en toute confiance avec DB Investing sur des plateformes de trading à la pointe de la technologie offrant des niveaux révolutionnaires de stabilité et de fiabilité. Abonnez-vous et exécutez les prix les plus compétitifs et la liquidité provenant de banques de premier ordre et de courtiers principaux.',
							hi: 'DB Investing के साथ अत्याधुनिक ट्रेडिंग प्लेटफार्मों पर आत्मविश्वास से ट्रेड करें जो स्थिरता और विश्वसनीयता के अभूतपूर्व स्तर प्रदान करते हैं। सबसे प्रमुख बैंकों और प्रमुख ब्रोकरों से आने वाली सबसे तंग कीमतें और तरलता निष्पादित करें।',
							id: 'Perdagang dengan percaya diri dengan DB Investing di platform perdagangan mutakhir yang menawarkan tingkat stabilitas dan keandalan yang inovatif. Berlangganan dan eksekusi harga dan likuiditas terendah yang berasal dari Bank dan Pialang Utama terkemuka.',
							ms: 'Berniaga dengan yakin dengan DB Investing di platform perdagangan canggih yang menawarkan tahap kestabilan dan kebolehpercayaan yang inovatif. Langgan dan laksanakan harga dan kecairan paling ketat yang datang dari Bank dan Peniaga Utama terkemuka.',
							th: 'ทำการซื้อขายอย่างมั่นใจกับ DB Investing ในแพลตฟอร์มการซื้อขายที่ทันสมัยซึ่งมีระดับความเสถียรและความเชื่อถือได้ที่ก้าวล้ำ สมัครสมาชิกและดำเนินการในราคาและสภาพคล่องที่แคบที่สุดจากธนาคารชั้นนำและนายหน้าหลัก',
							vi: 'Giao dịch tự tin với DB Investing trên các nền tảng giao dịch tiên tiến cung cấp các mức độ ổn định và độ tin cậy đột phá. Đăng ký và thực hiện mức giá và thanh khoản chặt chẽ nhất đến từ các Ngân hàng hàng đầu và các Nhà môi giới chính.',
							bn: 'DB Investing-এর সাথে কাটিং-এজ ট্রেডিং প্ল্যাটফর্মে আত্মবিশ্বাসের সাথে ট্রেড করুন যা স্থিতিশীলতা এবং নির্ভরযোগ্যতার ব্যতিক্রমী স্তর অফার করে। শীর্ষস্থানীয় ব্যাংক এবং প্রধান ব্রোকারদের থেকে আসা সবচেয়ে সংকীর্ণ মূল্য এবং তরলতা সাবস্ক্রাইব করুন এবং কার্যকর করুন।',
							'zh-cn':
								'与DB Investing在尖端交易平台上自信地交易，提供突破性的稳定性和可靠性水平。订阅并执行来自顶级银行和主要经纪商的最紧密的定价和流动性。',
							'pt-br':
								'Negocie com confiança com a DB Investing em plataformas de negociação de ponta que oferecem níveis inovadores de estabilidade e confiabilidade. Inscreva-se e execute os preços e a liquidez mais apertados provenientes de bancos de primeira linha e corretores principais.'
						})
					}
				</p>
			</div>
			<nav
				class="m-auto mb-8 flex max-w-[100%] flex-wrap items-center justify-center gap-3 gap-x-3 md:max-w-[85%] lg:max-w-[70%]"
				aria-label="Tabs"
				role="tablist"
				aria-orientation="horizontal"
			>
				{
					marketList.map((item) => {
						return (
							<button
								type="button"
								class={`inline-flex items-center gap-x-2 rounded-lg border border-dbgreen-900 bg-transparent px-4 py-3 text-center text-sm font-bold text-dbgreen-900 hover:text-dbgreen-900 focus:text-dbgreen-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50 hs-tab-active:bg-dbgreen-900 hs-tab-active:text-white hs-tab-active:hover:text-white dark:text-dbgreen-900 dark:hover:text-dbgreen-900 hs-tab-active:dark:text-white ${item.active} font-bold capitalize`}
								id={`${item.id}_${item.title}`}
								data-hs-tab={`#${item.id}`}
								aria-controls={`${item.id}`}
								role="tab"
							>
								{item.title}
							</button>
						)
					})
				}
			</nav>

			<div class="mt-3">
				{
					marketList.map((item) => {
						return (
							<div
								id={`${item.id}`}
								role="tabpanel"
								aria-labelledby={`${item.id}_${item.title}`}
								class={item.active ? '' : 'hidden'}
							>
								<div class="row">
									<div class="mx-auto max-w-[85rem] p-0">
										<div class="grid lg:grid-cols-5 lg:items-center lg:gap-x-8 xl:gap-x-12">
											<div
												class="order-1 lg:order-[0] lg:col-span-3"
												data-aos="fade-up-sm"
											>
												<h1 class="block text-2xl font-bold capitalize text-gray-800 dark:text-white sm:text-2xl md:text-4xl lg:text-4xl">
													{item.title} trading
												</h1>
												<p class="mt-3 text-lg text-gray-800 dark:text-neutral-400">
													{item.description}
												</p>
												<Button
													text={t({
														en: 'Learn More',
														ar: 'تعلم المزيد',
														es: 'Aprender más',
														fr: 'En savoir plus',
														hi: 'और अधिक जानें',
														id: 'Pelajari lebih lanjut',
														ms: 'Ketahui lebih lanjut',
														th: 'เรียนรู้เพิ่มเติม',
														vi: 'Tìm hiểu thêm',
														bn: 'আরও জানুন',
														'zh-cn': '了解更多',
														'pt-br': 'Saiba mais'
													})}
													primary={false}
													rippleEffect="true"
													primary="true"
													class="mt-6"
												/>
											</div>
											<div
												class="m-auto mt-0 lg:col-span-2 lg:mt-0"
												data-aos="fade-up-sm"
												data-aos-delay="100"
											>
												<Image
													src={images[item.image]()}
													class="h-[15rem] w-full rounded-xl object-cover lg:h-[20rem]"
													alt={item.title}
													loading="eager"
												/>
											</div>
										</div>
									</div>
								</div>
							</div>
						)
					})
				}
			</div>
		</div>
	</div>
</section>

<!-- test -->
