---
import Banner from '@/components/page/Investment/Banner.astro'
import GoogleSheetDataTable from '@/components/ui/DataTable/GoogleSheetDataTable'
import { LOCALES, useTranslations, type Lang } from '@/i18n'
import Layout from '@/layouts/Layout.astro'
const t = useTranslations(Astro.currentLocale as Lang)
const lang = Astro.params.lang || 'en'

export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang }
	}))
---

<Layout title="Forex ">
	<Banner
		title={t({
			en: 'Indices',
			ar: 'المؤشرات',
			es: 'Índices',
			fr: 'Indices',
			hi: 'सूचकांक',
			id: 'Indeks',
			ms: 'Indeks',
			th: 'ดัชนี',
			vi: 'Chỉ số',
			bn: 'সূচক',
			'zh-hans': '指数',
			'pt-br': 'Índices'
		})}
		description={t({
			en: 'The indicator calculated on the basis of a specific basket of shares is called a stock index. It is necessary to understand exactly which securities form each indicator. By using the same tools that are utilized in calculating the indicator, the trader can form a more accurate prediction. The stock index is a powerful indicator that shows the overall trends and rates of change in the market share prices of a specific sector of the economy. For example, an increase in oil prices is likely to lead to an increase in the value of assets of oil producing companies.',
			ar: 'المؤشر المحسوب على أساس سلة معينة من الأسهم يسمى مؤشر الأسهم. من الضروري فهم الأوراق المالية التي تشكل كل مؤشر بدقة. باستخدام نفس الأدوات المستخدمة في حساب المؤشر، يمكن للمتداول تشكيل توقع أكثر دقة. مؤشر الأسهم هو مؤشر قوي يظهر الاتجاهات العامة ومعدلات التغير في أسعار أسهم السوق في قطاع معين من الاقتصاد. على سبيل المثال، من المرجح أن يؤدي ارتفاع أسعار النفط إلى زيادة قيمة أصول شركات إنتاج النفط.',
			es: 'El indicador calculado sobre la base de una canasta específica de acciones se llama índice bursátil. Es necesario entender exactamente qué valores forman cada indicador. Usando las mismas herramientas que se utilizan para calcular el indicador, el comerciante puede formar una predicción más precisa. El índice bursátil es un poderoso indicador que muestra las tendencias generales y las tasas de cambio en los precios de las acciones de mercado de un sector específico de la economía. Por ejemplo, un aumento en los precios del petróleo probablemente conducirá a un aumento en el valor de los activos de las compañías productoras de petróleo.',
			fr: "L'indicateur calculé sur la base d'un panier spécifique d'actions est appelé indice boursier. Il est nécessaire de comprendre exactement quels titres forment chaque indicateur. En utilisant les mêmes outils que ceux utilisés pour calculer l'indice, le trader peut formuler une prédiction plus précise. L'indice boursier est un indicateur puissant qui montre les tendances générales et les taux de variation des prix des actions du marché d'un secteur spécifique de l'économie. Par exemple, une augmentation des prix du pétrole est susceptible de conduire à une augmentation de la valeur des actifs des entreprises productrices de pétrole.",
			hi: 'विशिष्ट शेयरों की टोकरी के आधार पर गणना की गई सूचकांक को स्टॉक सूचकांक कहा जाता है। यह समझना आवश्यक है कि प्रत्येक सूचकांक को कौन सी प्रतिभूतियाँ बनाती हैं। उसी उपकरण का उपयोग करके जो सूचकांक की गणना में उपयोग किए जाते हैं, व्यापारी एक सटीक भविष्यवाणी बना सकता है। स्टॉक सूचकांक एक शक्तिशाली संकेतक है जो अर्थव्यवस्था के किसी विशेष क्षेत्र में बाजार शेयर की कीमतों में समग्र प्रवृत्तियों और परिवर्तन दरों को दिखाता है। उदाहरण के लिए, तेल की कीमतों में वृद्धि से तेल उत्पादक कंपनियों की संपत्तियों के मूल्य में वृद्धि होने की संभावना है।',
			id: 'Indikator yang dihitung berdasarkan sekeranjang saham tertentu disebut indeks saham. Penting untuk memahami dengan tepat sekuritas mana yang membentuk setiap indikator. Dengan menggunakan alat yang sama yang digunakan dalam menghitung indikator, pedagang dapat membentuk prediksi yang lebih akurat. Indeks saham adalah indikator kuat yang menunjukkan tren keseluruhan dan tingkat perubahan harga saham pasar di sektor tertentu dari ekonomi. Sebagai contoh, kenaikan harga minyak kemungkinan akan menyebabkan peningkatan nilai aset perusahaan penghasil minyak.',
			ms: 'Penunjuk yang dikira berdasarkan bakul saham tertentu dipanggil indeks saham. Adalah perlu untuk memahami dengan tepat sekuriti mana yang membentuk setiap penunjuk. Dengan menggunakan alat yang sama yang digunakan dalam mengira penunjuk, pedagang boleh membentuk ramalan yang lebih tepat. Indeks saham ialah penunjuk yang kuat yang menunjukkan arah aliran keseluruhan dan kadar perubahan dalam harga saham pasaran bagi sektor ekonomi tertentu. Sebagai contoh, kenaikan harga minyak mungkin membawa kepada peningkatan nilai aset syarikat pengeluar minyak.',
			th: 'ตัวบ่งชี้ที่คำนวณบนพื้นฐานของกลุ่มหุ้นเฉพาะเรียกว่า ดัชนีหุ้น จำเป็นต้องเข้าใจว่าหลักทรัพย์ใดที่ก่อให้เกิดตัวบ่งชี้แต่ละตัว ด้วยการใช้เครื่องมือเดียวกันที่ใช้ในการคำนวณตัวบ่งชี้ ผู้ค้าสามารถสร้างการคาดการณ์ที่แม่นยำยิ่งขึ้น ดัชนีหุ้นเป็นตัวบ่งชี้ที่ทรงพลังที่แสดงถึงแนวโน้มโดยรวมและอัตราการเปลี่ยนแปลงของราคาหุ้นในตลาดของภาคเศรษฐกิจเฉพาะ ตัวอย่างเช่น การเพิ่มขึ้นของราคาน้ำมันมีแนวโน้มที่จะทำให้มูลค่าของสินทรัพย์ของบริษัทผู้ผลิตน้ำมันเพิ่มขึ้น',
			vi: 'Chỉ số được tính toán dựa trên một giỏ cổ phiếu cụ thể được gọi là chỉ số chứng khoán. Cần phải hiểu chính xác những chứng khoán nào tạo thành từng chỉ số. Bằng cách sử dụng các công cụ giống như được sử dụng trong tính toán chỉ số, nhà giao dịch có thể đưa ra dự đoán chính xác hơn. Chỉ số chứng khoán là một chỉ báo mạnh mẽ cho thấy các xu hướng tổng thể và tỷ lệ thay đổi trong giá cổ phiếu của thị trường ở một lĩnh vực cụ thể của nền kinh tế. Ví dụ, giá dầu tăng có thể dẫn đến giá trị tài sản của các công ty sản xuất dầu tăng lên.',
			bn: 'একটি নির্দিষ্ট শেয়ারের ঝুড়ির উপর ভিত্তি করে গণনা করা সূচককে স্টক সূচক বলা হয়। ঠিক কোন সিকিউরিটিজ প্রতিটি সূচক তৈরি করে তা বোঝা প্রয়োজন। সূচক গণনার জন্য ব্যবহৃত একই সরঞ্জামগুলি ব্যবহার করে, ব্যবসায়ী আরও সঠিক পূর্বাভাস তৈরি করতে পারে। স্টক সূচক হল একটি শক্তিশালী সূচক যা অর্থনীতির একটি নির্দিষ্ট খাতের বাজার শেয়ারের দামের সামগ্রিক প্রবণতা এবং পরিবর্তনের হার দেখায়। উদাহরণস্বরূপ, তেলের দাম বাড়লে তেল উৎপাদনকারী কোম্পানির সম্পদের মূল্যের বৃদ্ধি হতে পারে।',
			'zh-hans':
				'基于特定股票篮子计算的指标称为股票指数。需要准确了解哪些证券构成每个指标。通过使用计算指标时使用的相同工具，交易员可以形成更准确的预测。股票指数是一个强大的指标，显示了特定经济部门市场股票价格的总体趋势和变化率。例如，油价上涨可能会导致石油生产公司的资产价值增加。',
			'pt-br':
				'O indicador calculado com base em uma cesta específica de ações é chamado de índice de ações. É necessário entender exatamente quais valores mobiliários formam cada indicador. Usando as mesmas ferramentas utilizadas para calcular o indicador, o trader pode formar uma previsão mais precisa. O índice de ações é um indicador poderoso que mostra as tendências gerais e as taxas de variação nos preços das ações de mercado de um setor específico da economia. Por exemplo, um aumento nos preços do petróleo provavelmente levará a um aumento no valor dos ativos das empresas produtoras de petróleo.'
		})}
		image="/src/images/indices_tab.png"
	/>
	<div class="container py-10">
		<div class="pb-10 md:pb-10">
			<h2
				class="mb-3 block text-2xl font-bold capitalize text-gray-800 dark:text-white sm:text-2xl md:text-3xl lg:text-3xl"
			>
				{
					t({
						en: 'Choose CFDs on Indices trading to affirm your premium status',
						ar: 'اختر عقود الفروقات على تداول المؤشرات لتأكيد وضعك المتميز',
						es: 'Elige CFDs sobre índices para afirmar tu estatus premium',
						fr: 'Choisissez les CFD sur indices pour affirmer votre statut premium',
						hi: 'अपनी प्रीमियम स्थिति की पुष्टि करने के लिए सूचकांकों पर CFDs चुनें',
						id: 'Pilih CFD pada perdagangan indeks untuk menegaskan status premium Anda',
						ms: 'Pilih CFD pada dagangan Indeks untuk mengesahkan status premium anda',
						th: 'เลือก CFD ในการซื้อขายดัชนีเพื่อยืนยันสถานะพรีเมียมของคุณ',
						vi: 'Chọn CFDs giao dịch chỉ số để khẳng định vị thế cao cấp của bạn',
						bn: 'আপনার প্রিমিয়াম অবস্থান নিশ্চিত করতে সূচকের উপর CFDs ট্রেডিং বেছে নিন',
						'zh-hans': '选择指数交易的差价合约以确认您的高级身份',
						'pt-br': 'Escolha CFDs sobre índices para afirmar seu status premium'
					})
				}
			</h2>
			<div class="card flex flex-wrap gap-3">
				<div
					class="relative col-span-full w-full space-y-5 overflow-hidden rounded-2xl border-2 p-4 transition hover:border-dbgreen-900 dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5 lg:col-span-3 lg:max-w-[32%]"
				>
					<div class="flex size-8 items-center justify-center rounded-full bg-black p-2 text-white">
						<span class="text-lg font-semibold">1</span>
					</div>
					<h2 class="mb-5 block text-2xl font-bold capitalize text-gray-800 dark:text-white">
						{
							t({
								en: 'Balancing the market risks',
								ar: 'موازنة المخاطر السوقية',
								es: 'Equilibrando los riesgos del mercado',
								fr: 'Équilibrer les risques du marché',
								hi: 'बाजार जोखिमों को संतुलित करना',
								id: 'Menyeimbangkan risiko pasar',
								ms: 'Mengimbangi risiko pasaran',
								th: 'การปรับสมดุลความเสี่ยงของตลาด',
								vi: 'Cân bằng rủi ro thị trường',
								bn: 'বাজার ঝুঁকি সামঞ্জস্য করা',
								'zh-hans': '平衡市场风险',
								'pt-br': 'Equilibrando os riscos de mercado'
							})
						}
					</h2>
					<p class="text-color">
						{
							t({
								en: 'As indices CFDs gather from 30 to 500 stocks of publicly traded companies, they can also boost your market risk resistance by creating a more stable asset.',
								ar: 'نظرًا لأن عقود الفروقات على المؤشرات تجمع بين 30 إلى 500 سهم من الشركات المتداولة علنًا، فإنها يمكن أن تعزز قدرتك على مقاومة مخاطر السوق من خلال إنشاء أصول أكثر استقرارًا.',
								es: 'Dado que los CFDs sobre índices agrupan entre 30 y 500 acciones de empresas que cotizan en bolsa, también pueden aumentar tu resistencia al riesgo de mercado al crear un activo más estable.',
								fr: 'Étant donné que les CFD sur indices rassemblent de 30 à 500 actions de sociétés cotées, ils peuvent également renforcer votre résistance aux risques du marché en créant un actif plus stable.',
								hi: 'क्योंकि इंडेक्स CFDs में 30 से 500 सार्वजनिक रूप से कारोबार करने वाली कंपनियों के स्टॉक शामिल होते हैं, वे अधिक स्थिर संपत्ति बनाकर आपके बाजार जोखिम प्रतिरोध को बढ़ा सकते हैं।',
								id: 'Karena CFD indeks mengumpulkan dari 30 hingga 500 saham perusahaan yang diperdagangkan secara publik, mereka juga dapat meningkatkan ketahanan risiko pasar Anda dengan menciptakan aset yang lebih stabil.',
								ms: 'Memandangkan CFD indeks mengumpul antara 30 hingga 500 saham syarikat yang didagangkan secara awam, ia juga boleh meningkatkan daya tahan risiko pasaran anda dengan mencipta aset yang lebih stabil.',
								th: 'เนื่องจาก CFD ดัชนีรวบรวมจากหุ้น 30 ถึง 500 ของบริษัทที่มีการซื้อขายในตลาดหลักทรัพย์ พวกเขายังสามารถเพิ่มความต้านทานความเสี่ยงของตลาดของคุณโดยการสร้างสินทรัพย์ที่มีความเสถียรมากขึ้น',
								vi: 'Vì các chỉ số CFDs thu thập từ 30 đến 500 cổ phiếu của các công ty giao dịch công khai, chúng cũng có thể tăng cường khả năng chống chịu rủi ro thị trường của bạn bằng cách tạo ra một tài sản ổn định hơn.',
								bn: 'যেহেতু সূচক CFDs 30 থেকে 500 পাবলিক ট্রেড কোম্পানির শেয়ার সংগ্রহ করে, তারা আরও স্থিতিশীল সম্পদ তৈরি করে আপনার বাজার ঝুঁকি প্রতিরোধ ক্ষমতা বাড়াতে পারে।',
								'zh-hans':
									'由于指数CFD汇集了30至500家上市公司的股票，它们还可以通过创造更稳定的资产来增强您的市场风险抵御能力。',
								'pt-br':
									'Como os CFDs de índices reúnem de 30 a 500 ações de empresas de capital aberto, eles também podem aumentar sua resistência ao risco de mercado, criando um ativo mais estável.'
							})
						}
					</p>
				</div>
				<div
					class="relative col-span-full w-full space-y-5 overflow-hidden rounded-2xl border-2 p-4 transition hover:border-dbgreen-900 dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5 lg:col-span-3 lg:max-w-[32%]"
				>
					<div class="flex size-8 items-center justify-center rounded-full bg-black p-2 text-white">
						<span class="text-lg font-semibold">2</span>
					</div>
					<h2 class="mb-5 block text-2xl font-bold capitalize text-gray-800 dark:text-white">
						{
							t({
								en: 'Wider market opportunities',
								ar: 'فرص أوسع في السوق',
								es: 'Oportunidades más amplias de mercado',
								fr: 'Opportunités de marché plus larges',
								hi: 'बड़े बाजार के अवसर',
								id: 'Peluang pasar yang lebih luas',
								ms: 'Peluang pasaran yang lebih luas',
								th: 'โอกาสทางการตลาดที่กว้างขึ้น',
								vi: 'Cơ hội thị trường rộng lớn hơn',
								bn: 'বৃহত্তর বাজারের সুযোগ',
								'zh-hans': '更广泛的市场机会',
								'pt-br': 'Oportunidades de mercado mais amplas'
							})
						}
					</h2>
					<p class="text-color">
						{
							t({
								en: 'Unlike stocks CFDs, indices CFDs trading covers a lot of markets at the same time. So, instead of trading 100,000 publicly traded companies separately, you can plan your trading strategy with one index that covers them all.',
								ar: 'على عكس عقود فروقات الأسهم، يغطي تداول عقود فروقات المؤشرات العديد من الأسواق في نفس الوقت. بدلاً من تداول 100,000 شركة عامة بشكل منفصل، يمكنك التخطيط لاستراتيجية التداول الخاصة بك باستخدام مؤشر واحد يغطيها جميعًا.',
								es: 'A diferencia de los CFDs sobre acciones, el trading de CFDs sobre índices cubre muchos mercados al mismo tiempo. Entonces, en lugar de operar con 100,000 empresas que cotizan en bolsa por separado, puedes planificar tu estrategia de trading con un índice que los cubre a todos.',
								fr: 'Contrairement aux CFDs sur actions, le trading de CFDs sur indices couvre de nombreux marchés en même temps. Ainsi, au lieu de négocier séparément 100 000 sociétés cotées en bourse, vous pouvez planifier votre stratégie de trading avec un seul indice qui les couvre toutes.',
								hi: 'स्टॉक्स CFDs के विपरीत, इंडेक्स CFDs ट्रेडिंग एक साथ कई बाजारों को कवर करता है। तो, 100,000 सार्वजनिक रूप से कारोबार करने वाली कंपनियों को अलग-अलग ट्रेड करने के बजाय, आप एक इंडेक्स के साथ अपनी ट्रेडिंग रणनीति की योजना बना सकते हैं जो उन सभी को कवर करता है।',
								id: 'Tidak seperti saham CFD, perdagangan CFD indeks mencakup banyak pasar sekaligus. Jadi, alih-alih memperdagangkan 100.000 perusahaan publik secara terpisah, Anda dapat merencanakan strategi perdagangan Anda dengan satu indeks yang mencakup semuanya.',
								ms: 'Tidak seperti CFD saham, perdagangan CFD indeks merangkumi banyak pasaran pada masa yang sama. Jadi, daripada memperdagangkan 100,000 syarikat tersenarai secara berasingan, anda boleh merancang strategi perdagangan anda dengan satu indeks yang merangkumi semuanya.',
								th: 'ต่างจากหุ้น CFDs การซื้อขาย CFDs ดัชนีครอบคลุมตลาดหลายแห่งในเวลาเดียวกัน ดังนั้นแทนที่จะทำการซื้อขายบริษัทที่จดทะเบียนในตลาดหลักทรัพย์ 100,000 บริษัทแยกกัน คุณสามารถวางแผนกลยุทธ์การซื้อขายของคุณด้วยดัชนีเดียวที่ครอบคลุมทั้งหมด',
								vi: 'Không giống như CFDs cổ phiếu, giao dịch CFDs chỉ số bao phủ nhiều thị trường cùng một lúc. Vì vậy, thay vì giao dịch riêng lẻ 100.000 công ty giao dịch công khai, bạn có thể lên kế hoạch chiến lược giao dịch của mình với một chỉ số bao phủ tất cả.',
								bn: 'স্টক CFDs এর বিপরীতে, সূচক CFDs ট্রেডিং একই সময়ে অনেক বাজারকে কভার করে। সুতরাং, 100,000টি পাবলিক ট্রেড করা কোম্পানি আলাদাভাবে ট্রেড করার পরিবর্তে, আপনি এমন একটি সূচক দিয়ে আপনার ট্রেডিং কৌশল পরিকল্পনা করতে পারেন যা তাদের সমস্ত কভার করে।',
								'zh-hans':
									'与股票CFD不同，指数CFD交易同时涵盖多个市场。因此，您可以通过一个涵盖所有市场的指数来计划交易策略，而不是单独交易100,000家上市公司。',
								'pt-br':
									'Ao contrário dos CFDs de ações, a negociação de CFDs de índices abrange muitos mercados ao mesmo tempo. Então, em vez de negociar 100.000 empresas públicas separadamente, você pode planejar sua estratégia de negociação com um índice que abrange todas elas.'
							})
						}
					</p>
				</div>
				<div
					class="relative col-span-full w-full space-y-5 overflow-hidden rounded-2xl border-2 p-4 transition hover:border-dbgreen-900 dark:border-neutral-600 dark:hover:border-dbgreen-900 sm:p-8 md:p-5 lg:col-span-3 lg:max-w-[32%]"
				>
					<div class="flex size-8 items-center justify-center rounded-full bg-black p-2 text-white">
						<span class="text-lg font-semibold">3</span>
					</div>
					<h2 class="mb-3 block text-2xl font-bold capitalize text-gray-800 dark:text-white">
						{
							t({
								en: 'Cross-platform trading access',
								ar: 'الوصول إلى التداول عبر المنصات',
								es: 'Acceso a la negociación en múltiples plataformas',
								fr: 'Accès au trading multiplateforme',
								hi: 'क्रॉस-प्लेटफ़ॉर्म ट्रेडिंग एक्सेस',
								id: 'Akses perdagangan lintas platform',
								ms: 'Akses perdagangan lintas platform',
								th: 'การเข้าถึงการซื้อขายข้ามแพลตฟอร์ม',
								vi: 'Truy cập giao dịch đa nền tảng',
								bn: 'ক্রস-প্ল্যাটফর্ম ট্রেডিং অ্যাক্সেস',
								'zh-hans': '跨平台交易访问',
								'pt-br': 'Acesso ao comércio em várias plataformas'
							})
						}
					</h2>
					<p class="text-color">
						{
							t({
								en: 'Choose your most comfortable way to access the international trading arena. Be it PC, laptop, smartphone, or tablet – DB Investing supports it all. It’s you who is in control of how and when you get to trade.',
								ar: 'اختر الطريقة الأكثر راحة للوصول إلى ساحة التداول الدولية. سواء كان جهاز كمبيوتر، لابتوب، هاتف ذكي أو جهاز لوحي - DB Investing يدعمها جميعًا. أنت من يتحكم في كيفية ومتى تتداول.',
								es: 'Elige la manera más cómoda de acceder al mercado internacional de trading. Ya sea en PC, portátil, smartphone o tableta: DB Investing lo admite todo. Tú tienes el control sobre cómo y cuándo operar.',
								fr: "Choisissez la manière la plus confortable d'accéder à l'arène internationale du trading. Que ce soit sur PC, ordinateur portable, smartphone ou tablette, DB Investing vous soutient sur tous ces appareils. C'est vous qui décidez comment et quand vous souhaitez trader.",
								hi: 'अंतर्राष्ट्रीय ट्रेडिंग क्षेत्र में प्रवेश करने का सबसे आरामदायक तरीका चुनें। चाहे वह पीसी हो, लैपटॉप, स्मार्टफोन, या टैबलेट – DB Investing सबका समर्थन करता है। आप इस बात पर नियंत्रण में हैं कि कब और कैसे ट्रेड करना है।',
								id: 'Pilih cara paling nyaman untuk mengakses arena perdagangan internasional. Baik itu PC, laptop, smartphone, atau tablet – DB Investing mendukung semuanya. Anda yang mengendalikan bagaimana dan kapan Anda akan berdagang.',
								ms: 'Pilih cara paling selesa untuk mengakses arena perdagangan antarabangsa. Sama ada PC, komputer riba, telefon pintar, atau tablet – DB Investing menyokong kesemuanya. Anda yang mengawal cara dan bila anda berdagang.',
								th: 'เลือกวิธีที่สะดวกที่สุดในการเข้าถึงสนามการค้าระหว่างประเทศ ไม่ว่าจะเป็น PC, แล็ปท็อป, สมาร์ทโฟน หรือแท็บเล็ต – DB Investing รองรับทั้งหมด คุณคือผู้ควบคุมว่าเมื่อใดและอย่างไรที่คุณจะทำการซื้อขาย',
								vi: 'Chọn cách thoải mái nhất để tiếp cận thị trường giao dịch quốc tế. Dù là PC, laptop, smartphone hay máy tính bảng - DB Investing hỗ trợ tất cả. Bạn là người kiểm soát cách thức và thời điểm giao dịch.',
								bn: 'আন্তর্জাতিক ট্রেডিং এরিনায় অ্যাক্সেস করার সবচেয়ে আরামদায়ক উপায়টি বেছে নিন। এটি পিসি, ল্যাপটপ, স্মার্টফোন বা ট্যাবলেট হতে পারে - DB Investing এগুলি সব সমর্থন করে। কিভাবে এবং কখন আপনি ট্রেড করবেন তা নিয়ন্ত্রণে থাকে আপনার।',
								'zh-hans':
									'选择最适合您的方式进入国际交易市场。无论是PC、笔记本电脑、智能手机还是平板电脑，DB Investing全都支持。您可以完全掌控何时和如何进行交易。',
								'pt-br':
									'Escolha a maneira mais confortável para acessar o cenário de negociações internacionais. Seja no PC, laptop, smartphone ou tablet – a DB Investing oferece suporte a todos. Você tem o controle de como e quando negociar.'
							})
						}
					</p>
				</div>
			</div>
		</div>
		<div class="flex flex-wrap gap-x-4 gap-y-6 md:flex-nowrap">
			<div class="w-full space-y-4 md:max-w-[50%]">
				<h1
					class="mb-3 block text-2xl font-bold capitalize text-gray-800 dark:text-white sm:text-2xl md:text-3xl lg:text-3xl"
				>
					{
						t({
							en: 'How does CFDs on Indices trading work?',
							ar: 'كيف يعمل تداول العقود مقابل الفروقات على المؤشرات؟',
							es: '¿Cómo funciona el trading de CFDs sobre índices?',
							fr: 'Comment fonctionne le trading de CFD sur les indices ?',
							hi: 'सूचकांकों पर सीएफडी ट्रेडिंग कैसे काम करती है?',
							id: 'Bagaimana cara kerja trading CFD pada indeks?',
							ms: 'Bagaimana perdagangan CFD pada indeks berfungsi?',
							th: 'การซื้อขาย CFDs บนดัชนีทำงานอย่างไร?',
							vi: 'Giao dịch CFDs trên chỉ số hoạt động như thế nào?',
							bn: 'সূচকগুলিতে CFDs ট্রেডিং কিভাবে কাজ করে?',
							'zh-hans': '指数CFD交易是如何运作的？',
							'pt-br': 'Como funciona o trading de CFDs sobre índices?'
						})
					}
				</h1>
				<p class="text-color">
					{
						t({
							en: 'Being a set of influential companies compounded by stock, indices are usually hardly accessible. Still, with DB Investing, you can get a shortcut to indices trading by using CFDs.',
							ar: 'كونها مجموعة من الشركات المؤثرة المجمعة بواسطة الأسهم، عادة ما يكون الوصول إلى المؤشرات صعبًا. ومع ذلك، مع DB Investing، يمكنك الحصول على طريق مختصر لتداول المؤشرات باستخدام العقود مقابل الفروقات.',
							es: 'Siendo un conjunto de empresas influyentes compuestas por acciones, los índices suelen ser difícilmente accesibles. Aun así, con DB Investing, puedes obtener un atajo para operar con índices mediante CFDs.',
							fr: "Étant un ensemble d'entreprises influentes regroupées par actions, les indices sont généralement difficilement accessibles. Pourtant, avec DB Investing, vous pouvez obtenir un raccourci pour trader les indices en utilisant les CFD.",
							hi: 'प्रभावशाली कंपनियों का एक सेट होते हुए, जो स्टॉक्स से संयुक्त होते हैं, सूचकांक आमतौर पर पहुँचने में मुश्किल होते हैं। फिर भी, DB Investing के साथ, आप CFDs का उपयोग करके सूचकांकों में व्यापार का एक शॉर्टकट प्राप्त कर सकते हैं।',
							id: 'Sebagai sekumpulan perusahaan berpengaruh yang digabungkan oleh saham, indeks biasanya sulit diakses. Namun, dengan DB Investing, Anda dapat memperoleh jalan pintas untuk trading indeks dengan menggunakan CFD.',
							ms: 'Menjadi satu set syarikat berpengaruh yang digabungkan oleh saham, indeks biasanya sukar dicapai. Namun, dengan DB Investing, anda boleh mendapatkan jalan pintas untuk berdagang indeks dengan menggunakan CFD.',
							th: 'เนื่องจากเป็นกลุ่มบริษัทที่มีอิทธิพลซึ่งประกอบด้วยหุ้น ดัชนีจึงมักไม่สามารถเข้าถึงได้ง่าย อย่างไรก็ตาม ด้วย DB Investing คุณสามารถใช้ทางลัดในการซื้อขายดัชนีด้วย CFDs ได้',
							vi: 'Là tập hợp của các công ty có ảnh hưởng được ghép từ cổ phiếu, chỉ số thường khó tiếp cận. Tuy nhiên, với DB Investing, bạn có thể sử dụng hợp đồng chênh lệch (CFD) để tham gia giao dịch chỉ số một cách dễ dàng.',
							bn: 'প্রভাবশালী কোম্পানিগুলির একটি সেট হিসাবে, যা স্টক দ্বারা সংযুক্ত, সূচকগুলি সাধারণত অ্যাক্সেস করা কঠিন। তবে, DB Investing-এর সাথে, আপনি CFDs ব্যবহার করে সূচক ট্রেডিংয়ের একটি শর্টকাট পেতে পারেন।',
							'zh-hans':
								'作为由股票构成的一组有影响力的公司，指数通常难以进入。然而，通过DB Investing，您可以通过使用CFD快速进入指数交易。',
							'pt-br':
								'Sendo um conjunto de empresas influentes compostas por ações, os índices geralmente são de difícil acesso. Ainda assim, com a DB Investing, você pode obter um atalho para negociar índices usando CFDs.'
						})
					}
				</p>
				<p class="text-color">
					{
						t({
							en: 'There is no need to be directly involved in the market. Choose cross-platform trading, 60+ analytical tools, and quick connection during the market hours with DB Investing.',
							ar: 'ليس هناك حاجة للمشاركة المباشرة في السوق. اختر التداول عبر المنصات المتعددة، 60+ أداة تحليلية، واتصال سريع خلال ساعات السوق مع DB Investing.',
							es: 'No hay necesidad de involucrarse directamente en el mercado. Elige el trading multiplataforma, más de 60 herramientas analíticas y conexión rápida durante las horas del mercado con DB Investing.',
							fr: "Il n'est pas nécessaire d'être directement impliqué dans le marché. Choisissez le trading multiplateforme, 60+ outils d'analyse, et une connexion rapide pendant les heures de marché avec DB Investing.",
							hi: 'बाजार में सीधे रूप से शामिल होने की कोई आवश्यकता नहीं है। DB Investing के साथ क्रॉस-प्लेटफार्म ट्रेडिंग, 60+ विश्लेषणात्मक उपकरण और बाजार के घंटों के दौरान त्वरित कनेक्शन चुनें।',
							id: 'Tidak perlu terlibat langsung di pasar. Pilih trading lintas platform, lebih dari 60 alat analitik, dan koneksi cepat selama jam pasar dengan DB Investing.',
							ms: 'Tidak perlu terlibat secara langsung dalam pasaran. Pilih perdagangan pelbagai platform, 60+ alat analitikal, dan sambungan pantas semasa waktu pasaran dengan DB Investing.',
							th: 'ไม่จำเป็นต้องมีส่วนร่วมในตลาดโดยตรง เลือกการเทรดข้ามแพลตฟอร์ม เครื่องมือวิเคราะห์มากกว่า 60 รายการ และการเชื่อมต่ออย่างรวดเร็วในช่วงเวลาตลาดกับ DB Investing',
							vi: 'Không cần phải tham gia trực tiếp vào thị trường. Chọn giao dịch đa nền tảng, hơn 60 công cụ phân tích và kết nối nhanh trong giờ thị trường với DB Investing.',
							bn: 'বাজারে সরাসরি যুক্ত থাকার প্রয়োজন নেই। DB Investing-এর সাথে ক্রস-প্ল্যাটফর্ম ট্রেডিং, 60+ বিশ্লেষণাত্মক সরঞ্জাম এবং বাজারের সময় দ্রুত সংযোগ বেছে নিন।',
							'zh-hans':
								'无需直接参与市场。通过DB Investing选择跨平台交易、60多种分析工具和市场时间的快速连接。',
							'pt-br':
								'Não é necessário se envolver diretamente no mercado. Escolha negociação em várias plataformas, mais de 60 ferramentas analíticas e conexão rápida durante o horário de mercado com a DB Investing.'
						})
					}
				</p>
			</div>
			<div class="w-full space-y-4 md:max-w-[50%]">
				<h1
					class="mb-3 block text-2xl font-bold capitalize text-gray-800 dark:text-white sm:text-2xl md:text-3xl lg:text-3xl"
				>
					{
						t({
							en: 'Why trade CFDs on indices with DB Investing?',
							ar: 'لماذا تتداول عقود الفروقات على المؤشرات مع DB Investing؟',
							es: '¿Por qué negociar CFDs sobre índices con DB Investing?',
							fr: 'Pourquoi trader des CFD sur des indices avec DB Investing ?',
							hi: 'DB Investing के साथ इंडिस पर CFDs क्यों व्यापार करें?',
							id: 'Mengapa berdagang CFD pada indeks dengan DB Investing?',
							ms: 'Mengapa berdagang CFD pada indeks dengan DB Investing?',
							th: 'ทำไมต้องซื้อขาย CFD ในดัชนีกับ DB Investing?',
							vi: 'Tại sao nên giao dịch CFDs trên chỉ số với DB Investing?',
							bn: 'DB Investing-এর সাথে সূচকগুলোর উপর CFD কেন ট্রেড করবেন?',
							'zh-hans': '为什么选择与DB Investing交易指数的差价合约？',
							'pt-br': 'Por que negociar CFDs em índices com a DB Investing?'
						})
					}
				</h1>
				<p class="text-color">
					{
						t({
							en: 'There are over 2000 different stock indices. They are divided into micro and macroeconomic indices. The first shows the market situation in a particular industry or region. Macroeconomic indices show a general trend in the economy. Both are used to analyze the market and form sound investment strategies.',
							ar: 'يوجد أكثر من 2000 مؤشر مختلف للأسهم. وهي مقسمة إلى مؤشرات اقتصادية صغيرة وكبيرة. الأول يظهر حالة السوق في صناعة أو منطقة معينة. تظهر المؤشرات الاقتصادية الكبيرة الاتجاه العام في الاقتصاد. يتم استخدام كلاهما لتحليل السوق وتشكيل استراتيجيات استثمار سليمة.',
							es: 'Hay más de 2000 índices de acciones diferentes. Se dividen en índices micro y macroeconómicos. El primero muestra la situación del mercado en una industria o región particular. Los índices macroeconómicos muestran una tendencia general en la economía. Ambos se utilizan para analizar el mercado y formar estrategias de inversión sólidas.',
							fr: "Il existe plus de 2000 indices boursiers différents. Ils sont divisés en indices micro et macroéconomiques. Le premier montre la situation du marché dans une industrie ou une région particulière. Les indices macroéconomiques montrent une tendance générale de l'économie. Les deux sont utilisés pour analyser le marché et former des stratégies d'investissement solides.",
							hi: '2000 से अधिक विभिन्न शेयर सूचकांक हैं। इन्हें सूक्ष्म और व्यापक आर्थिक सूचकांकों में विभाजित किया गया है। पहला एक विशेष उद्योग या क्षेत्र में बाजार की स्थिति को दिखाता है। व्यापक आर्थिक सूचकांक अर्थव्यवस्था में सामान्य प्रवृत्ति को दर्शाते हैं। दोनों का उपयोग बाजार का विश्लेषण करने और ठोस निवेश रणनीतियाँ बनाने के लिए किया जाता है।',
							id: 'Ada lebih dari 2000 indeks saham yang berbeda. Mereka dibagi menjadi indeks mikro dan makroekonomi. Yang pertama menunjukkan situasi pasar di industri atau wilayah tertentu. Indeks makroekonomi menunjukkan tren umum dalam ekonomi. Keduanya digunakan untuk menganalisis pasar dan membentuk strategi investasi yang solid.',
							ms: 'Terdapat lebih dari 2000 indeks saham yang berbeza. Mereka dibahagikan kepada indeks mikro dan makroekonomi. Yang pertama menunjukkan keadaan pasaran dalam industri atau kawasan tertentu. Indeks makroekonomi menunjukkan tren umum dalam ekonomi. Keduanya digunakan untuk menganalisis pasaran dan membentuk strategi pelaburan yang kukuh.',
							th: 'มีดัชนีหุ้นที่แตกต่างกันมากกว่า 2000 ดัชนี พวกเขาถูกแบ่งออกเป็นดัชนีทางเศรษฐกิจขนาดเล็กและขนาดใหญ่ ดัชนีแรกแสดงถึงสถานการณ์ตลาดในอุตสาหกรรมหรือภูมิภาคเฉพาะ ดัชนีทางเศรษฐกิจขนาดใหญ่จะแสดงแนวโน้มทั่วไปในเศรษฐกิจ ทั้งสองใช้ในการวิเคราะห์ตลาดและสร้างกลยุทธ์การลงทุนที่มั่นคง',
							vi: 'Có hơn 2000 chỉ số cổ phiếu khác nhau. Chúng được chia thành các chỉ số vi mô và vĩ mô. Chỉ số trước cho thấy tình hình thị trường trong một ngành hoặc khu vực cụ thể. Các chỉ số vĩ mô cho thấy xu hướng chung của nền kinh tế. Cả hai đều được sử dụng để phân tích thị trường và hình thành các chiến lược đầu tư vững chắc.',
							bn: '২০০০টিরও বেশি বিভিন্ন স্টক সূচক রয়েছে। এগুলি মাইক্রো এবং ম্যাক্রোইকোনমিক সূচকে ভাগ করা হয়। প্রথমটি একটি নির্দিষ্ট শিল্প বা অঞ্চলে বাজারের পরিস্থিতি দেখায়। ম্যাক্রোইকোনমিক সূচকগুলি অর্থনীতির সাধারণ প্রবণতা দেখায়। উভয়ই বাজার বিশ্লেষণ এবং সঠিক বিনিয়োগ কৌশল গঠনের জন্য ব্যবহৃত হয়।',
							'zh-hans':
								'有超过2000种不同的股票指数。它们被分为微观和宏观经济指数。前者显示特定行业或地区的市场情况。宏观经济指数显示经济的整体趋势。两者都用于分析市场并形成合理的投资策略。',
							'pt-br':
								'Existem mais de 2000 índices de ações diferentes. Eles são divididos em índices micro e macroeconômicos. O primeiro mostra a situação do mercado em uma indústria ou região específica. Os índices macroeconômicos mostram uma tendência geral na economia. Ambos são usados para analisar o mercado e formar estratégias de investimento sólidas.'
						})
					}
				</p>
				<p class="text-color">
					{
						t({
							en: 'Stock indices can also be internal or external. In the first case we are talking about companies operating under the jurisdiction of one country. External indices combine data on international assets. Investors track both types of indicators.',
							ar: 'يمكن أن تكون مؤشرات الأسهم أيضًا داخلية أو خارجية. في الحالة الأولى نتحدث عن الشركات التي تعمل تحت ولاية دولة واحدة. تجمع المؤشرات الخارجية البيانات حول الأصول الدولية. يتتبع المستثمرون كلا النوعين من المؤشرات.',
							es: 'Los índices bursátiles también pueden ser internos o externos. En el primer caso, hablamos de empresas que operan bajo la jurisdicción de un solo país. Los índices externos combinan datos sobre activos internacionales. Los inversores siguen ambos tipos de indicadores.',
							fr: "Les indices boursiers peuvent également être internes ou externes. Dans le premier cas, nous parlons d'entreprises opérant sous la juridiction d'un seul pays. Les indices externes combinent des données sur des actifs internationaux. Les investisseurs suivent les deux types d'indicateurs.",
							hi: 'शेयर इंडेक्स आंतरिक या बाह्य भी हो सकते हैं। पहले मामले में हम उस देश के अधिकार क्षेत्र में काम करने वाली कंपनियों के बारे में बात कर रहे हैं। बाहरी इंडेक्स अंतरराष्ट्रीय संपत्तियों के डेटा को एकीकृत करते हैं। निवेशक दोनों प्रकार के संकेतकों का ट्रैक रखते हैं।',
							id: 'Indeks saham juga bisa bersifat internal atau eksternal. Dalam kasus pertama, kita berbicara tentang perusahaan yang beroperasi di bawah yurisdiksi satu negara. Indeks eksternal menggabungkan data tentang aset internasional. Investor melacak kedua jenis indikator.',
							ms: 'Indeks saham juga boleh menjadi dalaman atau luaran. Dalam kes pertama, kita bercakap tentang syarikat yang beroperasi di bawah bidang kuasa satu negara. Indeks luaran menggabungkan data mengenai aset antarabangsa. Pelabur menjejak kedua-dua jenis penunjuk.',
							th: 'ดัชนีหุ้นยังสามารถเป็นภายในหรือภายนอกได้ ในกรณีแรกเรากำลังพูดถึงบริษัทที่ดำเนินงานภายใต้เขตอำนาจของประเทศหนึ่ง ประเทศภายนอกรวมข้อมูลเกี่ยวกับสินทรัพย์ระหว่างประเทศ นักลงทุนติดตามทั้งสองประเภทของตัวบ่งชี้',
							vi: 'Chỉ số chứng khoán cũng có thể là nội bộ hoặc bên ngoài. Trong trường hợp đầu tiên, chúng ta đang nói về các công ty hoạt động dưới quyền tài phán của một quốc gia. Các chỉ số bên ngoài kết hợp dữ liệu về tài sản quốc tế. Các nhà đầu tư theo dõi cả hai loại chỉ báo.',
							bn: 'শেয়ার সূচকগুলি অভ্যন্তরীণ বা বাইরেরও হতে পারে। প্রথম ক্ষেত্রে আমরা এমন কোম্পানিগুলির কথা বলছি যা এক দেশের বিচারিক ব্যবস্থার অধীনে কাজ করছে। বাইরের সূচকগুলি আন্তর্জাতিক সম্পদ সম্পর্কে তথ্য সংমিশ্রণ করে। বিনিয়োগকারীরা উভয় ধরনের সূচক ট্র্যাক করে।',
							'zh-hans':
								'股票指数也可以是内部或外部的。在第一种情况下，我们谈论的是在一个国家的管辖权下运营的公司。外部指数结合了国际资产的数据。投资者跟踪这两种类型的指标。',
							'pt-br':
								'Os índices de ações também podem ser internos ou externos. No primeiro caso, estamos falando de empresas que operam sob a jurisdição de um único país. Os índices externos combinam dados sobre ativos internacionais. Os investidores acompanham ambos os tipos de indicadores.'
						})
					}
				</p>
			</div>
		</div>
		<div class="mt-5 w-full space-y-4">
			<h1
				class="mb-5 block text-2xl font-bold capitalize text-gray-800 dark:text-white sm:text-2xl md:text-3xl lg:text-3xl"
			>
				{
					t({
						en: 'The most well-known stock indices:',
						ar: 'أكثر مؤشرات الأسهم شهرة:',
						es: 'Los índices bursátiles más conocidos:',
						fr: 'Les indices boursiers les plus connus :',
						hi: 'सबसे प्रसिद्ध शेयर इंडेक्स:',
						id: 'Indeks saham yang paling terkenal:',
						ms: 'Indeks saham yang paling terkenal:',
						th: 'ดัชนีหุ้นที่มีชื่อเสียงที่สุด:',
						vi: 'Các chỉ số chứng khoán nổi tiếng nhất:',
						bn: 'সর্বাধিক পরিচিত শেয়ার সূচক:',
						'zh-hans': '最著名的股票指数：',
						'pt-br': 'Os índices de ações mais conhecidos:'
					})
				}
			</h1>
			<p class="text-color">
				<a
					href={`/${lang}/blog/dow-jones-industrial-average-djia/`}
					class="font-semibold text-green-500 underline">Dow Jones</a
				> –
				{
					t({
						en: `<a href="/${lang}/blog/dow-jones-industrial-average-djia/" class="font-semibold text-green-500 underline">NASDAQ</a> - one of the first indices. It is the mathematical mean value of the shares of the 30 largest American companies.`,
						ar: `<a href="/${lang}/blog/استكشاف-مؤشر-داو-جونز-الصناعي-دليل-شام/" class="font-semibold text-green-500 underline">NASDAQ</a> - أحد أول المؤشرات. إنه القيمة المتوسطة الرياضية لأسهم أكبر 30 شركة أمريكية.`,
						es: `<a href="/${lang}/blog/explorando-el-promedio-industrial-dow-jones-una-guia-completa/" class="font-semibold text-green-500 underline">NASDAQ</a> - uno de los primeros índices. Es el valor medio matemático de las acciones de las 30 empresas más grandes de América.`,
						fr: `<a href="/${lang}/blog/explorer-le-dow-jones-industrial-average-un-guide-complet/" class="font-semibold text-green-500 underline">NASDAQ</a> - l'un des premiers indices. C'est la valeur moyenne mathématique des actions des 30 plus grandes entreprises américaines.`,
						hi: `<a href="/${lang}/blog/डॉव-जोन्स-औद्योगिक-औसत-की/" class="font-semibold text-green-500 underline">NASDAQ</a> - पहले के सूचकों में से एक। यह अमेरिका की 30 सबसे बड़ी कंपनियों के शेयरों का गणितीय औसत मूल्य है।`,
						id: `<a href="/${lang}/blog/menjelajahi-dow-jones-industrial-average-panduan-komprehensif/" class="font-semibold text-green-500 underline">NASDAQ</a> - salah satu indeks pertama. Ini adalah nilai rata-rata matematis dari saham 30 perusahaan terbesar Amerika.`,
						ms: `<a href="/${lang}/blog/meneroka-purata-perindustrian-dow-jones-panduan-komprehensif/" class="font-semibold text-green-500 underline">NASDAQ</a> - salah satu indeks pertama. Ia adalah nilai purata matematik bagi saham 30 syarikat terbesar Amerika.`,
						th: `<a href="/${lang}/blog/สํารวจค่าเฉลี่ยอุตสาหก/" class="font-semibold text-green-500 underline">NASDAQ</a> - หนึ่งในดัชนีแรกๆ เป็นค่าเฉลี่ยทางคณิตศาสตร์ของหุ้นของ 30 บริษัทชั้นนำในอเมริกา`,
						vi: `<a href="/${lang}/blog/kham-pha-chi-so-trung-binh-cong-nghiep-dow-jones-huong-dan-toan-dien/" class="font-semibold text-green-500 underline">NASDAQ</a> - một trong những chỉ số đầu tiên. Đây là giá trị trung bình toán học của cổ phiếu của 30 công ty lớn nhất của Mỹ.`,
						bn: `<a href="/${lang}/blog/dow-jones-industrial-average-djia/" class="font-semibold text-green-500 underline">NASDAQ</a> - প্রথম সূচকগুলির মধ্যে একটি। এটি আমেরিকার 30 বৃহত্তম কোম্পানির শেয়ারের গাণিতিক গড় মূল্য।`,
						'zh-hans': `<a href="/${lang}/blog/探索道琼斯工业平均指数：综合指南/" class="font-semibold text-green-500 underline">NASDAQ</a> - 第一个指数之一。它是30家美国最大公司的股票的数学平均值。`,
						'pt-br': `<a href="/${lang}/blog/explorando-a-media-industrial-do-dow-jones-um-guia-abrangente/" class="font-semibold text-green-500 underline">NASDAQ</a> - um dos primeiros índices. É o valor médio matemático das ações das 30 maiores empresas americanas.`
					})
				}
			</p>
			<p class="text-color">
				<span class="font-semibold text-gray-800 underline dark:text-white">S&P 500</span> –
				{
					t({
						en: 'an index reflecting the total capitalization of 500 large American companies listed on the stock exchange.',
						ar: 'مؤشر يعكس القيمة السوقية الإجمالية لـ 500 شركة أمريكية كبيرة مدرجة في البورصة.',
						es: 'un índice que refleja la capitalización total de 500 grandes empresas americanas que cotizan en bolsa.',
						fr: 'un indice reflétant la capitalisation totale de 500 grandes entreprises américaines cotées en bourse.',
						hi: 'एक ऐसा सूचकांक जो स्टॉक एक्सचेंज में सूचीबद्ध 500 बड़ी अमेरिकी कंपनियों की कुल पूंजीकरण को दर्शाता है।',
						id: 'indeks yang mencerminkan kapitalisasi total dari 500 perusahaan besar Amerika yang terdaftar di bursa saham.',
						ms: 'indeks yang mencerminkan permodalan keseluruhan 500 syarikat besar Amerika yang tersenarai di bursa saham.',
						th: 'ดัชนีที่สะท้อนมูลค่ารวมของ 500 บริษัทใหญ่ในอเมริกาที่จดทะเบียนในตลาดหลักทรัพย์',
						vi: 'một chỉ số phản ánh tổng vốn hóa của 500 công ty lớn của Mỹ niêm yết trên sàn chứng khoán.',
						bn: 'একটি সূচক যা স্টক এক্সচেঞ্জে তালিকাভুক্ত 500টি বড় আমেরিকান কোম্পানির মোট মূলধনকে প্রতিফলিত করে।',
						'zh-hans': '一个反映在证券交易所上市的500家大型美国公司的总市值的指数。',
						'pt-br':
							'um índice que reflete a capitalização total de 500 grandes empresas americanas listadas na bolsa de valores.'
					})
				}
			</p>
			<p
				class="text-color"
				set:html={t({
					en: `<a href="/${lang}/blog/nasdaq-index-us100/" class="font-semibold text-green-500 underline">NASDAQ</a> – the indicator reflects the total capitalization of companies registered on the same stock exchange. This index is comprised of companies that operate in the sphere of technology.`,
					ar: `<a href="/${lang}/blog/فهم-مؤشر-ناسداك-دليل-شامل-لمعيار-سوق-ال/" class="font-semibold text-green-500 underline">NASDAQ</a> – يشير المؤشر إلى القيمة السوقية الإجمالية للشركات المسجلة في نفس البورصة. يتكون هذا المؤشر من الشركات التي تعمل في مجال التكنولوجيا.`,
					es: `<a href="/${lang}/blog/comprender-el-indice-nasdaq-una-guia-completa-del-indice-de-referencia-del-mercado-de-valores-centrado-en-la-tecnologia/" class="font-semibold text-green-500 underline">NASDAQ</a> – el indicador refleja la capitalización total de las empresas registradas en la misma bolsa. Este índice está compuesto por empresas que operan en el ámbito de la tecnología.`,
					fr: `<a href="/${lang}/blog/comprendre-lindice-nasdaq-un-guide-complet-de-lindice-de-reference-boursier-centre-sur-la-technologie/" class="font-semibold text-green-500 underline">NASDAQ</a> – l\'indicateur reflète la capitalisation totale des entreprises enregistrées sur la même bourse. Cet indice est composé d\'entreprises qui opèrent dans le domaine de la technologie.`,
					hi: `<a href="/${lang}/blog/नैस्डैक-इंडेक्स-को-समझना/" class="font-semibold text-green-500 underline">NASDAQ</a> – यह संकेतक उसी स्टॉक एक्सचेंज में पंजीकृत कंपनियों की कुल पूंजीकरण को दर्शाता है। इस सूचकांक में उन कंपनियों शामिल हैं जो प्रौद्योगिकी के क्षेत्र में काम करती हैं।`,
					id: `<a href="/${lang}/blog/memahami-indeks-nasdaq-panduan-komprehensif-untuk-tolok-ukur-pasar-saham-yang-berpusat-pada-teknologi/" class="font-semibold text-green-500 underline">NASDAQ</a> – indikator ini mencerminkan kapitalisasi total perusahaan yang terdaftar di bursa yang sama. Indeks ini terdiri dari perusahaan yang beroperasi di bidang teknologi.`,
					ms: `<a href="/${lang}/blog/memahami-indeks-nasdaq-panduan-komprehensif-untuk-penanda-aras-pasaran-saham-berpusatkan-teknologi/" class="font-semibold text-green-500 underline">NASDAQ</a> – indikator ini mencerminkan jumlah permodalan syarikat yang didaftarkan di bursa yang sama. Indeks ini terdiri daripada syarikat yang beroperasi dalam bidang teknologi.`,
					th: `<a href="/${lang}/blog/ทําความเข้าใจดัชนี-nasdaq-คู่/" class="font-semibold text-green-500 underline">NASDAQ</a> – ตัวชี้วัดนี้สะท้อนถึงมูลค่าหลักทรัพย์รวมของบริษัทที่จดทะเบียนในตลาดหุ้นเดียวกัน ดัชนีนี้ประกอบด้วยบริษัทที่ดำเนินงานในสาขาเทคโนโลยี`,
					vi: `<a href="/${lang}/blog/hieu-ve-chi-so-nasdaq-huong-dan-toan-dien-ve-diem-chuan-thi-truong-chung-khoan-tap-trung-vao-cong-nghe/" class="font-semibold text-green-500 underline">NASDAQ</a> – chỉ số này phản ánh tổng vốn hóa của các công ty được niêm yết trên sàn giao dịch chứng khoán đó. Chỉ số này bao gồm các công ty hoạt động trong lĩnh vực công nghệ.`,
					bn: `<a href="/${lang}/blog/dow-jones-industrial-average-djia/" class="font-semibold text-green-500 underline">NASDAQ</a> – সূচকটি একই স্টক এক্সচেঞ্জে নিবন্ধিত কোম্পানিগুলির মোট মূলধনের প্রতিফলন। এই সূচকটিতে সেই সমস্ত কোম্পানি অন্তর্ভুক্ত রয়েছে যা প্রযুক্তির ক্ষেত্রে কাজ করে।`,
					'zh-hans': `<a href="/${lang}/blog/了解纳斯达克指数：以技术为中心的股票市场基准/" class="font-semibold text-green-500 underline">NASDAQ</a> – 该指标反映了在同一证券交易所注册公司的总市值。该指数由在技术领域运营的公司组成。`,
					'pt-br': `<a href="/${lang}/blog/entendendo-o-indice-nasdaq-um-guia-abrangente-para-o-benchmark-do-mercado-de-acoes-centrado-em-tecnologia/" class="font-semibold text-green-500 underline">NASDAQ</a> – o indicador reflete a capitalização total das empresas registradas na mesma bolsa. Este índice é composto por empresas que operam na esfera da tecnologia.`
				})}
			/>
			<p class="text-color">
				<span class="font-semibold text-gray-800 underline dark:text-white">NYSE</span> – {
					t({
						en: 'this index is calculated based on the level of capitalization of all companies (not only American) whose shares are traded on the New York Stock Exchange.',
						ar: 'يتم حساب هذا المؤشر بناءً على مستوى القيمة السوقية لجميع الشركات (ليس فقط الأمريكية) التي يتم تداول أسهمها في بورصة نيويورك.',
						es: 'este índice se calcula en función del nivel de capitalización de todas las empresas (no solo estadounidenses) cuyas acciones se negocian en la Bolsa de Nueva York.',
						fr: 'cet indice est calculé sur la base du niveau de capitalisation de toutes les entreprises (pas seulement américaines) dont les actions sont négociées à la Bourse de New York.',
						hi: 'यह सूचकांक उन सभी कंपनियों (केवल अमेरिकी नहीं) की पूंजीकरण के स्तर के आधार पर गणना की जाती है जिनके शेयर न्यूयॉर्क स्टॉक एक्सचेंज में व्यापार करते हैं।',
						id: 'indeks ini dihitung berdasarkan tingkat kapitalisasi semua perusahaan (tidak hanya Amerika) yang sahamnya diperdagangkan di Bursa Efek New York.',
						ms: 'indeks ini dikira berdasarkan tahap permodalan semua syarikat (bukan hanya syarikat Amerika) yang sahamnya diniagakan di Bursa Saham New York.',
						th: 'ดัชนีนี้คำนวณจากระดับมูลค่าหลักทรัพย์ของบริษัททั้งหมด (ไม่เฉพาะบริษัทอเมริกัน) ที่มีการซื้อขายหุ้นในตลาดหลักทรัพย์นิวยอร์ก',
						vi: 'chỉ số này được tính toán dựa trên mức vốn hóa của tất cả các công ty (không chỉ riêng công ty Mỹ) có cổ phiếu được giao dịch trên Sàn giao dịch chứng khoán New York.',
						bn: 'এই সূচকটি নিউ ইয়র্ক স্টক এক্সচেঞ্জে যে সমস্ত কোম্পানির (শুধু আমেরিকান নয়) শেয়ারগুলি লেনদেন করা হয় তাদের মোট মূলধনের স্তরের ভিত্তিতে হিসাব করা হয়।',
						'zh-hans':
							'该指数是根据在纽约证券交易所交易的所有公司的资本化水平（不仅仅是美国公司）计算得出的。',
						'pt-br':
							'este índice é calculado com base no nível de capitalização de todas as empresas (não apenas americanas) cujas ações são negociadas na Bolsa de Nova York.'
					})
				}
			</p>
		</div>
	</div>
	<div class="container pb-10 pt-4">
		<GoogleSheetDataTable sheetName="Indices" client:load language={lang} />
	</div>
</Layout>
