---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import CompanyImage from '../images/companyImage.jpg'
import Button from './ui/Button.astro'
import LanguageSelect from './i18n/LanguageSelect.astro'
import { useTranslations, type Lang } from '@/i18n'
const t = useTranslations(Astro.currentLocale as Lang)
import { getRelativeLocaleUrl } from 'astro:i18n'
const locale = Astro.currentLocale as Lang
const isActive = (path: string) => getRelativeLocaleUrl(locale, path) === Astro.url.pathname
---

<!-- ========== HEADER ========== -->
<header
	class="page-header relative top-0 z-[62] flex w-full flex-col flex-wrap border-b border-gray-200 bg-white dark:border-neutral-700 dark:bg-neutral-800 md:flex-nowrap md:justify-start"
>
	<!-- Topbar -->
	<div class="btn_gradient mx-auto w-full py-2">
		<div class="container flex justify-end">
			<LanguageSelect />
		</div>
	</div>
	<!-- End Topbar -->
	<nav
		class="sticky-header border-b border-gray-200 bg-white px-4 dark:border-neutral-700 dark:bg-neutral-800"
	>
		<div
			class="container relative left-0 right-0 mx-auto flex w-full items-center justify-between gap-3 p-0"
		>
			<a
				class="flex-none text-xl font-semibold dark:text-white"
				href={`/${locale}`}
				aria-label="Brand"
			>
				{
					(
						<>
							<Icon
								name="logo_dark"
								width={150}
								height={80}
								class="hs-dark-mode hs-dark-mode-active:hidden"
								href="#"
							/>
							<Icon
								name="logo_light"
								width={150}
								height={80}
								class="hs-dark-mode hidden hs-dark-mode-active:flex"
								href="#"
							/>
						</>
					)
				}
			</a>

			<div class="ms-auto flex items-center sm:order-3 sm:ms-0">
				<Button
					primary={true}
					rippleEffect={true}
					text={t({
						en: 'Open An Account',
						ar: 'فتح حساب',
						es: 'Abrir una cuenta',
						fr: 'Ouvrir un compte',
						hi: 'खाता खोलें',
						id: 'Buka Akun',
						ms: 'Buka Akaun',
						th: 'เปิดบัญชี',
						vi: 'Mở tài khoản',
						bn: 'একটি অ্যাকাউন্ট খুলুন',
						'zh-hans': '开设账户',
						'pt-br': 'Abrir uma conta'
					})}
					class="hidden rounded-full sm:block"
				/>

				<div
					class="flex gap-2 ps-3 dark:border-neutral-700 sm:my-3 sm:ms-3 sm:border-s sm:border-gray-300 sm:ps-3"
				>
					<!-- MOBILE TOOGLE MENU BUTTON -->
					<div class="lg:hidden">
						<button
							type="button"
							class="inline-flex items-center justify-center gap-2 rounded-lg border bg-white p-2 align-middle text-xs font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-dbgreen-900 focus:ring-offset-2 focus:ring-offset-white dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-white dark:focus:ring-offset-gray-800"
							data-hs-overlay="#navbar-offcanvas-menu"
							aria-controls="navbar-offcanvas-menu"
							aria-label="Toggle navigation"
						>
							{
								t({
									en: 'Menu',
									ar: 'القائمة',
									es: 'Menú',
									fr: 'Menu',
									hi: 'मेन्यू',
									id: 'Menu',
									ms: 'Menu',
									th: 'เมนู',
									vi: 'Thực đơn',
									bn: 'মেনু',
									'zh-hans': '菜单',
									'pt-br': 'Menu'
								})
							}

							<iconify-icon
								class="size-4 hs-overlay-open:hidden"
								icon="mingcute:dots-fill"
								width="16"
								height="16"
							></iconify-icon>
						</button>
					</div>
					<!-- LIGHT DARK BUTTON START-->
					<!-- darkmode button -->
					<button
						class="-mode flex size-9 items-center justify-center rounded-lg border border-gray-200 text-sm font-semibold text-gray-800 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-dbgreen-900 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700"
						id="theme-toggle"
						aria-label="Darkmode"
					>
						<iconify-icon
							icon="line-md:sunny-outline-to-moon-transition"
							width="16"
							height="16"
							class="size-4 flex-shrink-0 dark:hidden"
						></iconify-icon>
						<iconify-icon
							class="hidden size-4 flex-shrink-0 dark:block"
							icon="line-md:moon-to-sunny-outline-transition"
							width="16"
							height="16"
						></iconify-icon>
					</button>
					<!-- darkmode button -->

					<!-- LIGHT DARK BUTTON END -->
					<!-- LANGUAGE SWITCHER -->
					<button
						type="button"
						aria-label="Login"
						class="hidden size-9 items-center justify-center rounded-lg border border-gray-200 text-sm font-semibold text-gray-800 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-dbgreen-900 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 sm:flex"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							class="size-4 flex-shrink-0 hs-collapse-open:hidden"
						>
							<path
								fill="currentColor"
								d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"
							></path>
						</svg>
					</button>
					<!-- LANGUAGE SWITCHER -->
				</div>
			</div>

			<!-- Collapse -->
			<div
				id="navbar-offcanvas-menu"
				class="hs-overlay fixed start-0 top-0 z-[60] hidden h-[100vh] w-full max-w-xs grow basis-full -translate-x-full transform border-e bg-white transition-all duration-300 hs-overlay-open:translate-x-0 dark:border-e-gray-700 dark:bg-neutral-800 lg:static lg:z-40 lg:order-2 lg:block lg:h-auto lg:w-auto lg:max-w-none lg:basis-auto lg:translate-x-0 lg:border-e-transparent lg:transition-none lg:dark:border-e-transparent"
				role="dialog"
				tabindex="-1"
				aria-label="Sidebar"
				data-hs-overlay-close-on-resize
			>
				<div
					class="max-h-[85vh] overflow-hidden overflow-y-auto [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 [&::-webkit-scrollbar-track]:bg-gray-100 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 [&::-webkit-scrollbar]:w-2"
				>
					<div
						class="flex flex-col gap-0.5 px-2 py-2 lg:flex-row lg:items-center lg:gap-1 lg:px-0 lg:py-0"
					>
						<!-- Offcanvas Header -->
						<div
							class="flex items-center justify-between border-b border-b-neutral-300 p-2 dark:border-b-neutral-700 lg:hidden"
						>
							<h3
								id="hs-header-base-label"
								class="font-bold text-gray-800 dark:text-white"
							>
								{
									t({
										en: 'Menu Title',
										ar: 'عنوان القائمة',
										es: 'Título del menú',
										fr: 'Titre du menu',
										hi: 'मेनू शीर्षक',
										id: 'Judul Menu',
										ms: 'Tajuk Menu',
										th: 'ชื่อเมนู',
										vi: 'Tiêu đề menu',
										bn: 'মেনু শিরোনাম',
										'zh-hans': '菜单标题',
										'pt-br': 'Título do Menu'
									})
								}
							</h3>
							<button
								type="button"
								class="inline-flex size-8 items-center justify-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none disabled:pointer-events-none disabled:opacity-50 dark:bg-neutral-700 dark:text-neutral-400 dark:hover:bg-neutral-600 dark:focus:bg-neutral-600"
								aria-label="Close"
								data-hs-overlay="#navbar-offcanvas-menu"
							>
								<span class="sr-only">Close</span>
								<svg
									class="size-4 shrink-0"
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
								>
							</button>
						</div>
						<!-- End Offcanvas Header -->
						<div class="grow pt-3 lg:pt-0">
							<div
								class="flex flex-col gap-0.5 lg:flex-row lg:items-center lg:justify-start lg:gap-1"
							>
								<!-- Company Dropdown -->
								<div
									class="hs-dropdown [--adaptive:none] [--is-collapse:true] [--offset:25] [--strategy:static] lg:[--is-collapse:false] lg:[--strategy:fixed] lg:[--trigger:click]"
								>
									<button
										id="hs-header-base-dropdown"
										type="button"
										class="hs-dropdown-toggle flex w-full items-center rounded-lg p-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
										aria-haspopup="menu"
										aria-expanded="false"
										aria-label="Dropdown"
									>
										<svg
											class="me-3 block shrink-0 lg:me-2 lg:hidden"
											xmlns="http://www.w3.org/2000/svg"
											width="20"
											height="20"
											viewBox="0 0 256 256"
											><path
												fill="currentColor"
												d="M248 210h-18V94h2a6 6 0 0 0 0-12h-50V46h2a6 6 0 0 0 0-12H40a6 6 0 0 0 0 12h2v164H24a6 6 0 0 0 0 12h224a6 6 0 0 0 0-12M218 94v116h-36V94ZM54 46h116v164h-28v-50a6 6 0 0 0-6-6H88a6 6 0 0 0-6 6v50H54Zm76 164H94v-44h36ZM74 80a6 6 0 0 1 6-6h16a6 6 0 0 1 0 12H80a6 6 0 0 1-6-6m48 0a6 6 0 0 1 6-6h16a6 6 0 0 1 0 12h-16a6 6 0 0 1-6-6m-42 46a6 6 0 0 1 0-12h16a6 6 0 0 1 0 12Zm42-6a6 6 0 0 1 6-6h16a6 6 0 0 1 0 12h-16a6 6 0 0 1-6-6"
											></path></svg
										>

										{
											t({
												en: 'Company',
												ar: 'شركة',
												es: 'Empresa',
												fr: 'Société',
												hi: 'कंपनी',
												id: 'Perusahaan',
												ms: 'Syarikat',
												th: 'บริษัท',
												vi: 'Công ty',
												bn: 'কোম্পানি',
												'zh-hans': '公司',
												'pt-br': 'Empresa'
											})
										}
										<iconify-icon
											width="16"
											height="16"
											class="ms-auto size-4 shrink-0 duration-300 hs-dropdown-open:-rotate-180 lg:ms-1 lg:hs-dropdown-open:rotate-0"
											icon="iconamoon:arrow-down-2"
										></iconify-icon>
									</button>

									<div
										class="hs-dropdown-menu duration-[0.1ms] lg:duration-[150ms] relative top-full z-10 hidden w-full overflow-hidden ps-7 opacity-0 transition-[opacity,margin] before:absolute before:-top-4 before:start-0 before:h-5 before:w-full after:absolute after:start-[18px] after:top-1 after:h-[calc(100%-0.25rem)] after:w-0.5 after:bg-gray-100 hs-dropdown-open:opacity-100 dark:after:bg-neutral-700 dark:md:bg-neutral-800 lg:w-[600px] lg:rounded-lg lg:border lg:border-neutral-300 lg:bg-white lg:ps-0 lg:shadow-md lg:after:hidden lg:dark:border-neutral-700 dark:lg:bg-neutral-800"
										role="menu"
										aria-orientation="vertical"
										aria-labelledby="hs-header-base-dropdown"
									>
										<div
											class="grid grid-cols-1 gap-3 pt-2 lg:grid-cols-5 lg:gap-0 lg:pt-0"
										>
											<div class="col-span-2">
												<div class="space-y-0.5 py-1 md:px-1 lg:p-3">
													<a
														class="navLinkStyle"
														href={getRelativeLocaleUrl(
															locale,
															'/why-dbinvesting'
														)}
													>
														{
															t({
																en: 'Why DBinvesting',
																ar: 'لماذا DBinvesting',
																es: 'Por qué DBinvesting',
																fr: 'Pourquoi DBinvesting',
																hi: 'DBinvesting क्यों',
																id: 'Mengapa DBinvesting',
																ms: 'Mengapa DBinvesting',
																th: 'ทำไมถึงเลือก DBinvesting',
																vi: 'Tại sao lại chọn DBinvesting',
																bn: 'DBinvesting কেন',
																'zh-hans': '为什么选择 DBinvesting',
																'pt-br': 'Por que DBinvesting'
															})
														}</a
													>
													<a
														class="navLinkStyle"
														href={getRelativeLocaleUrl(
															locale,
															'/about-us'
														)}
													>
														{
															t({
																en: 'About Us',
																ar: 'نبذة عنا',
																es: 'Sobre nosotros',
																fr: 'À propos de nous',
																hi: 'हमारे बारे में',
																id: 'Tentang Kami',
																ms: 'Tentang Kami',
																th: 'เกี่ยวกับเรา',
																vi: 'Về Chúng Tôi',
																bn: 'আমাদের সম্পর্কে',
																'zh-hans': '关于我们',
																'pt-br': 'Sobre Nós'
															})
														}
													</a>

													<a
														class="navLinkStyle"
														href={getRelativeLocaleUrl(
															locale,
															'/contact'
														)}
													>
														{
															t({
																en: 'Contact Us',
																ar: 'اتصل بنا',
																es: 'Contáctanos',
																fr: 'Contactez-nous',
																hi: 'हमसे संपर्क करें',
																id: 'Hubungi Kami',
																ms: 'Hubungi Kami',
																th: 'ติดต่อเรา',
																vi: 'Liên hệ với chúng tôi',
																bn: 'আমাদের যোগাযোগ করুন',
																'zh-hans': '联系我们',
																'pt-br': 'Entre em contato conosco'
															})
														}
													</a>

													<a
														class="navLinkStyle"
														href="https://careers.dbinvesting.com/"
														target="_blank"
													>
														{
															t({
																en: 'Careers',
																ar: 'الوظائف',
																es: 'Carreras',
																fr: 'Carrières',
																hi: 'करियर',
																id: 'Karir',
																ms: 'Kerjaya',
																th: 'อาชีพ',
																vi: 'Sự nghiệp',
																bn: 'ক্যারিয়ার',
																'zh-hans': '职业',
																'pt-br': 'Carreiras'
															})
														}
													</a>
													<a
														class="navLinkStyle"
														href={getRelativeLocaleUrl(
															locale,
															'/awards'
														)}
													>
														{
															t({
																en: 'Awards',
																ar: 'جوائز',
																es: 'Premios',
																fr: 'Prix',
																hi: 'पुरस्कार',
																id: 'Penghargaan',
																ms: 'Anugerah',
																th: 'รางวัล',
																vi: 'Giải thưởng',
																bn: 'পুরস্কার',
																'zh-hans': '奖项',
																'pt-br': 'Prêmios'
															})
														}
													</a>
													<a
														class="navLinkStyle"
														href={getRelativeLocaleUrl(
															locale,
															'/regulation'
														)}
													>
														{
															t({
																en: 'Regulation',
																ar: 'تنظيم',
																es: 'Regulación',
																fr: 'Réglementation',
																hi: 'नियमन',
																id: 'Regulasi',
																ms: 'Peraturan',
																th: 'ระเบียบ',
																vi: 'Quy định',
																bn: 'নিয়ম',
																'zh-hans': '规章',
																'pt-br': 'Regulamentação'
															})
														}
													</a>
													<a
														class="navLinkStyle"
														href="https://partners.dbinvesting.com/"
														target="_blank"
													>
														{
															t({
																en: 'Partnership',
																ar: 'الشراكة',
																es: 'Asociación',
																fr: 'Partenariat',
																hi: 'साझेदारी',
																id: 'Kemitraan',
																ms: 'Perkongsian',
																th: 'ความร่วมมือ',
																vi: 'Quan hệ đối tác',
																bn: 'অংশীদারিত্ব',
																'zh-hans': '合伙',
																'pt-br': 'Parceria'
															})
														}
													</a>
												</div>
											</div>
											<div class="col-span-3 hidden lg:block">
												<div
													class="relative h-full overflow-hidden shadow-sm"
												>
													<Image
														src={CompanyImage}
														class="h-full w-full object-cover"
														alt=""
														loading="eager"
													/>
													<div
														class="absolute inset-0 end-0 start-0 top-0 overflow-hidden bg-black/45"
													>
														<div
															class="flex h-full flex-col justify-between p-4 md:p-5"
														>
															<h3
																class="text-3xl font-bold text-white"
															>
																{
																	t({
																		en: 'Choose the Global Market Leader',
																		ar: 'اختر الشركة الرائدة في السوق العالمية',
																		es: 'Elija al líder del mercado mundial',
																		fr: 'Choisissez le leader du marché mondial',
																		hi: 'वैश्विक बाज़ार नेता चुनें',
																		id: 'Pilih Pemimpin Pasar Global',
																		ms: 'Pilih Peneraju Pasaran Global',
																		th: 'เลือกผู้นำตลาดโลก',
																		vi: 'Chọn Nhà lãnh đạo thị trường toàn cầu',
																		bn: 'গ্লোবাল মার্কেট লিডার বেছে নিন',
																		'zh-hans':
																			'选择全球市场领导者',
																		'pt-br':
																			'Escolha o Líder de Mercado Global'
																	})
																}
															</h3>
															<div>
																<a
																	href=""
																	class="btn_gradient inline h-[50px] items-center justify-center gap-2.5 rounded-[28px] px-5 py-2.5"
																>
																	<span
																		class="text-center text-base font-bold text-white"
																	>
																		{
																			t({
																				en: 'Join Us',
																				ar: 'انضم إلينا',
																				es: 'Únete a nosotros',
																				fr: 'Rejoignez-nous',
																				hi: 'हमसे जुड़ें',
																				id: 'Bergabunglah dengan Kami',
																				ms: 'Sertai Kami',
																				th: 'เข้าร่วมกับเรา',
																				vi: 'Tham gia cùng chúng tôi',
																				bn: 'আমাদের সাথে যোগ দিন',
																				'zh-hans':
																					'加入我们',
																				'pt-br':
																					'Junte-se a nós'
																			})
																		}
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Company End Dropdown -->
								<!-- Investing Dropdown -->
								<div
									class="hs-dropdown [--adaptive:none] [--is-collapse:true] [--offset:25] [--strategy:static] lg:[--is-collapse:false] lg:[--strategy:fixed] lg:[--trigger:click]"
								>
									<button
										id="hs-header-base-mega-menu-medium"
										type="button"
										class="hs-dropdown-toggle flex w-full items-center rounded-lg p-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
										aria-haspopup="menu"
										aria-expanded="false"
										aria-label="Mega Menu"
									>
										<svg
											class="me-3 block shrink-0 lg:me-2 lg:hidden"
											xmlns="http://www.w3.org/2000/svg"
											width="20"
											height="20"
											viewBox="0 0 24 24"
											><g
												fill="none"
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="1.5"
												><path d="M20 13V8h-5"></path><path
													d="m20 8l-5 5c-.883.883-1.324 1.324-1.865 1.373q-.135.012-.27 0c-.541-.05-.982-.49-1.865-1.373s-1.324-1.324-1.865-1.373a1.5 1.5 0 0 0-.27 0c-.541.05-.982.49-1.865 1.373l-3 3"
												></path></g
											></svg
										>
										{
											t({
												en: 'Investing',
												ar: 'الاستثمار',
												es: 'Invertir',
												fr: 'Investir',
												hi: 'निवेश',
												id: 'Berinvestasi',
												ms: 'Melabur',
												th: 'การลงทุน',
												vi: 'Đầu tư',
												bn: 'বিনিয়োগ করছে',
												'zh-hans': '投资',
												'pt-br': 'Investindo'
											})
										}
										<svg
											class="ms-auto size-4 shrink-0 duration-300 hs-dropdown-open:-rotate-180 lg:ms-1 lg:hs-dropdown-open:rotate-0"
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											fill="none"
											stroke="currentColor"
											stroke-width="2"
											stroke-linecap="round"
											stroke-linejoin="round"
											><path d="m6 9 6 6 6-6"></path></svg
										>
									</button>
									<div
										class="hs-dropdown-menu duration-[0.1ms] lg:duration-[150ms] relative start-0 top-full z-10 hidden w-full overflow-hidden ps-7 opacity-0 transition-[opacity,margin] before:absolute before:-top-5 before:start-0 before:h-5 before:w-full after:absolute after:start-[18px] after:top-1 after:h-[calc(100%-0.25rem)] after:w-0.5 after:bg-gray-100 hs-dropdown-open:opacity-100 dark:after:bg-neutral-700 dark:md:bg-neutral-800 lg:w-[600px] lg:rounded-lg lg:border lg:border-neutral-300 lg:bg-white lg:ps-0 lg:shadow-md lg:after:hidden lg:dark:border-neutral-700 dark:lg:bg-neutral-800"
										role="menu"
										aria-orientation="vertical"
										aria-labelledby="hs-header-base-mega-menu-medium"
									>
										<div class="">
											<div
												class="grid grid-cols-1 pt-2 lg:grid-cols-9 lg:gap-0 lg:pt-0"
											>
												<div class="col-span-3 lg:p-3">
													<div class="flex flex-col">
														<div
															class="hs-dropdown relative [--is-collapse:true] [--offset:15] [--strategy:static] [--trigger:click]"
														>
															<button
																id="hs-header-base-dropdown-sub"
																type="button"
																class="hs-dropdown-toggle flex w-full items-center rounded-lg p-2 text-sm text-gray-800 focus:outline-none dark:text-neutral-200 lg:cursor-text lg:font-bold"
															>
																{
																	t({
																		en: 'Markets',
																		ar: 'الأسواق',
																		es: 'Mercados',
																		fr: 'Marchés',
																		hi: 'बाजार',
																		id: 'Pasar',
																		ms: 'Pasaran',
																		th: 'ตลาด',
																		vi: 'Thị trường',
																		bn: 'বাজার',
																		'zh-hans': '市场',
																		'pt-br': 'Mercados'
																	})
																}
																<svg
																	class="ms-auto size-4 shrink-0 duration-300 hs-dropdown-open:-rotate-180 lg:ms-1 lg:hidden lg:hs-dropdown-open:rotate-0"
																	xmlns="http://www.w3.org/2000/svg"
																	width="24"
																	height="24"
																	viewBox="0 0 24 24"
																	fill="none"
																	stroke="currentColor"
																	stroke-width="2"
																	stroke-linecap="round"
																	stroke-linejoin="round"
																	><path d="m6 9 6 6 6-6"
																	></path></svg
																>
															</button>
															<!-- hs menu -->
															<div
																class="hs-dropdown-menu duration-[0.1ms] lg:duration-[150ms] relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-[18px] after:top-1 after:h-[calc(100%-0.25rem)] after:w-0.5 after:bg-gray-100 hs-dropdown-open:opacity-100 dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 lg:end-0 lg:top-0 lg:mt-2 lg:block lg:w-[auto] lg:ps-0 lg:opacity-100 lg:before:block lg:after:hidden"
																role="menu"
																aria-orientation="vertical"
																aria-labelledby="hs-header-base-dropdown-sub"
															>
																<div class="space-y-1 p-1">
																	<a
																		class="navLinkStyle"
																		href={getRelativeLocaleUrl(
																			locale,
																			'/contract-specs'
																		)}
																	>
																		{
																			t({
																				en: 'Contract Specs',
																				ar: 'مواصفات العقد',
																				es: 'Especificaciones del contrato',
																				fr: 'Spécifications du contrat',
																				hi: 'अनुबंध विवरण',
																				id: 'Spesifikasi Kontrak',
																				ms: 'Spesifikasi Kontrak',
																				th: 'ข้อมูลจำเพาะของสัญญา',
																				vi: 'Thông số kỹ thuật hợp đồng',
																				bn: 'চুক্তির চশমা',
																				'zh-hans':
																					'合约规格',
																				'pt-br':
																					'Especificações do Contrato'
																			})
																		}
																	</a>

																	<a
																		class="navLinkStyle"
																		href={getRelativeLocaleUrl(
																			locale,
																			'/forex'
																		)}
																	>
																		{
																			t({
																				en: 'Forex',
																				ar: 'الفوركس',
																				es: 'Forex',
																				fr: 'Forex',
																				hi: 'विदेशी मुद्रा',
																				id: 'Valas',
																				ms: 'Forex',
																				th: 'ฟอเร็กซ์',
																				vi: 'Ngoại hối',
																				bn: 'ফরেক্স',
																				'zh-hans': '外汇',
																				'pt-br': 'Forex'
																			})
																		}
																	</a>

																	<a
																		class="navLinkStyle"
																		href={getRelativeLocaleUrl(
																			locale,
																			'/metals'
																		)}
																	>
																		{
																			t({
																				en: 'Metals',
																				ar: 'المعادن',
																				es: 'Metales',
																				fr: 'Métaux',
																				hi: 'धातुओं',
																				id: 'Logam',
																				ms: 'logam',
																				th: 'ฟอเร็กซ์',
																				vi: 'Kim loại',
																				bn: 'ধাতু',
																				'zh-hans': '金属',
																				'pt-br': 'Metais'
																			})
																		}
																	</a>
																	<a
																		class="navLinkStyle"
																		href={getRelativeLocaleUrl(
																			locale,
																			'/indices'
																		)}
																	>
																		{
																			t({
																				en: 'Indices',
																				ar: 'المؤشرات',
																				es: 'Índices',
																				fr: 'Indices',
																				hi: 'सूचकांकों',
																				id: 'Indeks',
																				ms: 'Indeks',
																				th: 'ดัชนี',
																				vi: 'Chỉ số',
																				bn: 'সূচক',
																				'zh-hans': '指数',
																				'pt-br': 'Índices'
																			})
																		}
																	</a>
																	<a
																		class="navLinkStyle"
																		href={getRelativeLocaleUrl(
																			locale,
																			'/stocks'
																		)}
																	>
																		{
																			t({
																				en: 'Stocks',
																				ar: 'الأسهم',
																				es: 'Cepo',
																				fr: 'Actions',
																				hi: 'शेयरों',
																				id: 'Saham',
																				ms: 'Stok',
																				th: 'หุ้น',
																				vi: 'Cổ phiếu',
																				bn: 'স্টক',
																				'zh-hans': '股票',
																				'pt-br': 'Ações'
																			})
																		}
																	</a>
																	<a
																		class="navLinkStyle"
																		href={getRelativeLocaleUrl(
																			locale,
																			'/commodities'
																		)}
																	>
																		{
																			t({
																				en: 'Commodities',
																				ar: 'السلع الأساسية',
																				es: 'Materias primas',
																				fr: 'Matières premières',
																				hi: 'वस्तुएं',
																				id: 'Komoditas',
																				ms: 'Komoditi',
																				th: 'สินค้าโภคภัณฑ์',
																				vi: 'Hàng hóa',
																				bn: 'পণ্যসামগ্রী',
																				'zh-hans': '商品',
																				'pt-br':
																					'Commodities'
																			})
																		}
																	</a>
																	<a
																		class="navLinkStyle"
																		href={getRelativeLocaleUrl(
																			locale,
																			'/cryptocurrencies'
																		)}
																	>
																		{
																			t({
																				en: 'Cryptocurrencies',
																				ar: 'العملات المشفرة',
																				es: 'Criptomonedas',
																				fr: 'Crypto-monnaies',
																				hi: 'क्रिप्टोकरेंसी',
																				id: 'Mata Uang Kripto',
																				ms: 'Mata wang kripto',
																				th: 'สกุลเงินดิจิตอล',
																				vi: 'Tiền điện tử',
																				bn: 'ক্রিপ্টোকারেন্সি',
																				'zh-hans':
																					'加密货币',
																				'pt-br':
																					'Criptomoedas'
																			})
																		}
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-span-3 lg:p-3">
													<div class="mb-2 flex flex-col">
														<div class="space-y-0.5">
															<div
																class="hs-dropdown relative [--is-collapse:true] [--offset:15] [--strategy:static] [--trigger:click]"
															>
																<button
																	id="hs-header-base-dropdown-sub"
																	type="button"
																	class="hs-dropdown-toggle flex w-full items-center rounded-lg p-2 text-sm text-gray-800 focus:outline-none dark:text-neutral-200 lg:cursor-text lg:font-bold"
																>
																	{
																		t({
																			en: 'Accounts',
																			ar: 'الحسابات',
																			es: 'Cuentas',
																			fr: 'Comptes',
																			hi: 'हिसाब किताब',
																			id: 'Akun',
																			ms: 'Akaun',
																			th: 'บัญชี',
																			vi: 'Tài khoản',
																			bn: 'হিসাব',
																			'zh-hans': '帐户',
																			'pt-br': 'Contas'
																		})
																	}
																	<svg
																		class="ms-auto size-4 shrink-0 duration-300 hs-dropdown-open:-rotate-180 lg:ms-1 lg:hidden lg:hs-dropdown-open:rotate-0"
																		xmlns="http://www.w3.org/2000/svg"
																		width="24"
																		height="24"
																		viewBox="0 0 24 24"
																		fill="none"
																		stroke="currentColor"
																		stroke-width="2"
																		stroke-linecap="round"
																		stroke-linejoin="round"
																		><path d="m6 9 6 6 6-6"
																		></path></svg
																	>
																</button>
																<!-- hs menu -->
																<div
																	class="hs-dropdown-menu duration-[0.1ms] lg:duration-[150ms] relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-[18px] after:top-1 after:h-[calc(100%-0.25rem)] after:w-0.5 after:bg-gray-100 hs-dropdown-open:opacity-100 dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 lg:end-0 lg:top-0 lg:mt-2 lg:block lg:w-[auto] lg:ps-0 lg:opacity-100 lg:before:block lg:after:hidden"
																	role="menu"
																	aria-orientation="vertical"
																	aria-labelledby="hs-header-base-dropdown-sub"
																>
																	<div class="space-y-1 p-1">
																		<a
																			class="navLinkStyle"
																			href="#"
																		>
																			{
																				t({
																					en: 'Type of Account',
																					ar: 'نوع الحساب',
																					es: 'Tipo de cuenta',
																					fr: 'Type de compte',
																					hi: 'खाते का प्रकार',
																					id: 'Jenis Akun',
																					ms: 'Jenis Akaun',
																					th: 'ประเภทบัญชี',
																					vi: 'Loại tài khoản',
																					bn: 'অ্যাকাউন্টের ধরন',
																					'zh-hans':
																						'账户类型',
																					'pt-br':
																						'Tipo de Conta'
																				})
																			}
																		</a>

																		<a
																			class="navLinkStyle"
																			href="#"
																		>
																			{
																				t({
																					en: 'Demo',
																					ar: 'عرض توضيحي',
																					es: 'Manifestación',
																					fr: 'Démo',
																					hi: 'डेमो',
																					id: 'demonstrasi',
																					ms: 'Demo',
																					th: 'การสาธิต',
																					vi: 'Thử nghiệm',
																					bn: 'ডেমো',
																					'zh-hans':
																						'演示',
																					'pt-br':
																						'Demonstração'
																				})
																			}
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="mb-2 flex flex-col">
														<div class="space-y-0.5">
															<div
																class="hs-dropdown relative [--is-collapse:true] [--offset:15] [--strategy:static] [--trigger:click]"
															>
																<button
																	id="hs-header-base-dropdown-sub"
																	type="button"
																	class="hs-dropdown-toggle flex w-full items-center rounded-lg p-2 text-sm text-gray-800 focus:outline-none dark:text-neutral-200 lg:cursor-text lg:font-bold"
																>
																	{
																		t({
																			en: 'Platforms',
																			ar: 'المنصات',
																			es: 'Plataformas',
																			fr: 'Plateformes',
																			hi: 'प्लेटफार्म',
																			id: 'Platform',
																			ms: 'Platform',
																			th: 'แพลตฟอร์ม',
																			vi: 'Nền tảng',
																			bn: 'প্ল্যাটফর্ম',
																			'zh-hans': '平台',
																			'pt-br': 'Plataformas'
																		})
																	}

																	<svg
																		class="ms-auto size-4 shrink-0 duration-300 hs-dropdown-open:-rotate-180 lg:ms-1 lg:hidden lg:hs-dropdown-open:rotate-0"
																		xmlns="http://www.w3.org/2000/svg"
																		width="24"
																		height="24"
																		viewBox="0 0 24 24"
																		fill="none"
																		stroke="currentColor"
																		stroke-width="2"
																		stroke-linecap="round"
																		stroke-linejoin="round"
																		><path d="m6 9 6 6 6-6"
																		></path></svg
																	>
																</button>
																<!-- hs menu -->
																<div
																	class="hs-dropdown-menu duration-[0.1ms] lg:duration-[150ms] relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-[18px] after:top-1 after:h-[calc(100%-0.25rem)] after:w-0.5 after:bg-gray-100 hs-dropdown-open:opacity-100 dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 lg:end-0 lg:top-0 lg:mt-2 lg:block lg:w-[auto] lg:ps-0 lg:opacity-100 lg:before:block lg:after:hidden"
																	role="menu"
																	aria-orientation="vertical"
																	aria-labelledby="hs-header-base-dropdown-sub"
																>
																	<div class="space-y-1 p-1">
																		<a
																			class="navLinkStyle"
																			href="#"
																		>
																			{
																				t({
																					en: 'MetaTrade 5',
																					ar: 'MetaTrade 5',
																					es: 'MetaTrade 5',
																					fr: 'MetaTrader 5',
																					hi: 'मेटाट्रेडर 5',
																					id: 'MetaTrader 5',
																					ms: 'MetaTrader 5',
																					th: 'เมตาเทรดเดอร์ 5',
																					vi: 'MetaTrader 5',
																					bn: 'মেটাট্রেডার 5',
																					'zh-hans':
																						'MetaTrader 5',
																					'pt-br':
																						'MetaTrade 5'
																				})
																			}
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="flex flex-col">
														<div class="space-y-0.5">
															<div
																class="hs-dropdown relative [--is-collapse:true] [--offset:15] [--strategy:static] [--trigger:click]"
															>
																<button
																	id="hs-header-base-dropdown-sub"
																	type="button"
																	class="hs-dropdown-toggle flex w-full items-center rounded-lg p-2 text-sm text-gray-800 focus:outline-none dark:text-neutral-200 lg:cursor-text lg:font-bold"
																>
																	{
																		t({
																			en: 'Tools',
																			ar: 'الأدوات',
																			es: 'Herramientas',
																			fr: 'Outils',
																			hi: 'औजार',
																			id: 'Peralatan',
																			ms: 'Alatan',
																			th: 'เครื่องมือ',
																			vi: 'Công cụ',
																			bn: 'টুলস',
																			'zh-hans': '工具',
																			'pt-br': 'Ferramentas'
																		})
																	}

																	<svg
																		class="ms-auto size-4 shrink-0 duration-300 hs-dropdown-open:-rotate-180 lg:ms-1 lg:hidden lg:hs-dropdown-open:rotate-0"
																		xmlns="http://www.w3.org/2000/svg"
																		width="24"
																		height="24"
																		viewBox="0 0 24 24"
																		fill="none"
																		stroke="currentColor"
																		stroke-width="2"
																		stroke-linecap="round"
																		stroke-linejoin="round"
																		><path d="m6 9 6 6 6-6"
																		></path></svg
																	>
																</button>
																<!-- hs menu -->
																<div
																	class="hs-dropdown-menu duration-[0.1ms] lg:duration-[150ms] relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-[18px] after:top-1 after:h-[calc(100%-0.25rem)] after:w-0.5 after:bg-gray-100 hs-dropdown-open:opacity-100 dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 lg:end-0 lg:top-0 lg:mt-2 lg:block lg:w-[auto] lg:ps-0 lg:opacity-100 lg:before:block lg:after:hidden"
																	role="menu"
																	aria-orientation="vertical"
																	aria-labelledby="hs-header-base-dropdown-sub"
																>
																	<div class="space-y-1 p-1">
																		<a
																			class="navLinkStyle"
																			href="#"
																		>
																			{
																				t({
																					en: 'Economic Calendar',
																					ar: 'التقويم الاقتصادي',
																					es: 'Calendario económico',
																					fr: 'Calendrier économique',
																					hi: 'आर्थिक कैलेंडर',
																					id: 'Kalender Ekonomi',
																					ms: 'Kalendar Ekonomi',
																					th: 'ปฏิทินเศรษฐกิจ',
																					vi: 'Lịch kinh tế',
																					bn: 'অর্থনৈতিক ক্যালেন্ডার',
																					'zh-hans':
																						'经济日历',
																					'pt-br':
																						'Calendário Econômico'
																				})
																			}
																		</a>

																		<a
																			class="navLinkStyle"
																			href="#"
																		>
																			{
																				t({
																					en: 'Market News',
																					ar: 'أخبار السوق',
																					es: 'Noticias del mercado',
																					fr: 'Actualités du marché',
																					hi: 'बाज़ार समाचार',
																					id: 'Berita Pasar',
																					ms: 'Berita Pasaran',
																					th: 'ข่าวสารการตลาด',
																					vi: 'Tin tức thị trường',
																					bn: 'বাজারের খবর',
																					'zh-hans':
																						'市场新闻',
																					'pt-br':
																						'Notícias do Mercado'
																				})
																			}
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-span-3 lg:p-3">
													<div class="flex flex-col">
														<div class="space-y-0.5">
															<div
																class="hs-dropdown relative [--is-collapse:true] [--offset:15] [--strategy:static] [--trigger:click]"
															>
																<button
																	id="hs-header-base-dropdown-sub"
																	type="button"
																	class="hs-dropdown-toggle flex w-full items-center rounded-lg p-2 text-sm text-gray-800 focus:outline-none dark:text-neutral-200 lg:cursor-text lg:font-bold"
																>
																	{
																		t({
																			en: 'Trading',
																			ar: 'التداول',
																			es: 'Comercio',
																			fr: 'Commerce',
																			hi: 'व्यापार',
																			id: 'Jual beli',
																			ms: 'Perdagangan',
																			th: 'การซื้อขาย',
																			vi: 'Giao dịch',
																			bn: 'ট্রেডিং',
																			'zh-hans': '贸易',
																			'pt-br': 'Negociação'
																		})
																	}

																	<svg
																		class="ms-auto size-4 shrink-0 duration-300 hs-dropdown-open:-rotate-180 lg:ms-1 lg:hidden lg:hs-dropdown-open:rotate-0"
																		xmlns="http://www.w3.org/2000/svg"
																		width="24"
																		height="24"
																		viewBox="0 0 24 24"
																		fill="none"
																		stroke="currentColor"
																		stroke-width="2"
																		stroke-linecap="round"
																		stroke-linejoin="round"
																		><path d="m6 9 6 6 6-6"
																		></path></svg
																	>
																</button>
																<!-- hs menu -->
																<div
																	class="hs-dropdown-menu duration-[0.1ms] lg:duration-[150ms] relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-[18px] after:top-1 after:h-[calc(100%-0.25rem)] after:w-0.5 after:bg-gray-100 hs-dropdown-open:opacity-100 dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 lg:end-0 lg:top-0 lg:mt-2 lg:block lg:w-[auto] lg:ps-0 lg:opacity-100 lg:before:block lg:after:hidden"
																	role="menu"
																	aria-orientation="vertical"
																	aria-labelledby="hs-header-base-dropdown-sub"
																>
																	<div class="space-y-1 p-1">
																		<a
																			class="navLinkStyle"
																			href="#"
																		>
																			{
																				t({
																					en: 'Social Copy Trading',
																					ar: 'تداول النسخ الاجتماعي',
																					es: 'Comercio de copias sociales',
																					fr: 'Copy-Trading social',
																					hi: 'सोशल कॉपी ट्रेडिंग',
																					id: 'Perdagangan Salinan Sosial',
																					ms: 'Perdagangan Salinan Sosial',
																					th: 'การซื้อขายแบบคัดลอกทางสังคม',
																					vi: 'Giao dịch sao chép xã hội',
																					bn: 'সোশ্যাল কপি ট্রেডিং',
																					'zh-hans':
																						'社交复制交易',
																					'pt-br':
																						'Negociação Social Copy'
																				})
																			}
																		</a>

																		<a
																			class="navLinkStyle"
																			href="#"
																		>
																			{
																				t({
																					en: 'FIX API',
																					ar: 'إصلاح واجهة برمجة التطبيقات',
																					es: 'API DE REPARACIÓN',
																					fr: 'API de correction',
																					hi: 'फिक्स एपीआई',
																					id: 'PERBAIKI API',
																					ms: 'FIX API',
																					th: 'แก้ไข API',
																					vi: 'Sửa lỗi API',
																					bn: 'ফিক্স এপিআই',
																					'zh-hans':
																						'修复API',
																					'pt-br':
																						'API FIX'
																				})
																			}
																		</a>

																		<a
																			class="navLinkStyle"
																			href="#"
																		>
																			{
																				t({
																					en: 'Trading Hours',
																					ar: 'ساعات التداول',
																					es: 'Horario de atención',
																					fr: 'Horaires d"ouverture',
																					hi: 'ट्रेडिंग घंटे',
																					id: 'Jam Perdagangan',
																					ms: 'Waktu Dagangan',
																					th: 'ชั่วโมงการซื้อขาย',
																					vi: 'Giờ giao dịch',
																					bn: 'ট্রেডিং ঘন্টা',
																					'zh-hans':
																						'交易时间',
																					'pt-br':
																						'Horários de Negociação'
																				})
																			}
																		</a>
																		<a
																			class="navLinkStyle"
																			href="#"
																		>
																			{
																				t({
																					en: 'Trading Conditions',
																					ar: 'شروط التداول',
																					es: 'Condiciones comerciales',
																					fr: 'Conditions de négociation',
																					hi: 'ट्रेडिंग की शर्तें',
																					id: 'Kondisi Perdagangan',
																					ms: 'Syarat Dagangan',
																					th: 'เงื่อนไขการซื้อขาย',
																					vi: 'Điều kiện giao dịch',
																					bn: 'ট্রেডিং শর্তাবলী',
																					'zh-hans':
																						'交易条件',
																					'pt-br':
																						'Condições de Negociação'
																				})
																			}
																		</a>
																		<a
																			class="navLinkStyle"
																			href="#"
																		>
																			{
																				t({
																					en: 'Trading Conditions',
																					ar: 'شروط التداول',
																					es: 'Condiciones comerciales',
																					fr: 'Conditions de négociation',
																					hi: 'ट्रेडिंग की शर्तें',
																					id: 'Kondisi Perdagangan',
																					ms: 'Syarat Dagangan',
																					th: 'เงื่อนไขการซื้อขาย',
																					vi: 'Điều kiện giao dịch',
																					bn: 'ট্রেডিং শর্তাবলী',
																					'zh-hans':
																						'交易条件',
																					'pt-br':
																						'Condições de Negociação'
																				})
																			}
																		</a>
																		<a
																			class="navLinkStyle"
																			href="#"
																		>
																			{
																				t({
																					en: 'Economic Calendar Tutorial',
																					ar: 'برنامج تعليمي للتقويم الاقتصادي',
																					es: 'Tutorial del calendario económico',
																					fr: 'Tutoriel sur le calendrier économique',
																					hi: 'आर्थिक कैलेंडर ट्यूटोरियल',
																					id: 'Tutorial Kalender Ekonomi',
																					ms: 'Tutorial Kalendar Ekonomi',
																					th: 'แบบฝึกหัดปฏิทินเศรษฐกิจ',
																					vi: 'Hướng dẫn Lịch kinh tế',
																					bn: 'অর্থনৈতিক ক্যালেন্ডার টিউটোরিয়াল',
																					'zh-hans':
																						'经济日历教程',
																					'pt-br':
																						'Tutorial do Calendário Econômico'
																				})
																			}
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-span-9 hidden lg:block">
													<div
														class="relative h-[80px] overflow-hidden shadow-sm"
													>
														<div
															class="btn_gradient absolute inset-0 end-0 start-0 top-0 overflow-hidden"
														>
															<div
																class="flex h-full flex-row items-center justify-between p-4 md:p-5"
															>
																<h3
																	class="text-2xl font-bold text-white"
																>
																	{
																		t({
																			en: 'Trade with the Best Multi-Asset',
																			ar: 'تداول مع أفضل الأصول المتعددة',
																			es: 'Opere con el mejor multiactivo',
																			fr: 'Tradez avec le meilleur multi-actifs',
																			hi: 'सर्वश्रेष्ठ मल्टी-एसेट के साथ व्यापार करें',
																			id: 'Berdagang dengan Multi-Aset Terbaik',
																			ms: 'Berdagang dengan Pelbagai Aset Terbaik',
																			th: 'ซื้อขายกับสินทรัพย์หลายประเภทที่ดีที่สุด',
																			vi: 'Giao dịch với Tài sản Đa dạng Tốt nhất',
																			bn: 'সেরা মাল্টি-অ্যাসেটের সাথে ট্রেড করুন',
																			'zh-hans':
																				'与最佳多元资产进行交易',
																			'pt-br':
																				'Negocie com o Melhor Multi-Ativo'
																		})
																	}
																</h3>
																<div>
																	<a
																		href="#"
																		class="inline h-[50px] items-center justify-center gap-2.5 rounded-[28px] bg-neutral-100 px-5 py-2.5 dark:bg-neutral-800"
																	>
																		<span
																			class="text-center text-base font-bold text-black dark:text-white"
																		>
																			{
																				t({
																					en: 'Join Us',
																					ar: 'انضم إلينا',
																					es: 'Únete a nosotros',
																					fr: 'Rejoignez-nous',
																					hi: 'हमसे जुड़ें',
																					id: 'Bergabunglah dengan Kami',
																					ms: 'Sertai Kami',
																					th: 'เข้าร่วมกับเรา',
																					vi: 'Tham gia cùng chúng tôi',
																					bn: 'আমাদের সাথে যোগ দিন',
																					'zh-hans':
																						'加入我们',
																					'pt-br':
																						'Junte-se a nós'
																				})
																			}
																		</span>
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End Investing Dropdown -->
								<!-- Academy Dropdown -->
								<div
									class="hs-dropdown [--adaptive:none] [--is-collapse:true] [--offset:25] [--strategy:static] lg:[--is-collapse:false] lg:[--strategy:fixed] lg:[--trigger:click]"
								>
									<button
										id="hs-header-base-dropdown"
										type="button"
										class="hs-dropdown-toggle flex w-full items-center rounded-lg p-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
										aria-haspopup="menu"
										aria-expanded="false"
										aria-label="Dropdown"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											class="me-3 block shrink-0 lg:me-2 lg:hidden"
											width="20"
											height="20"
											viewBox="0 0 24 24"
											><path
												fill="currentColor"
												d="M12 0L2.524.994v17.368L12 24l9.476-5.638V.994L12.099.01zm8.236 17.657L12 22.557l-8.236-4.9v-7.119l8.2 4.881l.014.885l-5.626-3.349l-.008.86l5.648 3.394l.015.908l-5.647-3.36l-.008.86L12 19.01l5.703-3.412v-.862l-.008.004v-2.805l2.54-1.517v7.238zm-.006-8.162l-2.254 1.328l-1.04.613l-4.96-2.951l-.009.858l4.24 2.521l-.037.023l-.092.054l-.602.355l-3.5-2.083l-.009.859l2.763 1.643l-.652.436l-.015.01l-2.088-1.23l-.008.858l1.37.807l-1.395.837l-8.16-4.85l8.172-4.912v.001zm.006-.864l-8.28-4.882h-.002l-8.19 4.877V2.11L12 1.246l8.237.864v6.52z"
											></path></svg
										>
										{
											t({
												en: 'Academy',
												ar: 'الأكاديمية',
												es: 'Academia',
												fr: 'Académie',
												hi: 'अकादमी',
												id: 'Akademi',
												ms: 'Akademi',
												th: 'สถาบันการศึกษา',
												vi: 'Học viện',
												bn: 'একাডেমী',
												'zh-hans': '学院',
												'pt-br': 'Academia'
											})
										}

										<iconify-icon
											width="16"
											height="16"
											class="ms-auto size-4 shrink-0 duration-300 hs-dropdown-open:-rotate-180 lg:ms-1 lg:hs-dropdown-open:rotate-0"
											icon="iconamoon:arrow-down-2"
										></iconify-icon>
									</button>

									<div
										class="hs-dropdown-menu duration-[0.1ms] lg:duration-[150ms] relative top-full z-10 hidden w-full overflow-hidden ps-7 opacity-0 transition-[opacity,margin] before:absolute before:-top-4 before:start-0 before:h-5 before:w-full after:absolute after:start-[18px] after:top-1 after:h-[calc(100%-0.25rem)] after:w-0.5 after:bg-gray-100 hs-dropdown-open:opacity-100 dark:after:bg-neutral-700 dark:md:bg-neutral-800 lg:w-[600px] lg:rounded-lg lg:border lg:border-neutral-300 lg:bg-white lg:ps-0 lg:shadow-md lg:after:hidden lg:dark:border-neutral-700 dark:lg:bg-neutral-800"
										role="menu"
										aria-orientation="vertical"
										aria-labelledby="hs-header-base-dropdown"
									>
										<div
											class="grid grid-cols-1 gap-3 pt-2 lg:grid-cols-5 lg:gap-0 lg:pt-0"
										>
											<div class="col-span-2">
												<div class="space-y-0.5 py-1 md:px-1 lg:p-3">
													<a
														class="navLinkStyle"
														href="#"
													>
														{
															t({
																en: 'Ebooks',
																ar: 'الكتب الإلكترونية',
																es: 'Libros electrónicos',
																fr: 'Livres électroniques',
																hi: 'ई-पुस्तकें',
																id: 'Buku elektronik',
																ms: 'Ebook',
																th: 'อีบุ๊ค',
																vi: 'Sách điện tử',
																bn: 'ইবুক',
																'zh-hans': '电子书',
																'pt-br': 'Ebooks'
															})
														}
													</a>
													<a
														class="navLinkStyle"
														href={getRelativeLocaleUrl(
															locale,
															'/event'
														)}
													>
														{
															t({
																en: 'Live Webinars and Seminars',
																ar: 'ندوات وندوات مباشرة عبر الإنترنت',
																es: 'Seminarios web y seminarios en vivo',
																fr: 'Webinaires et séminaires en direct',
																hi: 'लाइव वेबिनार और सेमिनार',
																id: 'Seminar dan Webinar Langsung',
																ms: 'Webinar dan Seminar Langsung',
																th: 'สัมมนาออนไลน์และสัมมนาสด',
																vi: 'Hội thảo và hội nghị trực tuyến',
																bn: 'লাইভ ওয়েবিনার এবং সেমিনার',
																'zh-hans': '现场网络研讨会和研讨会',
																'pt-br':
																	'Webinars e Seminários ao Vivo'
															})
														}
													</a>

													<a
														class="navLinkStyle"
														href="#"
													>
														{
															t({
																en: 'Market Analyst Ebooks',
																ar: 'كتب محلل السوق الإلكترونية',
																es: 'Libros electrónicos de analistas de mercado',
																fr: 'Livres électroniques d"analystes de marché',
																hi: 'मार्केट एनालिस्ट ईबुक',
																id: 'Ebook Analis Pasar',
																ms: 'Ebook Penganalisis Pasaran',
																th: 'หนังสืออิเล็กทรอนิกส์สำหรับนักวิเคราะห์ตลาด',
																vi: 'Sách điện tử về phân tích thị trường',
																bn: 'বাজার বিশ্লেষক ইবুক',
																'zh-hans': '市场分析师电子书',
																'pt-br':
																	'Ebooks de Analista de Mercado'
															})
														}
													</a>

													<a
														class="navLinkStyle"
														href="#"
													>
														{
															t({
																en: 'YouTube and Spotify Poadcast',
																ar: 'يوتيوب وسبوتيفاي بودكاست',
																es: 'Podcasts de YouTube y Spotify',
																fr: 'Podcasts sur YouTube et Spotify',
																hi: 'यूट्यूब और स्पॉटिफ़ाई पॉडकास्ट',
																id: 'Podcast di YouTube dan Spotify',
																ms: 'Podcast YouTube dan Spotify',
																th: 'YouTube และ Spotify พอดแคสต์',
																vi: 'Podcast YouTube và Spotify',
																bn: 'YouTube এবং Spotify পডকাস্ট',
																'zh-hans':
																	'YouTube 和 Spotify 播客',
																'pt-br':
																	'Podcast do YouTube e Spotify'
															})
														}
													</a>
													<a
														class="navLinkStyle"
														href="#"
													>
														{
															t({
																en: 'Platform Tutorials',
																ar: 'البرامج التعليمية للمنصة',
																es: 'Tutoriales de la plataforma',
																fr: 'Tutoriels de la plateforme',
																hi: 'प्लेटफ़ॉर्म ट्यूटोरियल',
																id: 'Tutorial Platform',
																ms: 'Tutorial Platform',
																th: 'บทช่วยสอนเกี่ยวกับแพลตฟอร์ม',
																vi: 'Hướng dẫn nền tảng',
																bn: 'প্ল্যাটফর্ম টিউটোরিয়াল',
																'zh-hans': '平台教程',
																'pt-br': 'Tutoriais da Plataforma'
															})
														}
													</a>
												</div>
											</div>
											<div class="col-span-3 hidden lg:block">
												<div
													class="relative h-full overflow-hidden shadow-sm"
												>
													<Image
														src={CompanyImage}
														class="h-full w-full object-cover"
														alt=""
														loading="eager"
													/>
													<div
														class="absolute inset-0 end-0 start-0 top-0 overflow-hidden bg-black/45"
													>
														<div
															class="flex h-full flex-col justify-between p-4 md:p-5"
														>
															<h3
																class="text-3xl font-bold text-white"
															>
																{
																	t({
																		en: 'Platform Tutorials',
																		ar: 'تعلم لأفضل وسيط لدينا',
																		es: 'Aprende para nuestro mejor corredor',
																		fr: 'Apprenez pour notre meilleur courtier',
																		hi: 'हमारे सर्वश्रेष्ठ ब्रोकर के बारे में जानें',
																		id: 'Pelajari Broker Terbaik kami',
																		ms: 'Belajar untuk Broker Terbaik kami',
																		th: 'เรียนรู้กับโบรกเกอร์ที่ดีที่สุดของเรา',
																		vi: 'Tìm hiểu để trở thành Nhà môi giới tốt nhất của chúng tôi',
																		bn: 'আমাদের সেরা ব্রোকার জন্য শিখুন',
																		'zh-hans':
																			'了解我们的最佳经纪商',
																		'pt-br':
																			'Tutoriais da Plataforma'
																	})
																}
															</h3>
															<div>
																<a
																	href="#"
																	class="btn_gradient inline h-[50px] items-center justify-center gap-2.5 rounded-[28px] px-5 py-2.5"
																>
																	<span
																		class="text-center text-base font-bold text-white"
																	>
																		{
																			t({
																				en: 'Join Us',
																				ar: 'انضم إلينا',
																				es: 'Únete a nosotros',
																				fr: 'Rejoignez-nous',
																				hi: 'हमसे जुड़ें',
																				id: 'Bergabunglah dengan Kami',
																				ms: 'Sertai Kami',
																				th: 'เข้าร่วมกับเรา',
																				vi: 'Tham gia cùng chúng tôi',
																				bn: 'আমাদের সাথে যোগ দিন',
																				'zh-hans':
																					'加入我们',
																				'pt-br':
																					'Junte-se a nós'
																			})
																		}
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- end Academy Dropdown -->
								<!-- Help Dropdown -->
								<div
									class="hs-dropdown [--adaptive:none] [--is-collapse:true] [--offset:25] [--strategy:static] lg:[--is-collapse:false] lg:[--strategy:fixed] lg:[--trigger:click]"
								>
									<button
										id="hs-header-base-dropdown"
										type="button"
										class="hs-dropdown-toggle flex w-full items-center rounded-lg p-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
										aria-haspopup="menu"
										aria-expanded="false"
										aria-label="Dropdown"
									>
										<svg
											class="me-3 block shrink-0 lg:me-2 lg:hidden"
											xmlns="http://www.w3.org/2000/svg"
											width="20"
											height="20"
											viewBox="0 0 24 24"
											><g
												fill="none"
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="1.5"
												color="currentColor"
												><circle
													cx="12"
													cy="12"
													r="10"
												></circle><path
													d="M10 9a2 2 0 1 1 3.683 1.08C13.085 11.01 12 11.896 12 13v.5m-.008 3.5h.009"
												></path></g
											></svg
										>
										{
											t({
												en: 'Help Centre',
												ar: 'مركز المساعدة',
												es: 'Centro de ayuda',
												fr: 'Centre d"aide',
												hi: 'सहायता केंद्र',
												id: 'Pusat Bantuan',
												ms: 'Pusat Bantuan',
												th: 'ศูนย์ช่วยเหลือ',
												vi: 'Trung tâm trợ giúp',
												bn: 'সহায়তা কেন্দ্র',
												'zh-hans': '帮助中心',
												'pt-br': 'Central de Ajuda'
											})
										}

										<iconify-icon
											width="16"
											height="16"
											class="ms-auto size-4 shrink-0 duration-300 hs-dropdown-open:-rotate-180 lg:ms-1 lg:hs-dropdown-open:rotate-0"
											icon="iconamoon:arrow-down-2"
										></iconify-icon>
									</button>

									<div
										class="hs-dropdown-menu duration-[0.1ms] lg:duration-[150ms] relative top-full z-10 hidden w-full overflow-hidden ps-7 opacity-0 transition-[opacity,margin] before:absolute before:-top-4 before:start-0 before:h-5 before:w-full after:absolute after:start-[18px] after:top-1 after:h-[calc(100%-0.25rem)] after:w-0.5 after:bg-gray-100 hs-dropdown-open:opacity-100 dark:after:bg-neutral-700 dark:md:bg-neutral-800 lg:w-[600px] lg:rounded-lg lg:border lg:border-neutral-300 lg:bg-white lg:ps-0 lg:shadow-md lg:after:hidden lg:dark:border-neutral-700 dark:lg:bg-neutral-800"
										role="menu"
										aria-orientation="vertical"
										aria-labelledby="hs-header-base-dropdown"
									>
										<div
											class="grid grid-cols-1 gap-3 pt-2 lg:grid-cols-5 lg:gap-0 lg:pt-0"
										>
											<div class="col-span-2">
												<div class="space-y-0.5 py-1 md:px-1 lg:p-3">
													<a
														class="navLinkStyle"
														href="#"
													>
														{
															t({
																en: 'FAQ',
																ar: 'الأسئلة الشائعة',
																es: 'Preguntas frecuentes',
																fr: 'FAQ',
																hi: 'सामान्य प्रश्न',
																id: 'Tanya Jawab Umum',
																ms: 'Soalan Lazim',
																th: 'คำถามที่พบบ่อย',
																vi: 'Câu hỏi thường gặp',
																bn: 'FAQ',
																'zh-hans': '常问问题',
																'pt-br': 'FAQ'
															})
														}
													</a>
													<a
														class="navLinkStyle"
														href="#"
													>
														{
															t({
																en: 'Payment Methods',
																ar: 'طرق الدفع',
																es: 'Métodos de pago',
																fr: 'Modes de paiement',
																hi: 'भुगतान विधियाँ',
																id: 'Metode Pembayaran',
																ms: 'Kaedah Pembayaran',
																th: 'วิธีการชำระเงิน',
																vi: 'Phương thức thanh toán',
																bn: 'পেমেন্ট পদ্ধতি',
																'zh-hans': '付款方式',
																'pt-br': 'Métodos de Pagamento'
															})
														}
													</a>

													<a
														class="navLinkStyle"
														href="#"
													>
														{
															t({
																en: 'Legal Document',
																ar: 'المستند القانوني',
																es: 'Documento legal',
																fr: 'Document juridique',
																hi: 'कानूनी दस्तावेज़',
																id: 'Dokumen Hukum',
																ms: 'Dokumen Undang-undang',
																th: 'เอกสารทางกฎหมาย',
																vi: 'Văn bản pháp lý',
																bn: 'আইনি দলিল',
																'zh-hans': '法律文件',
																'pt-br': 'Documento Legal'
															})
														}
													</a>

													<a
														class="navLinkStyle"
														href="#"
													>
														{
															t({
																en: 'Privacy Policy',
																ar: 'سياسة الخصوصية',
																es: 'política de privacidad',
																fr: 'politique de confidentialité',
																hi: 'गोपनीयता नीति',
																id: 'Kebijakan Privasi',
																ms: 'Dasar Privasi',
																th: 'นโยบายความเป็นส่วนตัว',
																vi: 'Chính sách bảo mật',
																bn: 'গোপনীয়তা নীতি',
																'zh-hans': '隐私政策',
																'pt-br': 'Política de Privacidade'
															})
														}
													</a>
													<a
														class="navLinkStyle"
														href="#"
													>
														{
															t({
																en: 'Risk Disclosure',
																ar: 'الإفصاح عن المخاطر',
																es: 'Divulgación de riesgos',
																fr: 'Divulgation des risques',
																hi: 'जोखिम प्रकटीकरण',
																id: 'Pengungkapan Risiko',
																ms: 'Pendedahan Risiko',
																th: 'การเปิดเผยความเสี่ยง',
																vi: 'Tiết lộ rủi ro',
																bn: 'ঝুঁকি প্রকাশ',
																'zh-hans': '风险披露',
																'pt-br': 'Divulgação de Risco'
															})
														}
													</a>
													<a
														class="navLinkStyle"
														href="#"
													>
														{
															t({
																en: 'Insurance Coverage',
																ar: 'التغطية التأمينية',
																es: 'Cobertura de seguro',
																fr: "Couverture d'assurance",
																hi: 'बीमा कवरेज',
																id: 'Cakupan Asuransi',
																ms: 'Perlindungan Insurans',
																th: 'ความคุ้มครองประกันภัย',
																vi: 'Bảo hiểm',
																bn: 'বীমা কভারেজ',
																'zh-hans': '保险范围',
																'pt-br': 'Cobertura de Seguro'
															})
														}
													</a>
													<a
														class="navLinkStyle"
														href="#"
													>
														{
															t({
																en: 'Terms & Conditions',
																ar: 'الشروط والأحكام',
																es: 'Términos y condiciones',
																fr: 'Conditions générales',
																hi: 'नियम एवं शर्तें',
																id: 'Syarat & Ketentuan',
																ms: 'Terma & Syarat',
																th: 'ข้อกำหนดและเงื่อนไข',
																vi: 'Điều khoản & Điều kiện',
																bn: 'শর্তাবলী',
																'zh-hans': '条款和条件',
																'pt-br': 'Termos e Condições'
															})
														}
													</a>
												</div>
											</div>
											<div class="col-span-3 hidden lg:block">
												<div
													class="relative h-full overflow-hidden shadow-sm"
												>
													<Image
														src={CompanyImage}
														class="h-full w-full object-cover"
														alt=""
														loading="eager"
													/>
													<div
														class="absolute inset-0 end-0 start-0 top-0 overflow-hidden bg-black/45"
													>
														<div
															class="flex h-full flex-col justify-between p-4 md:p-5"
														>
															<h3
																class="text-3xl font-bold text-white"
															>
																{
																	t({
																		en: 'Choose the Global Market Leader',
																		ar: 'اختر الشركة الرائدة في السوق العالمية',
																		es: 'Elija al líder del mercado mundial',
																		fr: 'Conditions générales',
																		hi: 'नियम एवं शर्तें',
																		id: 'Syarat & Ketentuan',
																		ms: 'Terma & Syarat',
																		th: 'ข้อกำหนดและเงื่อนไข',
																		vi: 'Điều khoản & Điều kiện',
																		bn: 'শর্তাবলী',
																		'zh-hans': '条款和条件',
																		'pt-br':
																			'Escolha o Líder de Mercado Global'
																	})
																}
															</h3>
															<div>
																<a
																	href="#"
																	class="btn_gradient inline h-[50px] items-center justify-center gap-2.5 rounded-[28px] px-5 py-2.5"
																>
																	<span
																		class="text-center text-base font-bold text-white"
																	>
																		{
																			t({
																				en: 'Join Us',
																				ar: 'انضم إلينا',
																				es: 'Únete a nosotros',
																				fr: 'Rejoignez-nous',
																				hi: 'हमसे जुड़ें',
																				id: 'Bergabunglah dengan Kami',
																				ms: 'Sertai Kami',
																				th: 'เข้าร่วมกับเรา',
																				vi: 'Tham gia cùng chúng tôi',
																				bn: 'আমাদের সাথে যোগ দিন',
																				'zh-hans':
																					'加入我们',
																				'pt-br':
																					'Junte-se a nós'
																			})
																		}
																	</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- end Help Dropdown -->
								<a
									class="flex items-center rounded-lg p-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
									href={getRelativeLocaleUrl(locale, '/blog')}
								>
									<svg
										class="me-3 block shrink-0 lg:me-2 lg:hidden"
										xmlns="http://www.w3.org/2000/svg"
										width="20"
										height="20"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										><path
											d="M4 22h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v16a2 2 0 0 1-2 2Zm0 0a2 2 0 0 1-2-2v-9c0-1.1.9-2 2-2h2"
										></path><path d="M18 14h-8"></path><path d="M15 18h-5"
										></path><path d="M10 6h8v4h-8V6Z"></path></svg
									>
									{
										t({
											en: 'DB Economy News',
											ar: 'أخبار اقتصاد الدوحة',
											es: 'Noticias de la economía de DB',
											fr: 'Actualités économiques de DB',
											hi: 'डीबी अर्थव्यवस्था समाचार',
											id: 'Berita Ekonomi DB',
											ms: 'Berita Ekonomi DB',
											th: 'ข่าวเศรษฐกิจ DB',
											vi: 'Tin tức kinh tế DB',
											bn: 'ডিবি ইকোনমি নিউজ',
											'zh-hans': 'DB 经济新闻',
											'pt-br': 'Notícias da Economia DB'
										})
									}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Collapse -->
		</div>
	</nav>
</header>
<!-- ========== END HEADER ========== -->

<!-- css -->

<style>
	@keyframes slideDown {
		from {
			transform: translateY(-100%);
		}
		to {
			transform: translateY(0);
		}
	}
	.page-header.is-sticky .sticky-header {
		--tw-border-opacity: 1;
		position: fixed;
		box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10px);
		animation: slideDown 0.35s ease-out;
		width: 100%;
		margin: auto;
	}
</style>
<!-- script -->
