---
import axios from 'axios'
export const prerender = false

// Extract language and post slug from the URL
const { lang, slug } = Astro.params

// API URL for fetching a single post based on slug and language
const apiUrl = `${import.meta.env.WORDPRESS_REST_POST_API_URL}?slug=${slug}&lang=${lang}`
let post = null

try {
	const response = await axios.get(apiUrl)

	post = response.data.length ? response.data[0] : null
} catch (error) {
	console.error('Error fetching post:', error)
}

if (!post) {
	throw new Error(`Post with slug "${slug}" not found.`)
}
---

<h1>{post?.title?.rendered}</h1>
<p>Language: {lang.toUpperCase()}</p>
<Fragment set:html={post.content.rendered} />

<a href={`/${lang}/blog`}>← Back to Blog</a>
